<div class="container">
  <div class="btn-init" (click)="onSave()">
    <button
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Save Custom Period
    </button>
  </div>
  <p class="save-period-message">
    Custom period initialization will apply on your next scheduled reward reset
    day.<br />
    Currently set to
    <strong>{{ this.tenantSettings?.resetDayForRewards }}</strong> at
    <strong>12:00 PM</strong>.<br />
    <br />
    You can continue editing your settings until the reset occurs. <br />
    <br />
    <strong>Note:</strong> The configured challenges and rewards will be the
    same for all users during the custom period.
  </p>
  <div class="buttons">
    <div class="btn-container" (click)="addReward()">
      <span>Add Reward</span>
      <!-- add icon -->
      <svg class="wrapper_add" viewBox="0 -960 960 960">
        <path d="M447-448H208v-66h239v-239h66v239h239v66H513v239h-66v-239Z" />
      </svg>
    </div>
  </div>

  <form [formGroup]="form">
    <div formArrayName="rewards">
      <div
        class="input-group reward-container"
        [formGroup]="getFormGroup(reward)"
        *ngFor="let reward of rewardArray.controls; let i = index"
      >
        <input type="hidden" formControlName="id" />

        <div class="input-field">
          <label for="reward" class="required">Choose Reward</label>

          <ng-select
            [items]="rewardList"
            bindLabel="name"
            bindValue="id"
            placeholder="Select Reward"
            [searchable]="true"
            formControlName="selectedReward"
            class="app-select"
          >
          </ng-select>
        </div>

        <div class="input-field">
          <label for="requiredPoints" class="required">Required Points</label>
          <input
            name="requiredPoints"
            placeholder="points"
            type="number"
            [id]="i"
            formControlName="requiredPoints"
          />
        </div>

        <!-- close icon -->
        <svg
          class="input-remove"
          viewBox="0 -960 960 960"
          (click)="removeReward(i)"
        >
          <path
            d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
          />
        </svg>
      </div>
    </div>
  </form>

  <div class="buttons">
    <div class="btn-container" (click)="addChallenge()">
      <span>Add Challenge</span>
      <!-- add icon -->
      <svg class="wrapper_add" viewBox="0 -960 960 960">
        <path d="M447-448H208v-66h239v-239h66v239h239v66H513v239h-66v-239Z" />
      </svg>
    </div>
  </div>

  <form [formGroup]="form">
    <div formArrayName="challenges">
      <div
        class="input-group reward-container"
        [formGroup]="getFormGroup(challenge)"
        *ngFor="let challenge of challengeArray.controls; let i = index"
      >
        <input type="hidden" formControlName="id" />

        <div class="input-field">
          <label for="game" class="required">Choose Game</label>

          <ng-select
            [items]="gameList"
            bindLabel="name"
            bindValue="id"
            placeholder="Select Game"
            [searchable]="true"
            formControlName="selectedGame"
            class="app-select"
          >
          </ng-select>
        </div>

        <div class="input-field">
          <label for="attempts" class="required">Attempts</label>
          <input
            name="attempts"
            placeholder="attempts"
            type="number"
            [id]="i"
            formControlName="attempts"
          />
        </div>

        <div class="input-field">
          <label for="points" class="required">Points</label>
          <input
            name="points"
            placeholder="points"
            type="number"
            [id]="i"
            formControlName="points"
          />
        </div>

        <!-- close icon -->
        <svg
          class="input-remove"
          viewBox="0 -960 960 960"
          (click)="removeChallenge(i)"
        >
          <path
            d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
          />
        </svg>
      </div>
    </div>
  </form>
</div>
