<div class="container">
  <div class="btn-init" (click)="onSave()">
    <button
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      {{ "custom_period.save_custom_period" | translate }}
    </button>
  </div>
  <p
    class="save-period-message"
    *ngIf="this.periodStartDate && this.periodNextResetDate"
    [innerHTML]="
      'custom_period.period_warning_messages'
        | translate
          : {
              periodStart: getTranslateStartDateForPeriodInfo,
              periodEnd: getTranslateNextDateForPeriodInfo
            }
    "
  ></p>

  <div class="buttons">
    <div class="btn-container" (click)="addReward()">
      <span>{{ "custom_period.add_reward" | translate }}</span>
      <!-- add icon -->
      <svg class="wrapper_add" viewBox="0 -960 960 960">
        <path d="M447-448H208v-66h239v-239h66v239h239v66H513v239h-66v-239Z" />
      </svg>
    </div>
  </div>

  <ng-container *ngIf="errors.length !== 0">
    <span class="input-info input-warning" *ngFor="let error of errors">
      {{ error }}
    </span>
  </ng-container>

  <form [formGroup]="form">
    <div formArrayName="rewards">
      <div
        class="input-group reward-container"
        [formGroup]="getFormGroup(reward)"
        *ngFor="let reward of rewardArray.controls; let i = index"
      >
        <input type="hidden" formControlName="id" />

        <div class="input-field">
          <label for="reward" class="required">{{
            "custom_period.labels.select_reward" | translate
          }}</label>

          <ng-select
            [items]="rewardList"
            [bindLabel]="
              getCurrentLanguage === SupportLanguages.EN ? 'name_EN' : 'name_BG'
            "
            bindValue="id"
            [placeholder]="
              'custom_period.placeholders.select_reward' | translate
            "
            [searchable]="true"
            formControlName="selectedReward"
            class="app-select surface-elevated"
          >
          </ng-select>
        </div>

        <div class="input-field">
          <label for="requiredPoints" class="required">{{
            "custom_period.labels.required_points" | translate
          }}</label>
          <input
            name="requiredPoints"
            [placeholder]="
              'custom_period.placeholders.required_points' | translate
            "
            type="number"
            [id]="i"
            formControlName="requiredPoints"
            class="surface-elevated"
          />
        </div>

        <!-- close icon -->
        <svg
          class="input-remove"
          viewBox="0 -960 960 960"
          (click)="removeReward(i)"
        >
          <path
            d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
          />
        </svg>
      </div>
    </div>
  </form>

  <div class="buttons">
    <div class="btn-container" (click)="addChallenge()">
      <span>{{ "custom_period.add_challenge" | translate }}</span>
      <!-- add icon -->
      <svg class="wrapper_add" viewBox="0 -960 960 960">
        <path d="M447-448H208v-66h239v-239h66v239h239v66H513v239h-66v-239Z" />
      </svg>
    </div>
  </div>

  <form [formGroup]="form">
    <div formArrayName="challenges">
      <div
        class="input-group reward-container"
        [formGroup]="getFormGroup(challenge)"
        *ngFor="let challenge of challengeArray.controls; let i = index"
      >
        <input type="hidden" formControlName="id" />

        <div class="input-field">
          <label for="game" class="required">{{
            "custom_period.labels.select_game" | translate
          }}</label>

          <ng-select
            [items]="gameList"
            bindLabel="name"
            bindValue="id"
            [placeholder]="'custom_period.placeholders.select_game' | translate"
            [searchable]="true"
            formControlName="selectedGame"
            class="app-select surface-elevated"
          >
          </ng-select>
        </div>

        <div class="input-field">
          <label for="attempts" class="required">{{
            "custom_period.labels.attempts" | translate
          }}</label>
          <input
            name="attempts"
            [placeholder]="'custom_period.placeholders.attempts' | translate"
            type="number"
            [id]="i"
            formControlName="attempts"
            class="surface-elevated"
          />
        </div>

        <div class="input-field">
          <label for="points" class="required">{{
            "custom_period.labels.points" | translate
          }}</label>
          <input
            name="points"
            [placeholder]="'custom_period.placeholders.points' | translate"
            type="number"
            [id]="i"
            formControlName="points"
            class="surface-elevated"
          />
        </div>

        <!-- close icon -->
        <svg
          class="input-remove"
          viewBox="0 -960 960 960"
          (click)="removeChallenge(i)"
        >
          <path
            d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
          />
        </svg>
      </div>
    </div>
  </form>

  <div class="buttons">
    <div class="btn-container" (click)="addUniversalChallenge()">
      <span>{{ "custom_period.add_universal_challenge" | translate }}</span>
      <!-- add icon -->
      <svg class="wrapper_add" viewBox="0 -960 960 960">
        <path d="M447-448H208v-66h239v-239h66v239h239v66H513v239h-66v-239Z" />
      </svg>
    </div>
  </div>

  <form [formGroup]="form">
    <div formArrayName="universalChallenges">
      <div
        class="universal-challenge-container"
        [formGroup]="getFormGroup(universalChallenge)"
        *ngFor="
          let universalChallenge of universalChallengeArray.controls;
          let i = index
        "
      >
        <input type="hidden" formControlName="id" />

        <div class="input-field">
          <label for="universalChallenge" class="required">{{
            "custom_period.labels.select_universal_challenge" | translate
          }}</label>

          <ng-select
            [items]="universalChallengesDropdownList"
            [bindLabel]="
              getCurrentLanguage === SupportLanguages.EN ? 'name_EN' : 'name_BG'
            "
            bindValue="id"
            [placeholder]="
              'custom_period.placeholders.select_universal_challenge'
                | translate
            "
            [searchable]="true"
            formControlName="selectedUniversalChallenge"
            class="app-select-long surface-elevated"
          >
            <ng-option
              *ngFor="let item of universalChallengesDropdownList"
              [value]="item.id"
              [disabled]="item.disabled"
            >
              {{
                getCurrentLanguage === SupportLanguages.EN
                  ? item.name_EN
                  : item.name_BG
              }}
            </ng-option>
          </ng-select>
        </div>

        <div class="input-group universal-center">
          <div class="input-field">
            <label for="attempts" class="required">{{
              "custom_period.labels.attempts" | translate
            }}</label>
            <input
              name="attempts"
              [placeholder]="'custom_period.placeholders.attempts' | translate"
              type="number"
              [id]="i"
              formControlName="attempts"
              class="surface-elevated"
            />
          </div>

          <div class="input-field">
            <label for="points" class="required">{{
              "custom_period.labels.points" | translate
            }}</label>
            <input
              name="points"
              [placeholder]="'custom_period.placeholders.points' | translate"
              type="number"
              [id]="i"
              formControlName="points"
              class="surface-elevated"
            />
          </div>
          <div
            class="input-field input-with-symbol"
            *ngIf="shouldShowMinValue(universalChallenge)"
          >
            <label for="minValue" class="required">{{
              "custom_period.labels.min_value" | translate
            }}</label>
            <input
              name="minValue"
              [placeholder]="'custom_period.placeholders.min_value' | translate"
              type="number"
              [id]="i"
              formControlName="minValue"
              class="surface-elevated"
            />
            <span class="symbol">$</span>
          </div>
          <!-- close icon -->
          <svg
            class="input-remove"
            viewBox="0 -960 960 960"
            (click)="removeUniversalChallenge(i)"
          >
            <path
              d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
            />
          </svg>
        </div>
      </div>
    </div>
  </form>
</div>
