<div class="wrapper_container">
  <div class="wrapper_header_container">
    <ng-container *ngIf="this.room">
      <div class="wrapper_icons">
        <span (click)="backNavigateBtn()" class="arrow left"></span>
        <span class="header">Lobby</span>
        <app-meeple-room-menu
          *ngIf="this.room"
          [room]="this.room"
          [isCurrentUserParticipateInRoom]="this.isCurrentUserParticipateInRoom"
          (fetchData)="onLeaveCompleted()"
        ></app-meeple-room-menu>
      </div>
      <div class="wrapper_header">{{ room.name }}</div>
    </ng-container>
  </div>

  <div #chat class="wrapper_lobby">
    <div class="wrapper_lobby__chat">
      <ng-container
        *ngFor="
          let group of currentChatMessagesSubject$.asObservable() | async;
          let index = index
        "
      >
        <div
          class="wrapper_lobby__left-chat"
          *ngIf="group.senderId !== getActiveUserIdFromChat()"
        >
          <ng-container
            *ngFor="let message of group.messages; let isFirst = first"
          >
            <ng-container
              *ngIf="group.senderUsername !== getPreviousSenderUsername(index)"
            >
              <span class="username">{{ group.senderUsername }}</span>
            </ng-container>
            <div class="item">
              <div class="item__image">
                <!-- TODO: Add user IMAGE -->
                <img
                  src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                  alt=""
                />
              </div>
              <span>{{ message.text }}</span>
            </div>
          </ng-container>
        </div>
        <div
          class="wrapper_lobby__right-chat"
          *ngIf="group.senderId === getActiveUserIdFromChat()"
        >
          <ng-container
            *ngFor="let message of group.messages; let isFirst = first"
          >
            <!-- TODO: Change with real username -->
            <ng-container
              *ngIf="group.senderUsername !== getPreviousSenderUsername(index)"
            >
              <span class="username">{{ group.senderUsername }}</span>
            </ng-container>
            <div class="item">
              <span>{{ message.text }}</span>
              <div class="item__image">
                <!-- TODO: Add user IMAGE -->
                <img
                  src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                  alt=""
                />
              </div>
            </div>
          </ng-container>
        </div>

        <div class="wrapper_lobby__info-messages">
          <ng-container *ngFor="let infoMessage of group.infoMessages">
            <span class="info-message">{{ infoMessage.text }}</span>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form__group">
    <input
      [(ngModel)]="message"
      type="text"
      class="form__field"
      placeholder="search"
      name="search"
      id="search"
    />
    <label for="search" class="form__label"> Write your message here</label>
    <span class="material-symbols-outlined" (click)="addMessage()">
      arrow_forward_ios
    </span>
  </div>
</div>
