<app-game-layout>
  <div class="wrapper_info">
    <span>About the game</span>

    <div class="wrapper_info__likes">
      <span> 1432 </span>
      <span class="material-symbols-outlined"> favorite </span>
    </div>
  </div>

  <div class="wrapper_stats">
    <span>Age +12 Years</span>
    <div>
      <span class="material-symbols-outlined"> group </span>
      5 Players
    </div>
    <div>
      <span class="material-symbols-outlined"> schedule </span>
      0.5 hour/s
    </div>
  </div>

  <div class="wrapper_description">
    <span>Description</span>
    <span class="wrapper_description__text"
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad id error
      iusto vero pariatur voluptatum dolores exercitationem odit! Ea, hic.</span
    >
  </div>
</app-game-layout>
