<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
  <span class="header_name">{{
    "space_settings.header_name" | translate
  }}</span>
  <div class="info-container">
    <svg
      (click)="controls.toggleMenu()"
      class="info bump"
      viewBox="0 -960 960 960"
    >
      <path
        d="M448-284h66v-236h-66v236Zm31.82-308.92q14.64 0 24.72-9.9 10.08-9.91 10.08-24.54 0-14.64-9.91-24.72-9.9-10.07-24.53-10.07-14.64 0-24.72 9.9-10.08 9.9-10.08 24.54 0 14.63 9.91 24.71 9.9 10.08 24.53 10.08ZM480.13-88q-81.31 0-152.89-30.86-71.57-30.86-124.52-83.76-52.95-52.9-83.83-124.42Q88-398.55 88-479.87q0-81.56 30.92-153.37 30.92-71.8 83.92-124.91 53-53.12 124.42-83.48Q398.67-872 479.87-872q81.55 0 153.35 30.34 71.79 30.34 124.92 83.42 53.13 53.08 83.49 124.84Q872-561.64 872-480.05q0 81.59-30.34 152.83-30.34 71.23-83.41 124.28-53.07 53.05-124.81 84Q561.7-88 480.13-88Zm-.13-66q136.51 0 231.26-94.74Q806-343.49 806-480t-94.74-231.26Q616.51-806 480-806t-231.26 94.74Q154-616.51 154-480t94.74 231.26Q343.49-154 480-154Zm0-326Z"
      />
    </svg>
  </div>
</div>

<form [formGroup]="form" class="container">
  <div class="input-field">
    <label for="language" class="required">{{
      "space_settings.language.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.language.info" | translate
    }}</span>

    <ng-select
      id="language"
      [items]="languagesValues"
      bindValue="id"
      bindLabel="name"
      [placeholder]="'space_settings.language.placeholder' | translate"
      [searchable]="true"
      formControlName="language"
      class="app-select-long"
    >
    </ng-select>
  </div>

  <div class="input-field">
    <label for="phoneNumber" class="required">{{
      "space_settings.phone_number.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.phone_number.info" | translate
    }}</span>

    <input
      placeholder="{{ 'space_settings.phone_number.placeholder' | translate }}"
      type="text"
      id="phoneNumber"
      formControlName="phoneNumber"
    />
  </div>

  <div class="input-field">
    <label for="clubName" class="required">{{
      "space_settings.club_name.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.club_name.info" | translate
    }}</span>

    <input
      placeholder="{{ 'space_settings.club_name.placeholder' | translate }}"
      type="text"
      id="clubName"
      formControlName="clubName"
    />
  </div>

  <div class="input-field">
    <label for="averageMaxCapacity" class="required">{{
      "space_settings.average_max_capacity.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.average_max_capacity.info" | translate
    }}</span>

    <input
      placeholder="{{
        'space_settings.average_max_capacity.placeholder' | translate
      }}"
      type="number"
      id="averageMaxCapacity"
      formControlName="averageMaxCapacity"
    />
  </div>

  <div class="input-field">
    <label for="challengeRewardsCountForPeriod" class="required">{{
      "space_settings.challenge_rewards_count_for_period.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.challenge_rewards_count_for_period.info" | translate
    }}</span>

    <input
      placeholder="{{
        'space_settings.challenge_rewards_count_for_period.placeholder'
          | translate
      }}"
      type="number"
      id="challengeRewardsCountForPeriod"
      formControlName="challengeRewardsCountForPeriod"
    />
  </div>

  <div class="input-field">
    <label for="challengeInitiationDelayHours" class="required">{{
      "space_settings.challenge_initiation_delay_hours.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.challenge_initiation_delay_hours.info" | translate
    }}</span>

    <ng-select
      id="challengeInitiationDelayHours"
      [items]="delayHours"
      bindValue="name"
      bindLabel="name"
      [placeholder]="
        'space_settings.challenge_initiation_delay_hours.placeholder'
          | translate
      "
      [searchable]="true"
      formControlName="challengeInitiationDelayHours"
      class="app-select-long"
    >
    </ng-select>
  </div>

  <div class="input-field">
    <label for="resetDayForRewards" class="required">{{
      "space_settings.reset_day_for_rewards.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.reset_day_for_rewards.info" | translate
    }}</span>

    <ng-select
      id="resetDayForRewards"
      [items]="weekDaysValues"
      bindValue="id"
      bindLabel="name"
      [placeholder]="
        'space_settings.reset_day_for_rewards.placeholder' | translate
      "
      [searchable]="true"
      formControlName="resetDayForRewards"
      class="app-select-long"
    >
    </ng-select>
  </div>

   <div class="input-field">
    <label for="daysOff">{{
      "space_settings.days_off.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.days_off.info" | translate
    }}</span>

    <ng-select
      id="daysOff"
      [items]="weekDaysValues"
      bindValue="id"
      bindLabel="name"
      [placeholder]="
        'space_settings.days_off.placeholder' | translate
      "
      [searchable]="true"
      formControlName="daysOff"
      [multiple]="true"
      class="app-select-long"
    >
    </ng-select>
  </div>

  <div class="input-field">
    <label for="reservationHours" class="required">{{
      "space_settings.reservation_hours.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.reservation_hours.info" | translate
    }}</span>

    <ng-select
      id="reservationHours"
      [items]="reservationHours"
      bindValue="name"
      bindLabel="name"
      [placeholder]="'space_settings.reservation_hours.placeholder' | translate"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="true"
      formControlName="reservationHours"
      class="app-select-long"
    >
    </ng-select>
  </div>

  <div class="input-field">
    <label for="bonusTimeAfterReservationExpiration" class="required">{{
      "space_settings.bonus_time_after_reservation_expiration.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.bonus_time_after_reservation_expiration.info" | translate
    }}</span>

    <input
      placeholder="{{
        'space_settings.bonus_time_after_reservation_expiration.placeholder'
          | translate
      }}"
      type="number"
      id="bonusTimeAfterReservationExpiration"
      formControlName="bonusTimeAfterReservationExpiration"
    />
  </div>

  <div class="input-field">
    <label for="periodOfRewardReset" class="required">{{
      "space_settings.period_of_reward_reset.label" | translate
    }}</label>
    <span class="input-info">{{
      "space_settings.period_of_reward_reset.info" | translate
    }}</span>

    <ng-select
      id="periodOfRewardReset"
      [items]="periodTimeValues"
      bindValue="id"
      bindLabel="name"
      [placeholder]="
        'space_settings.period_of_reward_reset.placeholder' | translate
      "
      [searchable]="true"
      formControlName="periodOfRewardReset"
      class="app-select-long"
    >
    </ng-select>
  </div>

  <div class="input-field">
    <label for="isCustomPeriodOn" class="required">{{
      "space_settings.is_custom_period_on.label" | translate
    }}</label>
    <span class="input-info input-warning">{{
      "space_settings.is_custom_period_on.info" | translate
    }}</span>

    <ng-select
      id="isCustomPeriodOn"
      [items]="toggleStateValues"
      bindValue="id"
      bindLabel="name"
      [placeholder]="
        'space_settings.is_custom_period_on.placeholder' | translate
      "
      [searchable]="true"
      formControlName="isCustomPeriodOn"
      class="app-select-long"
    >
    </ng-select>
  </div>

  <div *ngIf="getFirstErrorMessage()" class="errors">
    {{ getFirstErrorMessage() }}
  </div>

  <button
    [disabled]="this.form.invalid"
    type="button"
    (click)="onSave()"
    class="btn btn-gray"
    [ngClass]="{
      'btn-border-green': this.form.valid,
      'btn-font-green': this.form.valid,
      'btn-border-red': this.form.invalid,
      'btn-font-red': this.form.invalid
    }"
  >
    {{ "space_settings.save_button" | translate }}
  </button>
</form>

<app-controls-menu
  #controls
  [isInfo]="true"
  [infoDescription]="
    'space_settings.controls_menu.info_description' | translate
  "
></app-controls-menu>
