<div
  #assistive_btn
  class="assistive_btn"
  (click)="openNotifications()"
  (mousedown)="startDragging($event)"
  (mouseup)="stopDragging($event)"
  (touchstart)="startDragging($event)"
  (touchend)="stopDragging($event)"
  s
  [ngStyle]="{
    top: positionY + 'px',
    left: positionX + 'px',
    opacity: buttonOpacity
  }"
>
  <span class="material-symbols-outlined icon"> notifications </span>
  <span
    *ngIf="areAnyActiveNotifications | async"
    class="icon-button__badge"
    [ngClass]="
      isLeftAligned ? 'icon-button__badge-right' : 'icon-button__badge-left'
    "
  >
  </span>
</div>
