@use "../../../shared/assets/styles/palette";
.assistive_btn {
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  padding: 1.2rem;
  background: palette.$main-blue-color;
  border-radius: 0.5rem;
  z-index: 1000;
  cursor: pointer;

  .icon {
    position: absolute;
    font-size: 2rem;
    bottom: 0.2rem;
    right: 0.2rem;
    font-variation-settings: "FILL" 1;
  }

  .icon-button__badge {
    position: absolute;
    background: palette.$main-red-color;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

    &-right {
      bottom: 1.7rem;
      left: 1.8rem;
    }

    &-left {
      bottom: 1.7rem;
      right: 1.8rem;
    }
  }
  &.open {
    opacity: 1;
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    .assistive_option {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        left: 80px;
      }
      &:nth-of-type(2) {
        top: 80px;
        left: 20px;
        transition-delay: 0.05s;
      }
      &:last-of-type {
        bottom: 80px;
        left: 20px;
        transition-delay: 0.1s;
      }
    }
  }
}

.assistive_option {
  padding: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  background: palette.$main-blue-color;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  box-shadow: inherit;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  z-index: -1;
  &:hover {
    transform: scale(1.1);
  }
  &:first-of-type {
    background: url("https://assets.codepen.io/3537853/cam.svg") no-repeat 50%/50%
      palette.$main-blue-color;
  }
  &:nth-of-type(2) {
    background: url("https://assets.codepen.io/3537853/img.svg") no-repeat 50%/ 50%
      palette.$main-blue-color;
  }
  &:last-of-type {
    background: url("https://assets.codepen.io/3537853/music.svg") no-repeat 50%
      45%/50% 45% palette.$main-blue-color;
  }
}
