<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
</div>

<div class="header">
  <span>Hello,</span>
  <span>Username</span>
</div>

<div class="wrapper_stats">
  <div class="stats">
    <span class="stats__header">
      <span>Level</span>
      <span class="xp">1498 / 1500 xp</span>
    </span>
    <div class="circular-progress">
      <div class="inner-circle"></div>
      <p class="percentage">32</p>
    </div>
  </div>
</div>

<div class="wrapper_stats_2">
    <div class="item">
        <span class="item-value">
            248
        </span>
        <span class="item-header">
            Games
        </span>
    </div>
    <span class="border-right"></span>
    <div class="item">
        <span class="item-value">
            88
        </span>
        <span class="item-header">
            Points
        </span>
    </div>
    <span class="border-right"></span>
    <div class="item">
        <span class="item-value">
            13
        </span>
        <span class="item-header">
            Events
        </span>
    </div>
</div>
