<div class="container">
  <div class="header">
    <div class="welcome">
      <span>Hello,</span>
      <span>Username</span>
    </div>

    <span class="material-symbols-outlined logout" (click)="onLogout()">
      logout
    </span>
  </div>

  <div class="wrapper_stats">
    <div class="stats">
      <span class="stats__header">
        <span>Level</span>
        <span class="xp">1498 / 1500 xp</span>
      </span>
      <div class="circular-progress">
        <div class="inner-circle"></div>
        <p class="percentage">32</p>
      </div>
    </div>
  </div>

  <div class="wrapper_stats_2">
    <div class="item">
      <span class="item-value"> 248 </span>
      <span class="item-header"> Games </span>
    </div>
    <span class="border-right"></span>
    <div class="item">
      <span class="item-value"> 88 </span>
      <span class="item-header"> Points </span>
    </div>
    <span class="border-right"></span>
    <div class="item">
      <span class="item-value"> 13 </span>
      <span class="item-header"> Events </span>
    </div>
  </div>

  <div class="wrapper_menu">
    <div class="menu">
      <div class="item-wrapper" (click)="navigateToSettings()">
        <div class="item">
          <span class="material-symbols-outlined"> settings </span>
        </div>

        <span class="item-header"> Settings </span>
      </div>
      <div class="item-wrapper" (click)="navigateToEmployeeList()">
        <div class="item">
          <span class="material-symbols-outlined"> chess_pawn </span>
        </div>

        <span class="item-header"> Employees </span>
      </div>
      <div class="item-wrapper">
        <div class="item">
          <span class="material-symbols-outlined"> event </span>
        </div>

        <span class="item-header"> Events </span>
      </div>

      <div class="item-wrapper">
        <div class="item">
          <span class="material-symbols-outlined"> rocket_launch </span>
        </div>

        <span class="item-header"> Jobs </span>
      </div>

      <div class="item-wrapper">
        <div class="item">
          <span class="material-symbols-outlined"> history </span>
        </div>

        <span class="item-header"> History </span>
      </div>
    </div>

    <span class="separator"></span>

    <div class="menu">
      <div class="item-wrapper" (click)="navigateToChallengeLeaderboard()">
        <div class="item">
          <span class="material-symbols-outlined"> social_leaderboard </span>
        </div>

        <span class="item-header"> Challenge Leaderboard </span>
      </div>
      <div class="item-wrapper" (click)="navigateToVisitorChart()">
        <div class="item">
          <span class="material-symbols-outlined"> show_chart </span>
        </div>

        <span class="item-header"> Visitor Charts </span>
      </div>
      <div class="item-wrapper" (click)="navigateToReservationsChart()">
        <div class="item">
          <span class="material-symbols-outlined"> bar_chart </span>
        </div>

        <span class="item-header"> Reservation Charts </span>
      </div>
      <div class="item-wrapper" (click)="navigateToEventCharts()">
        <div class="item">
          <span class="material-symbols-outlined"> donut_large </span>
        </div>

        <span class="item-header"> Event Charts </span>
      </div>
      <div class="item-wrapper" (click)="navigateToRewardCharts()">
        <div class="item">
          <span class="material-symbols-outlined"> finance </span>
        </div>

        <span class="item-header"> Reward Charts </span>
      </div>
    </div>
  </div>
</div>
