<app-header
  [header]="'events.management_header' | translate"
  [withBottomLine]="true"
  [withSearch]="true"
  [withMenu]="true"
  [menuItems]="headerMenuItems"
  [menuItemClickFunction]="handleHeaderMenuItemClick"
  (searchExpressionResult)="handleSearchExpression($event)"
>
</app-header>

<section class="wrapper_library">
  <div
    class="wrapper_library__item"
    *ngFor="let event of events"
    (click)="navigateToDetails(event.id)"
    [ngClass]="{ expired: isEventExpired(event.startDate) }"
  >
    <div class="wrapper_image">
      <img *ngIf="getImage(event) | async as image" [src]="image" />
    </div>
    <div class="wrapper_info">
      <div class="wrapper_title">
        {{ event.name }}
        <div class="wrapper_chips">
          <app-chip
            [color]="'orange'"
            [text]="
              'events.chip_joined'
                | translate : { peopleJoined: event.peopleJoined }
            "
            [size]="'small'"
          ></app-chip>
          <app-chip
            [color]="'red'"
            [text]="
              'events.chip_max' | translate : { maxPeople: event.maxPeople }
            "
            [size]="'small'"
          ></app-chip>
        </div>
        <div class="wrapper_chips">
          <app-chip
            [color]="'yellow'"
            [text]="event.startDate | calculateRemainingDays"
            [size]="'small'"
          ></app-chip>
          <app-chip
            [color]="'blue'"
            [text]="
              (
                event.startDate
                | date : DATE_TIME_FORMAT : undefined : this.currentLanguage
              )?.toString() ?? ''
            "
            [size]="'small'"
          ></app-chip>
        </div>
      </div>
      <div class="wrapper_right">
        <!-- menu icon -->
        <svg
          class="wrapper_menu"
          (click)="showEventMenu(event.id, $event, menu)"
          viewBox="0 -960 960 960"
        >
          <path
            d="M88-170v-103.08h103.08V-170H88Zm213.85 0v-103.08H872V-170H301.85ZM88-428.46v-103.08h103.08v103.08H88Zm213.85 0v-103.08H872v103.08H301.85ZM88-686.92V-790h103.08v103.08H88Zm213.85 0V-790H872v103.08H301.85Z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
<app-controls-menu
  #menu
  [menuItems]="itemMenuItems.asObservable()"
  (menuItemClick)="handleEventMenuItemClick($event.value, $event.event)"
></app-controls-menu>
