@use "../../../shared/assets/styles/palette";

.expired {
  opacity: 0.5;
}
.wrapper_library {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-bottom: 7rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  overflow-y: visible;

  &__item {
    position: relative;
    display: flex;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;

    border-bottom: 0.2rem solid palette.$main-gray-color;

    .wrapper_info {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wrapper_title {
        padding-left: 1rem;
        font-size: large;
        padding-top: 0.2rem;
        align-self: baseline;
        word-break: break-word;
        width: 75%;

        .wrapper_chips {
          padding-top: 0.25rem;

          app-chip {
            margin-right: 0.5rem;
          }
        }
      }

      .wrapper_right {
        display: flex;
        position: absolute;
        right: 1rem;
        bottom: 40%;
        font-size: small;
      }
      .wrapper_menu {
        width: 2rem;
        fill: palette.$main-font-color;
        background: palette.$main-icon-color;
        padding: 0.2rem;
        border-radius: 20%;
      }
    }

    .wrapper_image img {
      width: 5rem;
      height: 5rem;
      min-width: 5rem;
      min-height: 5rem;
      object-fit: cover;
      border-radius: 20px;
      border: 0.1rem solid black;
    }
  }
}
