<app-header
  header="Event Management"
  [withBottomLine]="true"
  [withSearch]="true"
  [withMenu]="true"
  [menuItems]="headerMenuItems"
  [menuItemClickFunction]="handleHeaderMenuItemClick"
  (searchExpressionResult)="handleSearchExpression($event)"
>
</app-header>

<section class="wrapper_library">
  <div
    class="wrapper_library__item"
    *ngFor="let event of events"
    (click)="navigateToDetails(event.id)"
  >
    <div class="wrapper_image">
      <img [src]="getImage(event) | async" alt="event Image" />
    </div>
    <div class="wrapper_info">
      <div class="wrapper_title">
        {{ event.name }}
        <div class="wrapper_chips">
          <app-chip
            [color]="'orange'"
            text="{{ event.peopleJoined }} joined"
            [size]="'small'"
          ></app-chip>
          <app-chip
            [color]="'red'"
            text="{{ event.maxPeople }} max"
            [size]="'small'"
          ></app-chip>
        </div>
        <div class="wrapper_chips">
          <app-chip
            [color]="'blue'"
            [text]="(event.startDate | date : 'dd/MM/yyyy')?.toString() ?? ''"
            [size]="'small'"
          ></app-chip>
          <app-chip
            [color]="'yellow'"
            [text]="event.startDate | calculateRemainingDays"
            [size]="'small'"
          ></app-chip>
        </div>
      </div>
      <div class="wrapper_right">
        <span
          class="material-symbols-outlined wrapper_menu"
          (click)="showEventMenu(event.id, $event, menu)"
        >
          lists
        </span>
      </div>
    </div>
  </div>
</section>
<app-controls-menu
  #menu
  [menuItems]="itemMenuItems.asObservable()"
  (menuItemClick)="handleEventMenuItemClick($event.value, $event.event)"
></app-controls-menu>
