<app-header Recommended="Club Space" [withBottomLine]="true"> </app-header>

<div class="wrapper_btns">
  <button class="btn btn__small btn-gray btn-font-green btn-border-green">
    Create Table
  </button>
  <button class="btn btn__small btn-gray btn-font-yellow btn-border-yellow">
    Join Table
  </button>
</div>

<div class="wrapper_tabs">
  <div class="wrapper_tabs__tab">
    <span class="wrapper_tabs__tab-header">People In Club</span>
    <div class="info">
      <span class="material-symbols-outlined"> group </span>
      <span class="info__count">23</span>
    </div>
  </div>
  <div class="wrapper_tabs__tab">
    <span class="wrapper_tabs__tab-header">Online tables</span>
    <div class="info">
      <span class="material-symbols-outlined"> workspaces </span>
      <span class="info__count">23</span>
    </div>
  </div>
</div>
