<app-header
  Recommended="System Rewards"
  [withSearch]="true"
  [withBackBtn]="true"
  [withBottomLine]="true"
  (searchExpressionResult)="handleSearchExpression($event)"
  (backClicked)="backNavigateBtn()"
></app-header>

<!-- <div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
  <div class="info-container">
    <span class="material-symbols-outlined info" (click)="showMenu()">
      info
    </span>

    <div class="qr-code-info" *ngIf="isMenuVisible">
      <span> QR Code Exist for the current game </span>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="buttons">
    <div class="btn-container" (click)="toggleRewardForm()">
      <ng-container *ngIf="!editRewardId">
        <span>Add Reward</span>

        <span
          *ngIf="!showRewardForm"
          class="material-symbols-outlined wrapper_add"
        >
          add
        </span>
      </ng-container>
      <ng-container *ngIf="editRewardId">
        <span>Update Reward</span>

        <span
          *ngIf="!showRewardForm"
          class="material-symbols-outlined wrapper_add"
        >
          edit
        </span>
      </ng-container>
      <span
        *ngIf="showRewardForm"
        class="material-symbols-outlined wrapper_add"
      >
        close
      </span>
    </div>

    <div class="btn-container">
      <span>Total: {{ rewardList.length }}</span>
    </div>
  </div>

  <form [formGroup]="form" *ngIf="showRewardForm">
    <div class="reward-container">
      <div class="close-container">
        <span
          class="material-symbols-outlined input-remove"
          (click)="toggleRewardForm()"
        >
          close
        </span>
      </div>
      <div class="wrapper">
        <div class="inputs">
          <div class="upload-icon">
            <input
              type="file"
              id="file-upload"
              accept="image/*"
              (change)="onFileSelected($event)"
            />
            <label for="file-upload">
              <div class="image-preview">
                <img
                  [src]="
                    imagePreview ||
                    '../../../../../shared/assets/images/upload_img.svg'
                  "
                  alt="Selected Image"
                />
              </div>
            </label>
          </div>
          <div class="input-group">
            <div class="input-field">
              <label for="level" class="required">Choose Level</label>

              <ng-select
                [items]="rewardLevels"
                bindValue="id"
                bindLabel="name"
                placeholder="Select Level"
                [searchable]="true"
                formControlName="selectedLevel"
                class="app-select"
              >
              </ng-select>
            </div>

            <div class="input-field">
              <label for="requiredPoints" class="required"
                >Required Points</label
              >
              <input
                name="requiredPoints"
                placeholder="points"
                type="number"
                id="requiredPoints"
                formControlName="requiredPoints"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="input-field">
              <label for="Name" class="required">Name</label>
              <input
                name="name"
                placeholder="name"
                type="text"
                id="name"
                formControlName="name"
              />
            </div>

            <div class="input-field">
              <label for="description" class="required">Description</label>
              <input
                name="description"
                placeholder="description"
                type="text"
                id="description"
                formControlName="description"
              />
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="getFirstErrorMessage()" class="errors">
        {{ getFirstErrorMessage() }}
      </div>

      <button
        [disabled]="this.form.invalid"
        type="button"
        class="btn btn-gray create-btn"
        *ngIf="!this.editRewardId"
        (click)="onAddReward()"
        [ngClass]="{
          'btn-border-green': this.form.valid,
          'btn-font-green': this.form.valid,
          'btn-border-red': this.form.invalid,
          'btn-font-red': this.form.invalid
        }"
      >
        Create
      </button>

      <button
      [disabled]="this.form.invalid"
      type="button"
      class="btn btn-gray create-btn"
      *ngIf="this.editRewardId"
      (click)="onUpdateReward()"
      [ngClass]="{
        'btn-border-yellow': this.form.valid,
        'btn-font-yellow': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Update
    </button>
    </div>
  </form>
</div>

<section class="wrapper_library">
  <div *ngFor="let reward of rewardList" class="wrapper_library__item">
    <div class="wrapper_image">
      <img [src]="reward.imageId | rewardImage" alt="Reward Image" />
    </div>
    <div class="wrapper_info">
      <div class="wrapper_title">
        {{ reward.name }}
        <div class="wrapper_description">
          {{ reward.description }}
        </div>
      </div>
      <div class="wrapper_right">
        <span
          class="material-symbols-outlined icon"
          (click)="fillEditRewardForm(reward.id)"
        >
          edit
        </span>
        <span class="material-symbols-outlined icon"> delete </span>
      </div>
    </div>
  </div>
</section>
