<div class="wrapper_layout">
  <div class="wrapper_icons">
    <span (click)="backNavigateBtn()" class="arrow left"></span>
    <span class="header_name">{{ game.name }}</span>
    <span
      class="material-symbols-outlined heart"
      (click)="toggleGameLikeStatus()"
      [ngClass]="{ 'heart-full': game.isLiked }"
    >
      favorite
    </span>
  </div>

  <div class="wrapper_image">
    <img [src]="game.imageId| gameImage" alt="Game Image">
  </div>

  <div class="wrapper_navigation">
    <span
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      class="{{ item.class }} {{ item.enabled ? '' : 'disabled' }}"
      >{{ item.label }}</span
    >
  </div>

  <ng-content></ng-content>
</div>
