<div class="wrapper_layout">
  <div class="wrapper_icons">
    <span (click)="backNavigateBtn()" class="arrow left"></span>
    <span class="header_name">{{ game.name }}</span>
    <span class="material-symbols-outlined heart"> favorite </span>
  </div>

  <div class="wrapper_image">
    <img [src]="game.imageUrl" alt="" />
  </div>

  <div class="wrapper_navigation">
    <span class="active">Statistics</span>
    <span>Availability</span>
    <span>Reviews</span>
  </div>

  <ng-content></ng-content>
</div>
