<div class="wrapper_layout">
  <div class="wrapper_icons">
    <span (click)="backNavigateBtn()" class="arrow left"></span>
    <span class="header_name">{{ game.name }}</span>
    <ng-container *ngIf="isQrCodeVisible">
      <a
        *ngIf="this.game.id"
        (click)="openQrCodeDialog()"
        class="wrapper_qrCode"
      >
        <img src="../../../../../shared/assets/images/qr-code.png" alt="" />
      </a>
    </ng-container>
    <ng-container *ngIf="!isQrCodeVisible">
      <span
        class="material-symbols-outlined heart"
        (click)="toggleGameLikeStatus()"
        [ngClass]="{ 'heart-full': game.isLiked }"
      >
        favorite
      </span>
    </ng-container>
  </div>

  <div class="wrapper_image">
    <img
      [src]="ImageEntityType.Games | entityImage : game.imageId | async"
      alt="Game Image"
    />
  </div>

  <div class="wrapper_navigation">
    <span
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      class="{{ item.class }} {{ item.enabled ? '' : 'disabled' }}"
      >{{ item.label }}</span
    >
  </div>

  <ng-content></ng-content>
</div>
