@use "../../../../../shared/assets/styles/palette";

.wrapper_layout {
    overflow-y: visible;
    padding-bottom: 8rem;

    .wrapper_icons {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        padding-top: 1rem;
        align-items: center;

        .wrapper_qrCode img {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
        }

        .header_name {
            font-size: 1.5rem;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            word-wrap: break-word;
            width: 70%;
            text-align: center;
        }

        .arrow {
            width: 3rem;
            height: 3rem;
            display: inline-block;
            position: relative;
            border: 0.1rem solid palette.$main-icon-color;
            border-radius: 2.5rem;

            &::before {
                content: '';
                display: block;
                width: 0.75rem;
                height: 0.75rem;
                top: 65%;
                left: 63%;
                border-style: solid;
                border-color: palette.$main-icon-color;
                border-width: 0.2rem 0.2rem 0 0;
                position: absolute;
                transform-origin: 50% 50%;
            }

            &.left::before {
                transform: rotate(-135deg);
                margin: -0.9rem 0 0 -0.6rem;
            }
        }

        .heart {
            width: 3rem;
            height: 3rem;
            color: palette.$main-red-color;
            font-size: 3rem;
        }
    }

    .wrapper_image {
        text-align: center;

        img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 1rem;
            border: 0.1rem solid black;
        }
    }

    .wrapper_navigation {
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 2rem;

        .active {
            color: palette.$main-green-color;
            background-color: palette.$main-nav-color;
        }

        span {
            padding: 0.5rem 0.75rem;
            border-radius: 2.5rem;
        }
    }
}

.HeartAnimation {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    width: 3rem;
    height: 3rem;
    color: palette.$main-red-color;
    cursor: pointer;
}

.animate {
    animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}