<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>

  <div class="info-container">
    <span class="material-symbols-outlined info" (click)="showMenu()">
      info
    </span>

    <div class="qr-code-info" *ngIf="isMenuVisible">
      <span>
        Here you are able to see all qr-codes that are related to the selected
        game
      </span>
    </div>
  </div>
</div>

<div class="container">
  <span *ngIf="this.game" class="header"> {{this.game.name}}</span>

  <div
    *ngFor="let qrCode of qrCodes$ | async; let i = index"
    class="wrapper_library__item"
  >
    <div class="wrapper_image">
      <img
        src="https://localhost:7024/images/games/{{qrCode.fileName}}"
        alt="Game Image"
      />
    </div>

    <div class="wrapper_info">
      <div class="wrapper_title">
        Copy #{{ i }}
        <div class="wrapper_description">{{qrCode.fileName}}</div>
      </div>
    </div>
  </div>
</div>
