<div class="dialog-container">
  <h2 class="dialog-container__header" mat-dialog-title>
    {{ "qr_scanner.scan_confirm_dialog.header" | translate }}
  </h2>
  <div class="wrapper">
    <p>{{ "qr_scanner.scan_confirm_dialog.description" | translate }}</p>
    <p class="type" *ngIf="data?.type">
      {{ "qr_scanner.scan_confirm_dialog.type" | translate }}
      <strong class="blue">{{ getTranslateType}}</strong>
    </p>
  </div>
  <div class="btn_wrapper">
    <button
      mat-dialog-close
      (click)="onCancel()"
      class="btn btn__extra-small btn-gray btn-border-blue btn-font-blue"
    >
      {{ "close" | translate }}
    </button>
    <button
      mat-flat-button
      class="btn btn__small btn-gray btn-border-green btn-font-green"
      (click)="onConfirm()"
    >
      {{ "confirm" | translate }}
    </button>
  </div>
</div>
