<div class="dialog-container">
  <h3 class="dialog-container__header m-4">
    {{ "space_management.join_room_question" | translate }}
  </h3>
  <form class="input" *ngIf="this.data.withPassword">
    <div class="input-field">
      <label for="password" class="required">{{
        "space_management.add_update.labels.password" | translate
      }}</label>
      <input
        [placeholder]="
          'space_management.add_update.placeholders.enter_password' | translate
        "
        type="password"
        id="password"
        [formControl]="password"
      />
    </div>
  </form>
  <div class="errors">{{ this.data.error }}</div>
  <mat-dialog-actions>
    <button class="btn btn__small btn-red" mat-dialog-close>
      {{ "cancel" | translate }}
    </button>
    <button
      class="btn btn__small btn-orange btn-border-orange"
      (click)="join()"
      [disabled]="this.data.withPassword ? this.password.invalid : false"
    >
      {{ "space_management.join_table_btn" | translate }}
    </button>
  </mat-dialog-actions>
</div>
