.theme-dark {
  --main-background-color: #20232a;
  --main-nav-color: #31313b;
  --main-font-color: #ffffff;
  --main-icon-color: #98989d;
  --main-blue-color: #75a0ff;
  --main-gray-color: #2b2e35;
  --main-font-gray-color: #9b9b9b;
  --main-red-color: #bf3c65;
  --main-green-color: #46945b;
  --glow-yellow-color: #fccd3d;
  --chip-blue-color: #21419b;
  --chip-yellow-color: #977f33;
  --chip-orange-color: #98542b;
  --chip-red-color: #853f47;
  --main-overlay-color: #212121;
  --main-font-gray-mix-40: #5e5e5e;
  --main-fill-svg-color: #ffffff;
  --input-bg-color: #43434b;

  .svg-color-fill {
    fill: var(--main-fill-svg-color);
  }

  .svg-color-interaction-option {
    fill: var(--main-font-color);
  }
}
