@use "../styles/palette";

.input-group {
    display: flex;
    justify-content: space-between;

    .input-field {
        flex: 1;
        text-align: left;

        .ng-touched.ng-invalid {
            border: 0.1rem solid palette.$main-red-color;
        }

        // .ng-valid {
        //     border: 0.1rem solid palette.$main-green-color;
        // }

        label {
            display: block;
            font-size: 1rem;
            margin-bottom: 0.3rem;
        }

        input {
            background-color: palette.$main-nav-color;
            color: palette.$main-font-color;
            border: none;
            border-radius: 0.4rem;
            padding: 0.7rem;
            width: 100%;
            font-size: 1rem;
        }

        &:not(:last-child) {
            margin-right: 0.7rem;
        }
    }
}

.input-field {
    text-align: left;
    margin-bottom: 1rem;

    .ng-touched.ng-invalid {
        border: 0.1rem solid palette.$main-red-color;
    }

    // .ng-valid {
    //     border: 0.1rem solid palette.$main-green-color;
    // }

    label {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }

    input,
    textarea,
    select {
        background-color: palette.$main-nav-color;
        border: none;
        border-radius: 0.4rem;
        padding: 0.7rem;
        width: 100%;
        font-size: 1rem;
        color: palette.$main-font-color;
    }

    textarea {
        height: 5rem;
        resize: none;
    }

}

.errors {
    color: palette.$main-red-color;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.required:after {
    content: '*';
    display: inline;
    color: red;
}