@use "../styles/palette";

.input-group {
  display: flex;
  justify-content: space-between;

  .input-field {
    flex: 1;
    text-align: left;

    .ng-touched.ng-invalid {
      border: 0.1rem solid palette.$main-red-color;
    }

    // .ng-valid {
    //     border: 0.1rem solid palette.$main-green-color;
    // }

    label {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.3rem;
    }

    input {
      background-color: palette.$main-nav-color;
      color: palette.$main-font-color;
      border: none;
      border-radius: 0.4rem;
      padding: 0.7rem;
      width: 100%;
      font-size: 1rem;

      &[type="checkbox"] {
        // Hide the default checkbox
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 2rem;
        height: 1rem;
        background-color: palette.$main-background-color;
        border-radius: 1rem;
        position: relative;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease;

        // Toggle knob
        &::before {
          content: "";
          position: absolute;
          width: 1.25rem;
          height: 1.25rem;
          background-color: palette.$main-font-color;
          border-radius: 50%;
          top: 0;
          left: 0;
          transition: transform 0.3s ease;
        }

        &:checked {
          background-color: palette.$main-blue-color;

          &::before {
            transform: translateX(1rem);
          }
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(palette.$main-nav-color, 0.5);
        }
      }
    }

    &:not(:last-child) {
      margin-right: 0.7rem;
    }
  }
}

.input-field {
  text-align: left;
  margin-bottom: 1rem;

  .ng-touched.ng-invalid {
    border: 0.1rem solid palette.$main-red-color !important;
  }

  // .ng-valid {
  //     border: 0.1rem solid palette.$main-green-color;
  // }

  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  input,
  textarea,
  select {
    background-color: palette.$main-nav-color;
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem;
    width: 100%;
    font-size: 1rem;
    color: palette.$main-font-color;
  }
  input[type="time"] {
    padding: 0.65rem;
  }

  input[type="checkbox"] {
    // Hide the default checkbox
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 3rem;
    padding: 0.625rem;

    // background-color: palette.$main-background-color;
    // border-radius: 1rem;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;

    // Toggle knob
    &::before {
      content: "";
      position: absolute;
      width: 1.1rem;
      height: 1.1rem;
      background-color: #ffffff;
      border-radius: 50%;
      top: 0.075rem;
      left: 0;
      transition: transform 0.3s ease;
    }

    &:checked {
      background-color: palette.$main-blue-color;

      &::before {
        transform: translateX(2rem);
      }
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(palette.$main-nav-color, 0.5);
    }
  }

  textarea {
    height: 5rem;
    resize: none;
  }
}

.password-field {
  position: relative;

  input {
    padding-right: 2.5rem;
  }
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
  }
}

.input-with-symbol {
  position: relative;
  display: inline-block;

  input {
    padding-right: 1.5rem !important;
  }

  .symbol {
    position: absolute;
    right: 8px;
    top: 50%;
    color: palette.$main-font-color;
    pointer-events: none;
  }
}

.errors {
  color: palette.$main-red-color;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.required:after {
  content: "*";
  display: inline;
  color: red;
}

.clickable:hover {
  transform: scale(1.05);
}
