// $main-background-color: #20232a;
// $main-nav-color: #31313b;
// $main-font-color: #ffffff;
// $main-icon-color: #98989d;
// $main-blue-color: #75a0ff;
// $main-gray-color: #2b2e35;
// $main-font-gray-color: #9b9b9b;
// $main-red-color: #bf3c65;
// $main-green-color: #46945b;
// $glow-yellow-color: #fccd3d;
// $chip-blue-color: #21419b;
// $chip-yellow-color: #977f33;
// $chip-orange-color: #98542b;
// $chip-red-color: #853f47;
// $main-overlay-color: #212121;

$main-background-color: var(--main-background-color);
$main-nav-color: var(--main-nav-color);
$main-font-color: var(--main-font-color);
$main-icon-color: var(--main-icon-color);
$main-blue-color: var(--main-blue-color);
$main-gray-color: var(--main-gray-color);
$main-font-gray-color: var(--main-font-gray-color);
$main-red-color: var(--main-red-color);
$main-green-color: var(--main-green-color);
$glow-yellow-color: var(--glow-yellow-color);
$chip-blue-color: var(--chip-blue-color);
$chip-yellow-color: var(--chip-yellow-color);
$chip-orange-color: var(--chip-orange-color);
$chip-red-color: var(--chip-red-color);
$main-overlay-color: var(--main-overlay-color);
$main-font-gray-mix-40: var(--main-font-gray-mix-40);
$input-bg-color: var(--input-bg-color);
