@use "../styles/palette";

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: palette.$main-font-gray-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: palette.$main-font-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: palette.$main-font-color;
}