<app-header
  [header]="'challenge_management.challenges_header' | translate"
  [withQRcode]="true"
>
  <app-nav-bar [columns]="columns"></app-nav-bar
></app-header>
<ng-container *ngIf="!periodPerformance">
  <span class="no-period">
    {{ "challenge_management.challenge_are_being_generated" | translate }}<br />
    {{ "challenge_management.check_back" | translate }}
  </span></ng-container
>
<!-- Auto Period -->
<ng-container
  *ngIf="
    periodPerformance &&
    !tenantSettings?.isCustomPeriodOn &&
    userChallengePeriodRewardList
  "
>
  <div class="wrapper_stats">
    <div class="wrapper_score">
      <p class="score" *ngIf="this.periodPerformance">
        {{
          "challenge_management.score"
            | translate : { points: this.periodPerformance.points }
        }}
      </p>
      <p class="dates">
        <span>{{ this.periodPerformance.startDate | date : DATE_FORMAT }}</span>
        <!-- arrow_range icon -->
        <svg class="icon" viewBox="0 -960 960 960">
          <path
            d="M280-280 80-480l200-200 56 56-103 104h494L624-624l56-56 200 200-200 200-56-56 103-104H233l103 104-56 56Z"
          />
        </svg>
        <span>{{
          this.periodPerformance.endDate | date : DATE_FORMAT : "UTC"
        }}</span>
      </p>
    </div>
    <div class="wrapper_scroller">
      <!-- play_arrow icon -->
      <svg
        class="arrow left"
        (click)="rewardsScrollLeft()"
        [ngStyle]="{
          opacity: rewardScrollArrowsOpacity,
          minWidth: rewardScrollArrowsWidth + 'rem',
          width: rewardScrollArrowsWidth + 'rem',
        }"
        viewBox="0 -960 960 960"
      >
        <path
          d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
        />
      </svg>
      <div #rewardsScroller class="scroller">
        <div class="wrapper_stats__items">
          <div
            class="item"
            *ngFor="let reward of userChallengePeriodRewardList"
            [ngClass]="{
              'completed-img': reward.isCompleted
            }"
          >
            <img
              *ngIf="
                ImageEntityType.Rewards
                  | entityImage : reward.rewardImageId
                  | async as imageUrl
              "
              (click)="openImagePreview(imageUrl)"
              [src]="imageUrl"
              alt="Reward"
              class="clickable"
            />
          </div>
        </div>
      </div>
      <!-- play_arrow icon -->
      <svg
        class="arrow"
        (click)="rewardsScrollRight()"
        [ngStyle]="{
          opacity: rewardScrollArrowsOpacity,
          minWidth: rewardScrollArrowsWidth + 'rem',
          width: rewardScrollArrowsWidth + 'rem',
        }"
        viewBox="0 -960 960 960"
      >
        <path
          d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
        />
      </svg>
    </div>

    <div class="wrapper_stats__bar">
      <div class="wrapper_progress_scroller">
        <svg
          class="arrow left"
          (click)="pointsScrollLeft()"
          [ngStyle]="{
            opacity: pointsScrollArrowsOpacity,
            minWidth: pointsScrollArrowsWidth + 'rem',
            width: pointsScrollArrowsWidth + 'rem',
          }"
          viewBox="0 -960 960 960"
        >
          <path
            d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
          />
        </svg>
        <div #pointsScroller class="scroller">
          <div #progressContainer class="progress-container">
            <div class="progress" id="progress"></div>
            <div
              #circleContainer
              class="circle_container"
              *ngFor="
                let reward of userChallengePeriodRewardList;
                let i = index
              "
              [ngStyle]="{
                left: getLeftOffset(reward.rewardRequiredPoints, i) + '%'
              }"
            >
              <div class="circle" [ngClass]="{ activated: reward.isCompleted }">
                {{ reward.rewardRequiredPoints }}
              </div>
            </div>
          </div>
        </div>
        <svg
          class="arrow"
          (click)="pointsScrollRight()"
          [ngStyle]="{
            opacity: pointsScrollArrowsOpacity,
            minWidth: pointsScrollArrowsWidth + 'rem',
            width: pointsScrollArrowsWidth + 'rem',
          }"
          viewBox="0 -960 960 960"
        >
          <path
            d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
          />
        </svg>
      </div>
    </div>
  </div>

  <div class="wrapper_challenges">
    <div
      class="wrapper_challenges__item"
      *ngFor="let challenge of userChallengeList; let i = index"
      [ngClass]="{
        'in-progress': challenge.status === ChallengeStatus.InProgress,
        completed: challenge.status === ChallengeStatus.Completed,
        locked: challenge.status === ChallengeStatus.Locked
      }"
    >
      <div class="image_info_container">
        <div
          class="image clickable"
          (click)="openImagePreview(imageUrl)"
          *ngIf="
            ImageEntityType.Games
              | entityImage : challenge.gameImageId
              | async as imageUrl
          "
        >
          <img [src]="imageUrl" alt="" />
        </div>
        <div class="info">
          <span class="header">
            {{ "challenge_management.play" | translate }}
            <strong>{{ challenge.gameName }}</strong>
            {{ challenge.maxAttempts }}
            {{ "challenge_management.times" | translate }}
          </span>
          <div class="bar-2">
            <span class="bar-2-span"
              >{{ challenge.currentAttempts }} /
              {{ challenge.maxAttempts }}</span
            >
            <div class="bar-2-value" id="progress-bar-{{ i }}"></div>
            <span class="points">{{ challenge.rewardPoints }}</span>
          </div>
        </div>
      </div>
      <div class="status-image">
        <img
          [src]="
            challenge.status === ChallengeStatus.InProgress
              ? '/shared/assets/images/challenge-inprogress.png'
              : challenge.status === ChallengeStatus.Completed
              ? '/shared/assets/images/challenge-complete.png'
              : '/shared/assets/images/locked.png'
          "
          alt=""
        />
      </div>
    </div>
  </div>
</ng-container>

<!-- Custom Period -->
<ng-container
  *ngIf="
    periodPerformance &&
    tenantSettings?.isCustomPeriodOn &&
    userCustomPeriodChallengesList
  "
>
  <div class="wrapper_stats">
    <div class="wrapper_score">
      <p class="score" *ngIf="this.periodPerformance">
        Score: {{ this.periodPerformance.points }}
      </p>
      <p class="dates">
        <span>{{ this.periodPerformance.startDate | date : DATE_FORMAT }}</span>
        <!-- arrow_range icon -->
        <svg class="icon" viewBox="0 -960 960 960">
          <path
            d="M280-280 80-480l200-200 56 56-103 104h494L624-624l56-56 200 200-200 200-56-56 103-104H233l103 104-56 56Z"
          />
        </svg>
        <span>{{
          this.periodPerformance.endDate | date : DATE_FORMAT : "UTC"
        }}</span>
      </p>
    </div>
    <div class="wrapper_scroller">
      <!-- play_arrow icon -->
      <svg
        class="arrow left"
        (click)="rewardsScrollLeft()"
        [ngStyle]="{
          opacity: rewardScrollArrowsOpacity,
          minWidth: rewardScrollArrowsWidth + 'rem',
          width: rewardScrollArrowsWidth + 'rem',
        }"
        viewBox="0 -960 960 960"
      >
        <path
          d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
        />
      </svg>
      <div #rewardsScroller class="scroller">
        <div class="wrapper_stats__items">
          <ng-container *ngFor="let reward of userCustomPeriodRewardsList">
            <div
              class="item clickable"
              (click)="openImagePreview(imageUrl)"
              *ngIf="
                ImageEntityType.Rewards
                  | entityImage : reward.rewardImageId
                  | async as imageUrl
              "
              [ngClass]="{
                'completed-img': reward.isCompleted
              }"
            >
              <img [src]="imageUrl" alt="Reward" />
            </div>
          </ng-container>
        </div>
      </div>
      <!-- play_arrow icon -->
      <svg
        class="arrow"
        (click)="rewardsScrollRight()"
        [ngStyle]="{
          opacity: rewardScrollArrowsOpacity,
          minWidth: rewardScrollArrowsWidth + 'rem',
          width: rewardScrollArrowsWidth + 'rem',
        }"
        viewBox="0 -960 960 960"
      >
        <path
          d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
        />
      </svg>
    </div>

    <div class="wrapper_stats__bar">
      <div class="wrapper_progress_scroller">
        <svg
          class="arrow left"
          (click)="pointsScrollLeft()"
          [ngStyle]="{
            opacity: pointsScrollArrowsOpacity,
            minWidth: pointsScrollArrowsWidth + 'rem',
            width: pointsScrollArrowsWidth + 'rem',
          }"
          viewBox="0 -960 960 960"
        >
          <path
            d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
          />
        </svg>
        <div #pointsScroller class="scroller">
          <div #progressContainer class="progress-container">
            <div class="progress" id="progress"></div>
            <div
              #circleContainer
              class="circle_container"
              *ngFor="let reward of userCustomPeriodRewardsList; let i = index"
              [ngStyle]="{
                left: getLeftOffset(reward.rewardRequiredPoints, i) + '%'
              }"
            >
              <div class="circle" [ngClass]="{ activated: reward.isCompleted }">
                {{ reward.rewardRequiredPoints }}
              </div>
            </div>
          </div>
        </div>
        <svg
          class="arrow"
          (click)="pointsScrollRight()"
          [ngStyle]="{
            opacity: pointsScrollArrowsOpacity,
            minWidth: pointsScrollArrowsWidth + 'rem',
            width: pointsScrollArrowsWidth + 'rem',
          }"
          viewBox="0 -960 960 960"
        >
          <path
            d="M332-234.31v-491.38L720.15-480 332-234.31ZM398-480Zm0 124 197.54-124L398-604v248Z"
          />
        </svg>
      </div>
    </div>
  </div>

  <app-challenge-type-toggle></app-challenge-type-toggle>

  <div class="wrapper_challenges">
    <div
      class="wrapper_challenges__item"
      *ngFor="let challenge of userCustomPeriodChallengesList; let i = index"
      [ngClass]="{
        'in-progress': !challenge.isCompleted,
        completed: challenge.isCompleted,
      }"
    >
      <div class="image_info_container">
        <div
          class="image clickable"
          (click)="openImagePreview(imageUrl)"
          *ngIf="
            ImageEntityType.Games
              | entityImage : challenge.gameImageId
              | async as imageUrl
          "
        >
          <img [src]="imageUrl" alt="" />
        </div>
        <div class="info">
          <span class="header">
            {{ "challenge_management.play" | translate }}
            <strong>{{ challenge.gameName }}</strong>
            {{ challenge.challengeAttempts }}
            {{ "challenge_management.times" | translate }}
          </span>
          <div class="bar-2">
            <span class="bar-2-span"
              >{{ challenge.currentAttempts }} /
              {{ challenge.challengeAttempts }}</span
            >
            <div class="bar-2-value" id="progress-bar-{{ i }}"></div>
            <span class="points">{{ challenge.rewardPoints }}</span>
          </div>
        </div>
      </div>
      <div class="status-image">
        <img
          [src]="
            !challenge.isCompleted
              ? '/shared/assets/images/challenge-inprogress.png'
              : challenge.isCompleted
              ? '/shared/assets/images/challenge-complete.png'
              : '/shared/assets/images/locked.png'
          "
          alt=""
        />
      </div>
    </div>
  </div>
</ng-container>
