<app-header
  [header]="'qr_scanner.header' | translate"
  [withBottomLine]="true"
></app-header>

<span
  class="qr_code_error"
  *ngIf="this.invalidQrCode"
  [innerHTML]="'qr_scanner.qr_code_is_invalid_full' | translate"
>
</span>

<pre
  *ngIf="this.afterScanSuccessfulMessage"
  class="after_scan_success_message">{{'qr_scanner.qr_code_is_valid'|translate}} <br />
  {{ this.afterScanSuccessfulMessage }}</pre>

<div class="qr_video_container" *ngIf="!this.isValidQrScanned">
  <video #video width="700" height="700" autoplay></video>
</div>
