@use "../../../shared/assets/styles/palette";

.qr_video_container {
  display: flex;
  justify-content: center;
  margin: 2rem;

  video {
    width: 90%;
    height: 10%;
  }
}

.qr_code_error {
  display: flex;
  justify-content: center;
  color: palette.$main-red-color;
  text-align: center;
  margin: 1rem;
  font-size: 1.3rem;
  word-break: break-word;

  strong {
    display: contents;
  }
}

.after_scan_success_message {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin: 2rem;
  color: palette.$main-blue-color;
  word-break: break-word;
}

.after_scan_error_message {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin: 2rem;
  color: palette.$main-red-color;
  word-break: break-word;
}
