<app-header
  [header]="'qr_scanner.header' | translate"
  [withBottomLine]="true"
></app-header>

<span
  class="qr_code_error"
  *ngIf="this.invalidQrCode"
  [innerHTML]="'qr_scanner.qr_code_is_invalid_full' | translate"
>
</span>

<span
  class="qr_code_error"
  *ngIf="this.invalidQrCode && this.currentQrCodeType === QrCodeType.Game"
  [innerHTML]="'qr_scanner.qr_code_invalid_from_game' | translate"
>
</span>

<pre *ngIf="this.afterScanErrorMessage" class="after_scan_error_message">
  {{ this.afterScanErrorMessage }}</pre
>

<span
  *ngIf="this.afterScanSuccessfulMessage"
  class="after_scan_success_message">{{'qr_scanner.qr_code_is_valid'|translate}} <br />
  {{ this.afterScanSuccessfulMessage }}</span>

<div class="qr_video_container" [class.hidden]="!isValidQrScanned">
  <video #video width="700" height="700" autoplay muted playsinline></video>
</div>
