@use "../../../../shared/assets/styles/palette";

.wrapper {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    margin-bottom: 10rem;

    .wrapper_btn {
        display: flex;
        justify-content: center;
        margin: 4rem;
    }
}

.wrapper_inputs {


    .form__group {
        position: relative;
        margin: 0 auto;
        width: 90%;
        padding: 15px 0 0;
        margin-top: 0.8rem;

        .form__field {
            background-color: palette.$main-gray-color;
            resize: none;
            width: 100%;
            border:0;
            border-radius: 1rem;
            outline: 0;
            font-size: small;
            color: palette.$main-font-color;
            padding: 0.6rem 1rem;
            transition: border-color 0.2s;

            &__errors {
                color: palette.$main-red-color;
            }

            &::placeholder {
                color: transparent;
            }

            &:placeholder-shown~.form__label {
                font-size: 0.8rem;
                cursor: text;
                top: 20px;
            }
        }

        .ng-invalid {
            border: 0.1rem solid palette.$main-red-color;
        }

        .ng-valid {
            border: 0.1rem solid palette.$main-green-color;
        }
        .form__label {
            position: absolute;
            top: 0;
            left: 1rem;
            display: block;
            transition: 0.2s;
            font-size: 0.7rem;
        }

        .form__field:focus {
            ~.form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 0.7rem;
                font-weight: 700;
            }

            padding-bottom: 0.6rem;
            font-weight: 700;
            border-width: 0.1rem;
        }

    }
}