<div class="wrapper_inputs">
  <div class="form__group">
    <input
      type="input"
      class="form__field"
      placeholder="username"
      name="username"
      id="username"
    />
    <label for="username" class="form__label">Username</label>
  </div>
  <div class="form__group">
    <input
      type="input"
      class="form__field"
      placeholder="password"
      name="password"
      id="password"
    />
    <label for="password" class="form__label">Password</label>
  </div>

  <div class="form__group">
    <select
      type="input"
      class="form__field"
      placeholder="select"
      name="select"
      id="select"
    >
      <option class="form__field-option">Staff</option>
      <option>Client</option>
    </select>
    <label for="select" class="form__label">Choose Role</label>
  </div>
</div>
