<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
  <span class="header_name">Leaderboard</span>
  <div class="info-container">
    <span
      class="material-symbols-outlined info"
      (click)="showMenu($event, controls)"
    >
      info
    </span>
  </div>
</div>

<div class="wrapper_users">
  <div class="filters">
    <span
      [ngClass]="{
        active: currentLeaderboardActiveType === ChallengeLeaderboardType.Weekly
      }"
      (click)="fetchLeaderboardData(ChallengeLeaderboardType.Weekly)"
    >
      Week
    </span>
    <span
      [ngClass]="{
        active:
          currentLeaderboardActiveType === ChallengeLeaderboardType.Monthly
      }"
      (click)="fetchLeaderboardData(ChallengeLeaderboardType.Monthly)"
    >
      Month
    </span>
    <span
      [ngClass]="{
        active: currentLeaderboardActiveType === ChallengeLeaderboardType.Yearly
      }"
      (click)="fetchLeaderboardData(ChallengeLeaderboardType.Yearly)"
    >
      Yearly
    </span>
  </div>

  <div class="wrapper_steps" *ngIf="challengeLeaderboardData.length > 3">
    <div
      class="wrapper_steps__item small-board"
      *ngFor="let user of challengeLeaderboardData | slice : 1 : 2"
    >
      <div class="wrapper_image">
        <img src="../../../../../shared/assets/images/mpavlov.png" alt="" />
      </div>
      <div class="wrapper_steps__item__info">
        <span>{{ user.username }}</span>
        <span [randomColor]="2">{{ user.challengeCount }}</span>
      </div>
    </div>
    <div
      class="wrapper_steps__item big-board"
      *ngFor="let user of challengeLeaderboardData | slice : 0 : 1"
    >
      <div class="wrapper_image">
        <img src="../../../../../shared/assets/images/mpavlov.png" alt="" />
      </div>
      <div class="wrapper_steps__item__info">
        <span>{{ user.username }}</span>
        <span [randomColor]="1">{{ user.challengeCount }}</span>
      </div>
    </div>
    <div
      class="wrapper_steps__item small-board"
      *ngFor="let user of challengeLeaderboardData | slice : 2 : 3"
    >
      <div class="wrapper_image">
        <img src="../../../../../shared/assets/images/mpavlov.png" alt="" />
      </div>
      <div class="wrapper_steps__item__info">
        <span>{{ user.username }}</span>
        <span [randomColor]="3">{{ user.challengeCount }}</span>
      </div>
    </div>
  </div>

  <ng-container *ngIf="challengeLeaderboardData.length > 3">
    <div
      *ngFor="let user of challengeLeaderboardData | slice : 3; let i = index"
      class="wrapper_users__item"
    >
      <div class="wrapper_image">
        <img src="../../../../../shared/assets/images/mpavlov.png" alt="" />
      </div>
      <div class="wrapper_users__item__info">
        <span class="name">{{ user.username }}</span>
        <span [randomColor]="i">{{ user.challengeCount }}</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="challengeLeaderboardData.length <= 3">
    <div
      *ngFor="let user of challengeLeaderboardData; let i = index"
      class="wrapper_users__item"
    >
      <div class="wrapper_image">
        <img src="../../../../../shared/assets/images/mpavlov.png" alt="" />
      </div>
      <div class="wrapper_users__item__info">
        <span class="name">{{ user.username }}</span>
        <span [randomColor]="i">{{ user.challengeCount }}</span>
      </div>
    </div>
  </ng-container>
</div>

<app-controls-menu
  #controls
  [isInfo]="true"
  infoDescription="Here you will see Challenge Leaderboard, visualizing only the completed."
></app-controls-menu>
