<app-header
  [header]="'challenge_management.challenges_header' | translate"
  [withQRcode]="true"
>
  <app-nav-bar
    [columns]="[
      {
        name: ('challenge_management.columns.weekly' | translate),
        link: 'challenges/home',
        isActive: false
      },
      {
        name: ('challenge_management.columns.rewards' | translate),
        link: 'challenges/rewards',
        isActive: true
      },
      {
        name: ('challenge_management.columns.streaks' | translate),
        link: 'challenges/streaks',
        isActive: false
      }
    ]"
  ></app-nav-bar
></app-header>

<div class="wrapper_challenges" *ngIf="userRewards$ | async as userRewards">
  <div class="no-records" *ngIf="userRewards.length === 0">
    {{ "challenge_management.no_rewards" | translate }}<br />
    {{ "challenge_management.visit_club" | translate }}
    <strong class="blue" (click)="navigateToChallenges()">{{
      "challenge_management.challenges" | translate
    }}</strong>
    {{ "challenge_management.to_earn" | translate }}
  </div>
  <div
    class="wrapper_challenges__item"
    *ngFor="let reward of userRewards"
    [ngClass]="{
      completed: reward.status !== UserRewardStatus.NotExpired
    }"
  >
    <div
      class="image"
      *ngIf="
        ImageEntityType.Rewards
          | entityImage : reward.rewardImageId
          | async as imageUrl
      "
      (click)="openImagePreview(imageUrl)"
    >
      <img [src]="imageUrl" alt="" />
    </div>
    <div class="info">
      <span class="header">{{
        currentLanguage === SupportLanguages.EN
          ? reward.rewardName_EN
          : reward.rewardName_BG
      }}</span>
      <span>{{
        currentLanguage === SupportLanguages.EN
          ? reward.rewardDescription_EN
          : reward.rewardDescription_BG
      }}</span>
      <span class="header"
        >{{ "challenge_management.available_more" | translate }}
        <app-chip
          [size]="'small'"
          [text]="
            'challenge_management.days'
              | translate
                : { availableMoreForDays: reward.availableMoreForDays }
          "
          [color]="'blue'"
        ></app-chip
      ></span>
    </div>
    <div
      class="btn-container"
      *ngIf="reward.status === UserRewardStatus.NotExpired"
    >
      <button class="btn btn__small btn-blue" (click)="openDialog(reward.id)">
        {{ "challenge_management.use" | translate }}
      </button>
    </div>
    <div class="btn-container" *ngIf="reward.status === UserRewardStatus.Used">
      <button class="btn btn__extra-small btn-green">
        {{ "challenge_management.used" | translate }}
      </button>
    </div>

    <div
      class="btn-container"
      *ngIf="reward.status === UserRewardStatus.Expired"
    >
      <button class="btn btn__extra-small btn-red">
        {{ "challenge_management.expired" | translate }}
      </button>
    </div>
  </div>
</div>
