<app-header header="Challenges" [withQRcode]="true">
  <app-nav-bar
    [columns]="[
      { name: 'Weekly', link: 'challenges/home', isActive: false },
      { name: 'Rewards', link: 'challenges/rewards', isActive: true }
    ]"
  ></app-nav-bar
></app-header>

<div class="wrapper_challenges" *ngIf="userRewards$ | async as userRewards">
  <div class="no-records" *ngIf="userRewards.length === 0">
    No rewards yet!<br />
    Visit the club and start completing
    <strong class="blue" (click)="navigateToChallenges()">challenges</strong> to
    earn them.
  </div>
  <div
    class="wrapper_challenges__item"
    *ngFor="let reward of userRewards"
    [ngClass]="{
      completed: reward.status !== UserRewardStatus.NotExpired
    }"
  >
    <div
      class="image"
      *ngIf="
        ImageEntityType.Rewards
          | entityImage : reward.rewardImageId
          | async as imageUrl
      "
      (click)="openImagePreview(imageUrl)"
    >
      <img [src]="imageUrl" alt="" />
    </div>
    <div class="info">
      <span class="header">{{ reward.rewardName }}</span>
      <span>{{ reward.rewardDescription }}</span>
      <span class="header"
        >Available more:
        <app-chip
          [size]="'small'"
          text="{{ reward.availableMoreForDays }} DAYS"
          [color]="'blue'"
        ></app-chip
      ></span>
    </div>
    <div
      class="btn-container"
      *ngIf="reward.status === UserRewardStatus.NotExpired"
    >
      <button class="btn btn__small btn-blue" (click)="openDialog(reward.id)">
        Use
      </button>
    </div>
    <div class="btn-container" *ngIf="reward.status === UserRewardStatus.Used">
      <button class="btn btn__extra-small btn-green">Used</button>
    </div>

    <div
      class="btn-container"
      *ngIf="reward.status === UserRewardStatus.Expired"
    >
      <button class="btn btn__extra-small btn-red">Expired</button>
    </div>
  </div>
</div>
