<ng-container>
    <div id="navbar">

        <div class="wrapper_header">
            <span class="wrapper_header__title">
                {{this.header}}
            </span>

            <ng-container *ngIf="!withSearch else searchBtn" />

        </div>

        <ng-content></ng-content>

        <ng-container *ngIf="this.withSearch">
            <div class="form__group" id="searchForm">
                <input type="input" class="form__field" placeholder="search" name="search" id='search' />
                <label for="search" class="form__label">
                    <span class="material-symbols-outlined search-icon">
                        search
                    </span>Search</label>
            </div>
        </ng-container>
    </div>
</ng-container>

<ng-template #searchBtn>
    <a class="wrapper_search">
        <span id="search-btn" class="material-symbols-outlined">
            search
        </span>
    </a>
</ng-template>