<ng-container>
  <div [id]="this.withSearch ? 'sticky_navbar' : 'navbar'">
    <div
      class="wrapper_header"
      [ngStyle]="
        this.withSearch ? { padding: '0px;' } : { padding: '15px 0 0' }
      "
      [ngClass]="this.withBottomLine ? 'wrapper_header__line' : ''"
    >
      <span
        class="wrapper_header__title"
        [ngClass]="this.withBottomLine ? 'wrapper_header__title-mb' : ''"
      >
        {{ this.header }}
      </span>

      <div class="wrapper_items">
        <ng-container *ngIf="!withSearch; else searchBtn" />

        <ng-container *ngIf="!withAdd; else addBtn" />

        <ng-container *ngIf="!withQRcode; else qrCode" />
      </div>
    </div>

    <ng-content></ng-content>

    <ng-container *ngIf="this.withSearch">
      <form [formGroup]="searchForm" class="form__group" id="searchForm">
        <input
          type="input"
          class="form__field"
          placeholder="search"
          name="search"
          formControlName="search"
          id="search"
        />
        <label for="search" class="form__label">
          <span class="material-symbols-outlined search-icon"> search </span
          >Search</label
        >
      </form>
    </ng-container>
  </div>
</ng-container>

<ng-template #searchBtn>
  <a class="wrapper_search">
    <span id="search-btn" class="material-symbols-outlined"> search </span>
  </a>
</ng-template>

<ng-template #addBtn>
  <a class="wrapper_add" (click)="showMenu()">
    <span class="material-symbols-outlined"> add </span>
  </a>
  <div *ngIf="isMenuVisible" class="menu">
    <ul>
      <li *ngFor="let item of menuItems" (click)="onMenuItemClick(item.key)">
        {{ item.label }}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #qrCode>
  <a class="wrapper_qrCode">
    <img src="../../../shared/assets/images/qr-code.png" alt="" />
  </a>
</ng-template>
