@use "../../../../shared/assets/styles/palette";

@keyframes realisticFlames {
  0% {
    transform: scale(1) rotate(0deg) translateY(0);
    opacity: 1;
  }

  10% {
    transform: scale(1.1) rotate(1deg) translateY(-2px);
    opacity: 0.95;
  }

  20% {
    transform: scale(1.15) rotate(-2deg) translateY(-4px);
    opacity: 0.9;
  }

  30% {
    transform: scale(1.1) rotate(1deg) translateY(-3px);
    opacity: 0.93;
  }

  40% {
    transform: scale(1.2) rotate(-1deg) translateY(-5px);
    opacity: 0.88;
  }

  50% {
    transform: scale(1.1) rotate(0deg) translateY(-2px);
    opacity: 0.92;
  }

  60% {
    transform: scale(1.15) rotate(-2deg) translateY(-6px);
    opacity: 0.85;
  }

  70% {
    transform: scale(1.2) rotate(1deg) translateY(-4px);
    opacity: 0.9;
  }

  80% {
    transform: scale(1.1) rotate(-1deg) translateY(-3px);
    opacity: 0.95;
  }

  90% {
    transform: scale(1.15) rotate(2deg) translateY(-5px);
    opacity: 0.9;
  }

  100% {
    transform: scale(1) rotate(0deg) translateY(0);
    opacity: 1;
  }
}

.select-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.wrapper_icons {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 1rem;
  align-items: center;

  .header_name {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    word-wrap: break-word;
    width: 70%;
    text-align: center;
  }

  .arrow {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: relative;
    border: 0.1rem solid palette.$main-icon-color;
    border-radius: 2.5rem;

    &::before {
      content: "";
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      top: 65%;
      left: 63%;
      border-style: solid;
      border-color: palette.$main-icon-color;
      border-width: 0.2rem 0.2rem 0 0;
      position: absolute;
      transform-origin: 50% 50%;
    }

    &.left::before {
      transform: rotate(-135deg);
      margin: -0.9rem 0 0 -0.6rem;
    }
  }
}

.info-container {
  position: relative;

  .info {
    width: 3rem;
    height: 3rem;
    fill: palette.$main-blue-color;
  }
}

.container-errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .errors {
    margin: 1rem;
  }
}

.wrapper_stats {
  display: flex;
  position: relative;

  .wrapper_image {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 5rem;
    }

    .red {
      border: solid palette.$main-red-color 1px;
    }

    .green {
      border: solid palette.$main-green-color 1px;
    }
  }

  &__chips-left {
    margin-top: 2rem;

    .chip {
      width: 30vw;
      margin: 1.5rem 0;
      background-color: palette.$main-nav-color;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      align-items: center;
    }
  }

  &__chips-right {
    position: absolute;
    right: 0;
    margin-top: 2rem;

    .chip {
      width: 30vw;
      margin: 1.5rem 0;
      background-color: palette.$main-nav-color;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      align-items: center;

      .available {
        fill: palette.$main-green-color;
      }

      .unavailable {
        fill: palette.$main-red-color;
      }
    }
  }
}

.wrapper_title {
  margin: 1rem 1rem;
  word-break: break-word;
  text-align: center;
  font-size: 1.4rem;
}

.wrapper_inputs {
  display: flex;
  justify-content: space-between;

  .ng-touched.ng-invalid {
    border: 0.1rem solid palette.$main-red-color;
  }

  &__input {
    width: 50%;

    input {
      width: 70%;
      border: none;
      min-width: 80%;
      border-radius: 5px;
      background-color: palette.$main-nav-color;
      padding: 0.4rem 0.8rem;
      color: palette.$main-font-gray-color;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }

  &__time {
    text-align: end;
    width: 50%;

    input {
      width: 70%;
      border: none;
      min-width: 80%;
      border-radius: 5px;
      background-color: palette.$main-nav-color;
      padding: 0.3rem 0.6rem;
      color: palette.$main-font-gray-color;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }
  }

  label {
    font-size: 1.1rem;
    color: palette.$main-font-gray-color;
    margin: 0 1.5rem;
    display: flex;
    justify-content: center;
  }

  input:focus {
    outline-style: solid;
    outline-color: palette.$main-icon-color;
    outline-width: 0.05rem;
  }
}

.btn-container {
  display: flex;
  justify-content: center;

  .wrapper_btn {
    border-radius: 2rem;
    width: 70%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
    background-color: palette.$main-nav-color;
    padding: 1rem;

    svg {
      width: 2rem;
      height: 2rem;
    }

    .gray-flames {
      fill: palette.$main-font-gray-color;
    }

    .red-flames {
      fill: palette.$main-red-color;
      animation: realisticFlames 3s infinite;
    }
  }
}
