<section class="carousel" aria-label="Gallery">
  <button
    class="carousel__prev"
    (click)="scrollToSlide(currentSlideIndex - 1)"
    *ngIf="currentSlideIndex > 0"
  >
    Previous
  </button>
  <div class="carousel__viewport" #carouselViewport>
    <div *ngFor="let slide of slides; let i = index" class="carousel__slide">
      <ng-container>
        <div class="wrapper">
          <div class="wrapper_link">
            <div class="name">{{ linkInfo[i].header }}</div>
          </div>
          <ng-container *ngFor="let content of linkInfo[i].content">
            <div class="wrapper_link">
              <div class="descripxtion">{{ content.description }}</div>
            </div>
            <div class="wrapper_image">
              <img [src]="content.imagePath" alt="Image" />
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <button
    class="carousel__next"
    (click)="scrollToSlide(currentSlideIndex + 1)"
    *ngIf="currentSlideIndex < slides.length - 1"
  >
    Next
  </button>

  <nav class="carousel__navigation">
    <button
      *ngFor="let slide of slides; let i = index"
      (click)="scrollToSlide(i)"
      [ngClass]="
        i === currentSlideIndex
          ? 'carousel__navigation--current_button'
          : 'carousel__navigation_button'
      "
    ></button>
  </nav>
</section>
