<section class="carousel" aria-label="Gallery">
  <button
    class="carousel__prev"
    (click)="scrollToSlide(currentSlideIndex - 1)"
    *ngIf="currentSlideIndex > 0"
  >
    Previous
  </button>
  <div class="carousel__viewport" #carouselViewport>
    <div *ngFor="let slide of slides; let i = index" class="carousel__slide">
      <ng-container>
        <div class="wrapper">
          <div class="wrapper_image">
            <img
              class="clickable"
              (click)="openImagePreview(gifSrcMap[i])"
              [src]="gifSrcMap[i]"
              alt="Image"
            />
          </div>
          <div class="wrapper_link">
            <div class="name">{{ linkInfo[i].header }}</div>
            <div class="description">{{ linkInfo[i].description }}</div>
            <a
              class="action_link"
              *ngIf="linkInfo[i].action"
              [routerLink]="linkInfo[i].action?.url"
            >
              {{ linkInfo[i].action?.label }}</a
            >
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <button
    class="carousel__next"
    (click)="scrollToSlide(currentSlideIndex + 1)"
    *ngIf="currentSlideIndex < slides.length - 1"
  >
    Next
  </button>

  <nav class="carousel__navigation">
    <button
      *ngFor="let slide of slides; let i = index"
      (click)="scrollToSlide(i)"
      [ngClass]="
        i === currentSlideIndex
          ? 'carousel__navigation--current_button'
          : 'carousel__navigation_button'
      "
    ></button>
  </nav>
</section>
