@use "../../../../shared/assets/styles/palette";

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel__viewport {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
.carousel__slide {
  flex: 0 0 100%;
  text-align: center;
  position: relative;
}

.carousel__slide img {
  width: 80%;
  height: auto;
}

.carousel__prev,
.carousel__next {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: palette.$main-font-color;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.carousel__prev {
  left: 10px;
}

.carousel__next {
  right: 10px;
}

.carousel__navigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 90%;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}

.carousel__navigation_button {
  background-color: palette.$main-gray-color;
  margin: 5px;
  border-radius: 100%;
  border-color: palette.$main-font-color;
  padding: 0.3rem;
  cursor: pointer;
}

.carousel__navigation--current_button {
  background-color: palette.$main-font-color;
  margin: 5px;
  border-radius: 100%;
  padding: 0.3rem;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.wrapper {
  white-space: normal;
  margin-bottom: 10rem;
}
.wrapper_image {
  display: flex;
  justify-content: center;
  img {
    width: 10rem;
  }
}

.wrapper_link {
  margin: 0 2rem;
  word-break: break-word;
  text-align: start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  .name {
    font-size: 1.4rem;
    color: palette.$main-blue-color;
    // margin: 2rem;
  }
  .description {
    white-space: pre-line;
  }
  .action_link {
    color: palette.$main-blue-color;
  }
}

.blue {
  color: palette.$main-blue-color;
}
