<div class="dialog-container">
  <div class="wrapper">
    <ng-container *ngIf="this.data.status === ReservationStatus.Approved">
      <h3 class="dialog-container__header">
        {{'reservation_management.confirm_dialog.approving_reservation'|translate}}
      </h3>
      <div class="dialog-container__description">
        <p *ngIf="this.data.gameName">
          {{'reservation_management.confirm_dialog.game'|translate}}<strong
            >{{this.data.gameName}}</strong
          >
        </p>
        <p>
          {{'reservation_management.confirm_dialog.people'|translate}}
          <strong> {{this.data.numberOfGuests}}</strong>
        </p>
        <p *ngIf="!this.data.tableReservationDate">
          {{'reservation_management.confirm_dialog.date'|translate}}
          <strong
            >{{this.data.reservationDate | date : DATE_TIME_FORMAT: undefined :
            getCurrentLanguage}}</strong
          >
        </p>
        <p *ngIf="this.data.tableReservationDate">
          {{'reservation_management.confirm_dialog.existing_table_reservation'|translate}}
          <strong
            >{{this.data.tableReservationDate | date : DATE_TIME_FORMAT :
            undefined : getCurrentLanguage }}</strong
          >
        </p>
        <p>
          {{'reservation_management.confirm_dialog.phone_number'|translate}}
          <strong>
            <a
              [href]="'tel:' + this.data.phoneNumber"
              class="club-info__value club-info__phone"
            >
              {{ this.data.phoneNumber }}
            </a></strong
          >
        </p>
        <p>
          {{'reservation_management.confirm_dialog.user_language'|translate}}
          <strong> {{getUserLanguage(this.data.userLanguage)}}</strong>
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="this.data.status === ReservationStatus.Declined">
      <h3 class="dialog-container__header">
        {{'reservation_management.confirm_dialog.declined_reservation'|translate}}
      </h3>
      <div class="dialog-container__description">
        <p *ngIf="this.data.gameName">
          {{'reservation_management.confirm_dialog.game'|translate}}
          <strong>{{this.data.gameName}}</strong>
        </p>
        <p>
          {{'reservation_management.confirm_dialog.people'|translate}}
          <strong> {{this.data.numberOfGuests}}</strong>
        </p>
        <p *ngIf="!this.data.tableReservationDate">
          {{'reservation_management.confirm_dialog.date'|translate}}
          <strong
            >{{this.data.reservationDate | date : DATE_TIME_FORMAT : undefined :
            getCurrentLanguage }}</strong
          >
        </p>

        <p *ngIf="this.data.tableReservationDate">
          {{'reservation_management.confirm_dialog.existing_table_reservation'|translate}}
          <strong
            >{{this.data.tableReservationDate | date : DATE_TIME_FORMAT :
            undefined: getCurrentLanguage }}</strong
          >
        </p>
        <p>
          {{'reservation_management.confirm_dialog.phone_number'|translate}}
          <strong> {{this.data.phoneNumber}}</strong>
        </p>
        <p>
          {{'reservation_management.confirm_dialog.user_language'|translate}}
          <strong> {{getUserLanguage(this.data.userLanguage)}}</strong>
        </p>
      </div>
    </ng-container>
    <form [formGroup]="form" *ngIf="!this.data.isCancel">
      <div class="input-field">
        <label for="internalNote"
          >{{'reservation_management.confirm_dialog.internal_note'|translate}}</label
        >
        <textarea
          [placeholder]="'reservation_management.confirm_dialog.placeholders.internal_note'|translate"
          type="text"
          id="internalNote"
          formControlName="internalNote"
          class="surface-elevated"
        ></textarea>
      </div>

      <div class="input-field">
        <label for="publicNote"
          >{{'reservation_management.confirm_dialog.public_note'|translate}}</label
        >
        <textarea
          [placeholder]="'reservation_management.confirm_dialog.placeholders.public_note'|translate"
          type="text"
          id="publicNote"
          formControlName="publicNote"
          class="surface-elevated"
        ></textarea>
      </div>
    </form>

    <ng-container *ngIf="this.data.isCancel">
      <div class="dialog-container__description">
        <p>
          {{'reservation_management.confirm_dialog.cancel_description'|translate}}
        </p>
      </div>
    </ng-container>
  </div>
  <mat-dialog-actions>
    <button class="btn btn__small btn-blue" mat-dialog-close>
      {{'cancel'|translate}}
    </button>

    <button
      *ngIf="this.data.status === ReservationStatus.Approved"
      class="btn btn__small btn-green btn-border-green"
      (click)="approveReservation()"
    >
      {{'reservation_management.confirm_dialog.approve'|translate}}
    </button>
    <button
      *ngIf="this.data.status === ReservationStatus.Declined"
      class="btn btn__small btn-red btn-border-red"
      (click)="declineReservation()"
    >
      {{'reservation_management.confirm_dialog.decline'|translate}}
    </button>
    <button
      *ngIf="this.data.isCancel"
      class="btn btn__small btn-red btn-border-red"
      (click)="cancelReservation()"
    >
      {{'reservation_management.confirm_dialog.cancel'|translate}}
    </button>
  </mat-dialog-actions>
</div>
