<app-header
  header="Join Game Table"
  [withBottomLine]="true"
  [withSearch]="true"
  (searchExpressionResult)="this.handleSearchExpression($event)"
>
</app-header>

<div
  class="wrapper_tables"
  *ngIf="spaceAvailableTableList$ | async as spaceAvailableTables"
>
  <div class="no-records" *ngIf="spaceAvailableTables.length === 0">
    There are no active game tables at the moment.
    <br />
    Check back later or create a new table to start playing!
  </div>
  <div class="wrapper_tables__item" *ngFor="let table of spaceAvailableTables">
    <div class="wrapper_left">
      <div class="text">
        <span>{{ table.tableName }} Room </span>
        <span>Playing {{ table.gameName }} </span>
      </div>
      <div class="chips">
        <app-chip
          [size]="'small'"
          [color]="'orange'"
          [text]="table.peopleJoined + ' joined'"
        ></app-chip>
        <app-chip
          [size]="'small'"
          [color]="'red'"
          [text]="table.maxPeople + ' max'"
        ></app-chip>
        <div class="image">
          <img
            [src]="
              ImageEntityType.Games | entityImage : table.gameImageId | async
            "
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="info-btn" *ngIf="getCurrentUserId !== table.createdBy">
      <div class="image" *ngIf="table.isLocked">
        <img src="../../../../shared/assets/images/locked.png" alt="" />
      </div>
      <button class="btn btn-yellow" (click)="onJoin(table.id, table.isLocked)">
        Join
      </button>
    </div>
  </div>
</div>
