<app-header
  [header]="'space_management.join_game_table_header' | translate"
  [withBottomLine]="true"
  [withSearch]="true"
  (searchExpressionResult)="this.handleSearchExpression($event)"
>
</app-header>

<div
  class="wrapper_tables"
  *ngIf="spaceAvailableTableList$ | async as spaceAvailableTables"
>
  <div class="no-records" *ngIf="spaceAvailableTables.length === 0">
    {{ "space_management.no_active_game_tables" | translate }}
    <br />
    {{ "space_management.check_back_again" | translate }}
  </div>
  <div class="wrapper_tables__item" *ngFor="let table of spaceAvailableTables">
    <div class="item_top_part">
      <div class="wrapper_left">
        <div class="text">
          <span>{{
            "space_management.table.name"
              | translate : { tableName: table.tableName }
          }}</span>
          <span>{{
            "space_management.table.playing"
              | translate : { gameName: table.gameName }
          }}</span>
        </div>
        <div class="chips">
          <app-chip
            [size]="'small'"
            [color]="'orange'"
            [text]="
              'space_management.table.chip_joined'
                | translate : { peopleJoined: table.peopleJoined }
            "
          ></app-chip>
          <app-chip
            [size]="'small'"
            [color]="'red'"
            [text]="
              'space_management.table.chip_max'
                | translate : { maxPeople: table.maxPeople }
            "
          ></app-chip>
        </div>
      </div>

      <div
        class="image"
        *ngIf="table.gameImageUrl"
      >
        <img [src]="table.gameImageUrl" (click)="openImagePreview(table.gameImageUrl)" />
      </div>
    </div>

    <div class="info-btn" *ngIf="getCurrentUserId !== table.createdBy">
      <button
        class="btn btn__small btn-yellow"
        (click)="onJoin(table.id, table.isLocked)"
      >
        {{ "space_management.join_the_table_btn" | translate }}
      </button>

      <div class="image_locked" *ngIf="table.isLocked  ">
        <img src="../../../../shared/assets/images/locked.png" alt="" />
      </div>
    </div>
  </div>
</div>
