@use "../../../../shared/assets/styles/palette";

.wrapper_tables {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
  .no-records {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
    width: 80%;
  }

  &__item {
    display: flex;

    width: 90%;
    border-bottom: 0.2rem solid palette.$main-nav-color;
    justify-content: space-between;
    padding: 0.5rem;

    .wrapper_left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .chips {
      display: flex;
      align-items: center;

      app-chip {
        margin-right: 0.4rem;
      }

      .image {
        margin: 0 0.2rem;

        img {
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          border-radius: 5rem;
          border: 0.1rem solid palette.$main-background-color;
        }
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
    }

    .info-btn {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;

      .image {
        display: flex;
        justify-content: start;
        margin: 0.5rem 0;
        margin-left: 1rem;
        margin-right: 0.75rem;
        text-align: center;
        align-items: center;

        img {
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          border-radius: 5rem;
          border: 0.1rem solid palette.$main-background-color;
        }
      }
    }
  }
}
