@use "../../../../shared/assets/styles/palette";

.wrapper_tables {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
  .no-records {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
    width: 80%;
  }

  &__item {
    width: 90%;
    border-bottom: 0.2rem solid palette.$main-nav-color;
    padding: 0.5rem;
    word-break: break-word;

    .item_top_part {
      display: flex;

      .image {
        img {
          width: 7rem;

          object-fit: cover;
          border-radius: 20px;
          border: 0.1rem solid palette.$main-background-color;
        }
      }
    }
    .wrapper_left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80%;
    }

    .chips {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
      app-chip {
        margin-right: 0.4rem;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
    }

    .info-btn {
      display: flex;

      .image_locked {
        display: flex;
        margin-left: 0.3rem;
        img {
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          border-radius: 5rem;
          border: 0.1rem solid palette.$main-background-color;
        }
      }
    }
  }
}
