<section class="instruction-links" *ngIf="currentSection">
  <button
    type="button"
    class="games-icon-btn"
    (click)="navigateBack()"
    aria-label="Back"
  >
    <svg viewBox="0 0 24 24" aria-hidden="true">
      <path d="M15 5l-7 7 7 7" />
    </svg>
  </button>

  <div class="instruction-links__intro">
    <div
      class="instruction-links__badge"
      [ngClass]="'instruction-links__badge--' + accent"
    >
      <img [src]="translate(currentSection.imageUrl)" alt="" />
    </div>
    <div class="instruction-links__intro-text">
      <span
        class="instruction-links__title"
        [ngClass]="'instruction-links__title--' + accent"
        >{{ translate(currentSection.title) }}</span
      >
      <span class="instruction-links__summary">{{
        translate(currentSection.summary)
      }}</span>
    </div>
  </div>

  <div class="instruction-links__list">
    <div
      *ngFor="let link of currentSection.topics"
      class="instruction-links__row"
      (click)="navigateToLink(link.route)"
    >
      <div class="instruction-links__thumb">
        <img [src]="translate(link.thumbnailUrl)" alt="" />
      </div>
      <div class="instruction-links__row-text">
        <span class="instruction-links__row-title">{{
          translate(link.title)
        }}</span>
        <span class="instruction-links__row-description">{{
          translate(link.description)
        }}</span>
      </div>
      <svg class="instruction-links__row-arrow" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M9 5l7 7-7 7" />
      </svg>
    </div>
  </div>
</section>
