<app-header
  [header]="'instruction.instructions_header' | translate"
  [withBackBtn]="true"
  (backClicked)="navigateBack()"
></app-header>

<div class="wrapper_info">
  <div class="image">
    <img [src]="translate(currentSection.imageUrl)" alt="" />
  </div>
  <div class="header blue">
    {{ translate(currentSection.title) }}
  </div>
  <div class="description">
    {{ translate(currentSection.summary) }}
  </div>
</div>

<div class="wrapper">
  <div
    *ngFor="let link of currentSection.topics"
    class="wrapper_item"
    (click)="navigateToLink(link.route)"
  >
    <div class="wrapper_image">
      <img [src]="translate(link.thumbnailUrl)" alt="Image" />
    </div>
    <div class="wrapper_title">
      <span>{{ translate(link.title) }}</span>
      <div class="wrapper_description">
        {{ translate(link.description) }}
      </div>
    </div>
    <svg class="arrow" viewBox="0 -960 960 960" fill="#fafafa">
      <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
    </svg>
  </div>
</div>
