<app-header header="Instructions" [withBackBtn]="true" (backClicked)="navigateBack()"></app-header>

<div class="wrapper_info">
  <div class="image">
    <img [src]="currentLink.imagePath" alt="" />
  </div>
  <div class="header blue">
    {{ currentLink.header }}
  </div>
  <div class="description">
    {{ currentLink.description }}
  </div>
</div>

<div class="wrapper">
  <div
    *ngFor="let link of currentLink.links"
    class="wrapper_item"
    (click)="navigateToLink(link.path)"
  >
    <div class="wrapper_image">
      <img
        src="../../../../shared/assets/images/instructions/third_try.png"
        alt="Image"
      />
    </div>
    <div class="wrapper_title">
      <span>{{ link.name }}</span>
      <div class="wrapper_description">
        {{ link.description }}
      </div>
    </div>
    <svg class="arrow" viewBox="0 -960 960 960" fill="#fafafa">
      <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
    </svg>
  </div>
</div>
