@use "../../../../shared/assets/styles/palette";

.wrapper_info {
  display: flex;
  flex-direction: column;
  text-align: center;
  .image {
    img {
      width: 5rem;
      height: 5rem;
    }
  }

  .header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1rem;
    font-weight: bold;
    color: palette.$main-font-gray-color;
    width: 80%;
    margin: 0 auto;
    white-space: pre-line;
  }
}

.wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 10rem;
  
  .wrapper_image img {
    width: 5rem;
    height: 6rem;
    background-color: palette.$main-gray-color;
    object-fit: contain;
    border-radius: 20px;
    border: 0.1rem solid black;
  }
  .wrapper_item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid palette.$main-gray-color;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    .wrapper_title {
      width: 70%;
      padding-left: 1rem;
      font-size: large;
      padding-top: 0.2rem;
      align-self: baseline;

      .wrapper_description {
        padding-top: 0.25rem;
        width: 100%;
        font-size: 1rem;
        color: palette.$main-font-gray-color;
        white-space: pre-line;
      }
    }
  }

  .arrow {
    width: 2rem;
    height: 2rem;
  }
}

.blue {
  color: palette.$main-blue-color;
}
