<section class="wrapper_library">
  <ng-container *ngIf="activeReservations$ | async as reservedGames">
    <div class="no_records" *ngIf="reservedGames.length === 0">
      <img
        src="../../../../../shared/assets/images/no-reservations.png"
        alt=""
      />
      <p class="first-header">No reservations</p>
      <p class="second-header">Your book with active reservations is empty</p>
    </div>
    <ng-container *ngIf="reservedGames.length !== 0">
      <div
        *ngFor="let reservation of reservedGames"
        class="wrapper_library__item"
        [class.expanded]="isExpanded(reservation.id)"
      >
        <div class="content">
          <div class="wrapper_image">
            <img
              [src]="
                ImageEntityType.Games
                  | entityImage : reservation.gameImageId
                  | async
              "
              alt="Game Image"
            />
          </div>
          <div class="wrapper_info">
            <div class="wrapper_title">
              {{ reservation.gameName }}
              <div class="wrapper_description">
                <p>
                  Game reservation:
                  <span class="blue">{{
                    reservation.reservationDate | date : DATE_TIME_FORMAT
                  }}</span>
                </p>

                <p>From: {{ reservation.username }}</p>
                <p>
                  Table reservation:
                  <span
                    class="blue"
                    *ngIf="reservation.userHaveActiveTableReservation"
                    >{{
                      reservation.tableReservationTime | date : DATE_TIME_FORMAT
                    }}</span
                  >
                  <span *ngIf="!reservation.userHaveActiveTableReservation"
                    >None</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="circle-btn" (click)="toggleItem(reservation.id)">
            <span class="material-symbols-outlined menu">
              {{
                reservation.id === this.expandedReservationId
                  ? rightArrowKey
                  : leftArrowKey
              }}
            </span>
          </div>
          <div class="expanded-buttons">
            <button
              type="button"
              class="btnWithIcon"
              (click)="
                this.approveReservation(
                  reservation.reservationDate,
                  reservation.numberOfGuests,
                  reservation.gameName,
                  reservation.tableReservationTime ?? null
                )
              "
            >
              <span class="material-symbols-outlined accept">
                check_circle
              </span>
              <span class="header">Approve</span>
            </button>
            <button
              type="button"
              class="btnWithIcon"
              (click)="
                this.declineReservation(
                  reservation.reservationDate,
                  reservation.numberOfGuests,
                  reservation.gameName,
                  reservation.tableReservationTime ?? null
                )
              "
            >
              <span class="material-symbols-outlined decline"> cancel </span>
              <span class="header">Decline</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
