<app-header
  header="Create Game Camp"
  [withBottomLine]="true"
></app-header>

<ng-select
  [items]="cities"
  bindLabel="name"
  placeholder="Select city"
  [(ngModel)]="selectedCity"
  class="custom"
>
</ng-select>
<div class="wrapper_stats">
  <div class="wrapper_stats__chips-left">
    <div class="chip">
      <span>30 +</span>
      <span class="material-symbols-outlined"> schedule </span>
    </div>
    <div class="chip">
      <span> 2 - 4</span>
      <span class="material-symbols-outlined"> groups </span>
    </div>
  </div>

  <div class="wrapper_image">
    <img
      src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
      alt=""
    />
  </div>

  <div class="wrapper_stats__chips-right">
    <div class="chip">
      <span class="material-symbols-outlined"> cake </span>
      <span>+ 18</span>
    </div>
    <div class="chip">
      <span class="material-symbols-outlined available"> verified </span>
      <!-- <span class="material-symbols-outlined unavailable"> cancel </span> -->
      <span>1 - 3</span>
    </div>
  </div>
</div>

<div class="wrapper_title">
  <span>Dungeon & Dragons</span>
</div>

<div class="wrapper_inputs">
  <div class="wrapper_inputs__input">
    <label for="dateofbirth">choose date</label>
    <input type="date" name="dateofbirth" id="dateofbirth" />
  </div>
  <div class="wrapper_inputs__time">
    <label for="dateofbirth">choose time</label>
    <input type="time" name="dateofbirth" id="dateofbirth" />
  </div>
</div>

<div class="wrapper_btn">
  <span class="material-symbols-outlined"> local_fire_department </span>
  <span>Fire the Camp</span>
  <span class="material-symbols-outlined"> local_fire_department </span>
</div>
