<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
  <span class="header_name">Create Game Camp</span>
  <div class="info-container">
    <span class="material-symbols-outlined info" (click)="showMenu()">
      info
    </span>
    <div class="info__text" *ngIf="isMenuVisible">
      <p>The room will be avaiable till the choosen date.</p>
    </div>
  </div>
</div>
<div class="select-container">
  <ng-select
    [items]="this.gameList"
    bindLabel="name"
    placeholder="Select Game"
    [(ngModel)]="this.selectedGame"
    (change)="handleAddExistingGame()"
    class="app-select"
  >
  </ng-select>
</div>

<form [formGroup]="this.form">
  <div class="wrapper_stats">
    <div class="wrapper_stats__chips-left">
      <div class="chip">
        <span
          >{{ getGame("averagePlaytime") }} {{ this.game ? "m" : "" }}
        </span>
        <span class="material-symbols-outlined"> schedule </span>
      </div>
      <div class="chip">
        <span
          >{{ getGame("minPlayers") }} {{ this.game ? "-" : "" }}
          {{ getGame("maxPlayers") }}</span
        >
        <span class="material-symbols-outlined"> groups </span>
      </div>
    </div>

    <div class="wrapper_image">
      <img
        [ngClass]="this.imagePreview ? 'green' : 'red'"
        [src]="
          this.imagePreview ||
          '../../../../../shared/assets/images/default-no-image.jpg'
        "
      />
    </div>

    <div class="wrapper_stats__chips-right">
      <div class="chip">
        <span class="material-symbols-outlined"> cake </span>
        <span>{{ getGame("minAge") }} {{ this.game ? "+" : "" }} </span>
      </div>
      <div class="chip">
        <span
          class="material-symbols-outlined"
          [ngClass]="{
            available:
              !this.gameInventory || this.gameInventory.availableCopies > 0,
            unavailable:
              this.gameInventory && this.gameInventory.availableCopies === 0
          }"
        >
          {{
            !this.gameInventory || this.gameInventory.availableCopies > 0
              ? "verified"
              : "cancel"
          }}
        </span>
        <span *ngIf="this.gameInventory">
          {{ this.gameInventory.availableCopies }} /
          {{ this.gameInventory.totalCopies }}
        </span>
      </div>
    </div>
  </div>

  <div class="wrapper_title">
    <span>{{ this.game?.name }}</span>
  </div>

  <div class="wrapper_inputs">
    <div class="wrapper_inputs__input">
      <label class="required" for="startDate">Choose Date</label>
      <input formControlName="startDate" type="date" name="startDate" />
    </div>
    <div class="wrapper_inputs__time">
      <label class="required" for="startTime">Choose Time</label>
      <input type="time" name="startTime" formControlName="startTime" />
    </div>
  </div>
  <br />
  <div class="wrapper_inputs">
    <div class="wrapper_inputs__input">
      <label class="required" for="name">Name</label>
      <input formControlName="name" type="text" name="name" />
    </div>
    <div class="wrapper_inputs__time">
      <label class="required" for="maxParticipants">Max people</label>
      <input
        type="number"
        name="maxParticipants"
        formControlName="maxParticipants"
      />
    </div>
  </div>

  <div class="container-errors">
    <div *ngIf="getFirstErrorMessage()" class="errors">
      {{ getFirstErrorMessage() }}
    </div>
  </div>

  <div class="btn-container">
    <div class="wrapper_btn" (click)="onSubmit()">
      <span
        class="material-symbols-outlined"
        [ngClass]="this.form.valid ? 'red-flames' : 'gray-flames'"
      >
        local_fire_department
      </span>
      <span> Fire the Camp </span>
      <span
        class="material-symbols-outlined"
        [ngClass]="this.form.valid ? 'red-flames' : 'gray-flames'"
      >
        local_fire_department
      </span>
    </div>
  </div>
</form>
