<app-header
  [withSearch]="true"
  [withAdd]="true"
  header="Find Meeple"
  [withBottomLine]="true"
  (addClicked)="navigateToCreateMeepleRoom()"
  (searchExpressionResult)="handleSearchExpression($event)"
></app-header>

<div class="wrapper_groups">
  <div
    class="wrapper_group"
    *ngFor="let room of roomList$ | async"
    (click)="navigateToDetails(room.id)"
  >
    <div class="wrapper_group__header">
      <span> {{ room.name }}</span>
    </div>

    <div class="wrapper_group__info">
      <span>from - {{ room.gameName }}</span>
    </div>

    <div class="wrapper_group__image">
      <img
        [src]="ImageEntityType.Games | entityImage : room.gameImageId | async"
        alt=""
      />
    </div>

    <div
      class="wrapper_group__chips"
      *ngIf="room.startDate | date : 'dd/MM/yyyy HH:mm' as date"
    >
      <app-chip [color]="'blue'" [text]="date" [size]="'small'"></app-chip>
    </div>
    <div class="wrapper_group__chips-date-info">
      <app-chip
        [color]="'orange'"
        text="{{ room.joinedParticipants }} joined"
        [size]="'small'"
      ></app-chip>
      <app-chip
        [color]="'red'"
        text="{{ room.maxParticipants }} max"
        [size]="'small'"
      ></app-chip>
    </div>
  </div>
</div>
