<app-header
  [withSearch]="true"
  [withAdd]="true"
  header="Find Meeple"
  [withBottomLine]="true"
  (addClicked)="navigateToCreateMeepleRoom()"
  (searchExpressionResult)="handleSearchExpression($event)"
></app-header>

<section class="wrapper_library">
  <ng-container *ngIf="roomList$ | async as roomList">
    <div class="no_records" *ngIf="roomList.length === 0">
      <img src="/shared/assets/images/no-rooms-found.png" alt="" />
    </div>
    <div
      class="wrapper_library__border"
      *ngFor="let room of roomList"
      (click)="navigateToDetails(room.id)"
    >
      <div class="wrapper_library__item">
        <div class="wrapper_image">
          <img
            [src]="
              ImageEntityType.Games | entityImage : room.gameImageId | async
            "
            alt="Game Image"
          />
        </div>
        <div class="wrapper_info">
          <div class="wrapper_title">
            {{ room.name }}
            <div class="wrapper_description">Game: {{ room.gameName }}</div>
          </div>
        </div>
      </div>

      <div
        class="chips"
        *ngIf="room.startDate | date : DATE_TIME_FORMAT as date"
      >
        <app-chip [color]="'blue'" [text]="date" [size]="'middle'"></app-chip>
        <app-chip
          [color]="'orange'"
          text="{{ room.joinedParticipants }} joined"
          [size]="'middle'"
        ></app-chip>
        <app-chip
          [color]="'red'"
          text="{{ room.maxParticipants }} max"
          [size]="'middle'"
        ></app-chip>
      </div>
    </div>
  </ng-container>
</section>
