.control_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .control_header {
        margin: 0.5rem 0;
    }
}

.control_menu{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin: 1rem;
    app-btn{
        margin-bottom: 1rem;
    }
}