<span class="reservations-section-title">{{
  "reservation_management.history_games" | translate
}}</span>

<app-reservation-history-filters
  (expandedReservationIdReset)="expandedReservationIdReset()"
  (updateHistory)="updateHistory($event)"
></app-reservation-history-filters>

<app-reservation-history-actions
  [historyList]="reservedGames$"
  [expandedReservationId]="this.expandedReservationId"
  (updateReservationHistoryById)="updateReservation($event)"
  (deleteReservationHistoryById)="deleteReservation($event)"
  (approveReservationHistory)="approveReservation($event)"
  (declineReservationHistory)="declineReservation($event)"
  [selectedFilter]="this.selectedFilter.value"
>
  <ng-template let-reservation>
    <span class="reservations-meta">{{
      "reservation_management.history.created_date"
        | translate
          : {
              createdDate:
                reservation.createdDate
                | date : DATE_TIME_FORMAT : undefined : getCurrentLanguage
            }
    }}</span>
    <span class="reservations-title">
      {{ "reservation_management.history.game" | translate }}
      <span class="reservations-highlight">{{ reservation.gameName }}</span>
      {{ "reservation_management.history.was_booked_from" | translate }}
      <span class="reservations-highlight">{{ reservation.username }}</span>
    </span>
    <p class="reservations-meta">
      <span class="reservations-highlight">{{ reservation.numberOfGuests }}</span>
      {{
        reservation.numberOfGuests === 1
          ? ("reservation_management.history.person" | translate)
          : ("reservation_management.history.people" | translate)
      }}
    </p>
    <p class="reservations-meta">
      {{ "reservation_management.history.reservation_date" | translate }}
      <strong class="reservations-highlight">{{
        reservation.reservationDate
          | date : DATE_TIME_FORMAT : undefined : getCurrentLanguage
      }}</strong>
    </p>
  </ng-template>
</app-reservation-history-actions>
