@use "../../.././../../shared/assets/styles/palette";

// .wrapper_filters {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   width: 90%;
//   margin: 0 auto;
//   margin-top: 1rem;
//   .filter {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     .text {
//       font-size: 0.65rem;
//     }
//   }
//   .all {
//     color: palette.$main-blue-color;
//     font-variation-settings: "FILL" 1;
//     font-size: 2.5rem;
//     opacity: 0.5;
//   }
//   .accept {
//     color: palette.$main-green-color;
//     font-variation-settings: "FILL" 1;
//     font-size: 2.5rem;
//     opacity: 0.5;
//   }

//   .expired {
//     color: palette.$main-icon-color;
//     font-variation-settings: "FILL" 1;
//     font-size: 2.5rem;
//     opacity: 0.5;
//   }

//   .pending {
//     color: palette.$chip-yellow-color;
//     font-variation-settings: "FILL" 1;
//     font-size: 2.5rem;
//     opacity: 0.5;
//   }

//   .decline {
//     color: palette.$main-red-color;
//     font-variation-settings: "FILL" 1;
//     font-size: 2.5rem;
//     opacity: 0.5;
//   }

//   .active {
//     .accept,
//     .pending,
//     .decline,
//     .expired,
//     .all {
//       opacity: 1;
//     }
//     .text {
//       color: palette.$main-blue-color;
//     }
//   }
// }
// .wrapper_library {
//   display: flex;
//   flex-direction: column;
//   width: 85%;
//   padding-bottom: 7rem;
//   margin: 0 auto;
//   padding-top: 0.5rem;
//   overflow-y: visible;
//   .no_records {
//     text-align: center;
//     margin: 2rem;
//     font-size: 1.5rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .first-header {
//       font-size: 1.5rem;
//       margin-bottom: 0.2rem;
//     }
//     img {
//       height: 15rem;
//       width: 15rem;
//     }
//   }
//   &__item.expanded .content {
//     --expanded-offset: 150px;
//     transform: translateX(-150px);
//   }

//   &__item.expanded .expanded-buttons {
//     display: flex;
//   }

//   &__item {
//     position: relative;
//     display: flex;
//     padding-bottom: 0.3rem;
//     padding-top: 0.5rem;
//     border-bottom: 0.2rem solid palette.$main-gray-color;
//     transition: transform 0.3s ease-in-out;
//     overflow: hidden;
//     .content {
//       display: flex;
//       align-items: center;
//       width: 100%;
//       transform: translateX(0);
//       transition: transform 0.3s ease-in-out;
//     }
//     .circle-btn {
//       display: flex;
//       justify-content: center;
//       flex-direction: column;
//       margin: 0;

//       .accept {
//         color: palette.$main-green-color;
//         font-variation-settings: "FILL" 1;
//         font-size: 3rem;
//       }

//       .expired {
//         color: palette.$main-icon-color;
//         font-variation-settings: "FILL" 1;
//         font-size: 3rem;
//       }

//       .pending {
//         color: palette.$chip-yellow-color;
//         font-variation-settings: "FILL" 1;
//         font-size: 3rem;
//       }

//       .decline {
//         color: palette.$main-red-color;
//         font-variation-settings: "FILL" 1;
//         font-size: 3rem;
//       }

//       span {
//         margin: 0.5rem;
//         font-variation-settings: "FILL" 1;
//         font-size: 2.5rem;
//       }

//       .menu {
//         color: palette.$main-blue-color;
//       }
//     }

//     .expanded-buttons {
//       display: none;
//       position: absolute;
//       left: 100%;

//       .text {
//         width: var(--expanded-offset - 10px);
//         text-align: center;
//       }
//       .btnWithIcon {
//         cursor: pointer;
//         padding: 1rem;
//         border: none;
//         background: transparent;
//         color: palette.$main-font-color;
//         border-radius: 0.25rem;

//         .edit {
//           color: palette.$chip-yellow-color;
//           font-variation-settings: "FILL" 1;
//           font-size: 3rem;
//         }

//         .delete,
//         .decline {
//           color: palette.$main-red-color;
//           font-variation-settings: "FILL" 1;
//           font-size: 3rem;
//         }

//         .approve {
//           color: palette.$main-green-color;
//           font-variation-settings: "FILL" 1;
//           font-size: 3rem;
//         }
//       }
//     }

//     .wrapper_info {
//       position: relative;
//       width: 100%;
//       display: flex;
//       justify-content: space-between;

//       .wrapper_title {
//         padding-left: 1rem;
//         font-size: large;
//         padding-top: 0.2rem;
//         align-self: baseline;

//         .wrapper_description {
//           padding-top: 0.25rem;
//           width: 100%;
//           font-size: 1rem;
//           color: palette.$main-font-gray-color;

//           .success {
//             color: palette.$main-green-color;
//           }

//           .unsuccess {
//             color: palette.$main-red-color;
//           }
//         }
//       }
//     }

//     .wrapper_image img {
//       width: 5rem;
//       height: 5rem;
//       min-width: 5rem;
//       min-height: 5rem;
//       object-fit: cover;
//       border-radius: 20px;
//       border: 0.1rem solid black;
//     }
//   }
// }

.blue {
  color: palette.$main-blue-color;
}

.wrapper_info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .wrapper_title {
    padding-left: 1rem;
    font-size: large;
    padding-top: 0.2rem;
    align-self: baseline;

    .wrapper_description {
      padding-top: 0.25rem;
      width: 100%;
      font-size: 1rem;
      color: palette.$main-font-gray-color;
    }
  }
}