@use "../../.././../../shared/assets/styles/palette";

.blue {
  color: palette.$main-blue-color;
}

.wrapper_info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .wrapper_title {
    padding-left: 1rem;
    font-size: large;
    padding-top: 0.2rem;
    align-self: baseline;

    .wrapper_description {
      padding-top: 0.25rem;
      width: 100%;
      font-size: 1rem;
      color: palette.$main-font-gray-color;
    }
  }
}
