<app-header
  [header]="'meeple.room.room_members' | translate"
  [withSearch]="true"
  [withBackBtn]="true"
  [withBottomLine]="true"
  (searchExpressionResult)="handleSearchExpression($event)"
  (backClicked)="onBack()"
></app-header>
<div class="wrapper">
  <div class="guestlist">
    <ul class="attendes">
      <li *ngFor="let member of members">
        <div class="item">
          <ng-container *ngIf="this.room.createdBy === this.getCurrentUserId()">
            <div
              class="user-actions"
              *ngIf="this.room.createdBy !== member.userId"
            >
              <!-- close icon -->
              <svg
                class="remove"
                (click)="onDelete(member.userId)"
                viewBox="0 -960 960 960"
              >
                <path
                  d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
                />
              </svg>
            </div>
          </ng-container>

          <!-- FUTURE IMPROVEMENTS -->
          <!-- user image -->
          <!-- <img src="http://placehold.it/50x50" alt="" /> -->
          <div class="user-info">
            <span class="name">
              <span
                class="owner"
                *ngIf="this.room.createdBy === member.userId"
                >{{ "meeple.room.room_owner" | translate }}</span
              >{{ member.username }} 
              <!--   -
            <span class="age">
                {{
                  "meeple.room.room_person_age"
                    | translate : { age: member.age }
                }}</span
              > -->
            </span>
            <br />
            <small
              >{{ "meeple.room.room_person_joined_at" | translate }}
              {{
                member.joinedAt
                  | date : DATE_FORMAT : undefined : this.currentLanguage
              }}</small
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
