<div class="dialog-container">
  <h3 class="dialog-container__header m-4">{{ "are_you_sure" | translate }}</h3>

  <p class="dialog-container__important">
    {{ "admin_rewards.delete_dialog.important_note" | translate }}
  </p>
  <p class="dialog-container__message">
    {{ "admin_rewards.delete_dialog.important_note_desc_1" | translate
    }}<br />{{
      "admin_rewards.delete_dialog.important_note_desc_2" | translate
    }}
  </p>

  <mat-dialog-actions>
    <button class="btn btn__small btn-blue" mat-dialog-close>
      {{ "cancel" | translate }}
    </button>
    <button class="btn btn__small btn-red btn-border-red" (click)="delete()">
      {{ "delete" | translate }}
    </button>
  </mat-dialog-actions>
</div>
