@use "../../../../shared/assets/styles/palette";

.dialog-container {
  color: palette.$main-font-color;
  background-color: palette.$main-nav-color;

  &__header {
    margin: 1rem;
  }
  &__important {
    display: flex;
    justify-content: start;
    color: palette.$main-red-color;
    margin: 1rem;
    font-size: 1.2rem;
  }
  &__message {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 1.2rem;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: end;
  }

  button {
    margin: 0.4rem;
  }
}
