<p>{{ "WELCOME" | translate }}</p>
<button (click)="setLanguage('en')">English</button>
<button (click)="setLanguage('bg')">Български</button>

<div>iphone version -> {{ iphoneVersion }}</div>
<br />
<div>native platform -> {{ nativePlatform }}</div>
<div class="wrapper">
  <div class="header">
    <span class="title">Run Challenge Period Job</span>
    <br />
    <button (click)="runChallengePeriodJob()" class="title">Execute</button>
  </div>
  <br />
  <div class="header">
    <span class="title">Jobs</span>
    <br />
    <button (click)="executePeriodJobs()" class="title">
      Execute Period Jobs
    </button>
  </div>

  <div *ngFor="let item of jobs">
    <br />

    <p>Job Key Name - {{ item.jobKeyName }}</p>
    <p>Trigger Key Name - {{ item.triggerKeyName }}</p>

    <p>Next Fire Time - {{ item.nextFireTime }}</p>
    <p>Previous Fire Time - {{ item.previousFireTime }}</p>

    <br />
  </div>
</div>
