@use "../../../shared/assets/styles/palette";

.dialog-container {
  color: palette.$main-font-color;
  background-color: palette.$main-nav-color;

  &__header {
    margin: 1rem;
    text-align: center;
  }

  &__description {
    margin: 1rem;
    font-size: 1.25rem;
    text-align: center;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: end;
  }

  button {
    margin: 0.4rem 0.2rem;
  }
}
