<app-language-switch />
<div class="wrapper">
  <div class="interactive-option">
    <div class="icon_wrapper" (click)="navigateToLanding()">
      <img
        class="dicehub-logo"
        src="shared/assets/images/dicehub_logo_1.png"
        alt="DiceHub"
      />
    </div>
  </div>
  <span class="header">{{ this.clubName ?? ("club" | translate) }}</span>

  <form [formGroup]="this.form" class="container">
    <div class="input-field">
      <label for="phoneNumber" class="required">{{
        "create_employee_password.labels.phone_number" | translate
      }}</label>
      <input
        [placeholder]="
          'create_employee_password.placeholders.phone_number' | translate
        "
        type="tel"
        formControlName="phoneNumber"
        class="surface-elevated"
      />
    </div>
    <div class="input-field password-field">
      <label for="newPassword" class="required">{{
        "create_employee_password.labels.new_password" | translate
      }}</label>
      <input
        [placeholder]="
          'create_employee_password.placeholders.new_password' | translate
        "
        [type]="showNewPassword ? 'text' : 'password'"
        formControlName="newPassword"
        class="surface-elevated"
      />
      <app-password-visibility-toggle
        [(isVisible)]="showNewPassword"
      ></app-password-visibility-toggle>
    </div>
    <div class="input-field password-field">
      <label for="confirmPassword" class="required">{{
        "create_employee_password.labels.confirm_password" | translate
      }}</label>
      <input
        [placeholder]="
          'create_employee_password.placeholders.confirm_password' | translate
        "
        [type]="showConfirmPassword ? 'text' : 'password'"
        formControlName="confirmPassword"
        class="surface-elevated"
      />
      <app-password-visibility-toggle
        [(isVisible)]="showConfirmPassword"
      ></app-password-visibility-toggle>
    </div>
    <div *ngIf="getFirstErrorMessage()" class="errors">
      {{ getFirstErrorMessage() }}

      <p *ngIf="showResend">
        {{ "create_employee_password.link_expired" | translate }}
        <a class="resend" (click)="resendPasswordEmail()">{{
          "create_employee_password.resend_email" | translate
        }}</a>
      </p>
    </div>

    <div class="btn-container">
      <button
        [disabled]="this.form.invalid"
        type="button"
        (click)="onSubmit()"
        class="games-cta"
      >
        {{ "create_employee_password.create_password_btn" | translate }}
      </button>
    </div>
  </form>
</div>
