<div class="landing-mobile mobile-screen">
  <div class="language-switch-phone-screen">
    <button (click)="changeLang('EN')">EN</button>
    <button (click)="changeLang('BG')">BG</button>
  </div>
  <section class="landing-header">
    <img class="img-left" src="shared/assets/images/dicehub_logo_1.png" />
    <div class="header">DiceHub</div>
    <img class="img-right" src="shared/assets/images/dicehub_logo_1.png" />
  </section>

  <section>
    <div class="wrapper_library">
      <h1>{{ "landing.revolutionizing" | translate }}</h1>
      <h1>{{ "landing.game_driven_entertainment" | translate }}</h1>
      <p class="sub-header">
        {{ "landing.info" | translate }}
      </p>
    </div>
    <div class="list">
      <div class="item">
        <div class="item-icon">
          <img src="shared/assets/images/landing_item_1.png" />
        </div>
        <div class="item-info">
          <p class="item-header">
            {{ "landing.club_game_management_title" | translate }}
          </p>
          <p class="item-sub-header">
            {{ "landing.club_game_management_desc" | translate }}
          </p>
        </div>
      </div>
      <div class="item">
        <div class="item-icon">
          <img src="shared/assets/images/landing_item_2.png" />
        </div>
        <div class="item-info">
          <p class="item-header">
            {{ "landing.challenge_rewards_title" | translate }}
          </p>
          <p class="item-sub-header">
            {{ "landing.challenge_rewards_desc" | translate }}
          </p>
        </div>
      </div>
      <div class="item">
        <div class="item-icon">
          <img src="shared/assets/images/landing_item_3.png" />
        </div>
        <div class="item-info">
          <p class="item-header">
            {{ "landing.activity_tracking_title" | translate }}
          </p>
          <p class="item-sub-header">
            {{ "landing.activity_tracking_desc" | translate }}
          </p>
        </div>
      </div>
      <div class="item">
        <div class="item-icon">
          <img src="shared/assets/images/landing_item_4.png" />
        </div>
        <div class="item-info">
          <p class="item-header">
            {{ "landing.event_management_title" | translate }}
          </p>
          <p class="item-sub-header">
            {{ "landing.event_management_desc" | translate }}
          </p>
        </div>
      </div>
      <div class="item">
        <div class="item-icon">
          <img src="shared/assets/images/landing_item_5.png" />
        </div>
        <div class="item-info">
          <p class="item-header">
            {{ "landing.reservation_system_title" | translate }}
          </p>
          <p class="item-sub-header">
            {{ "landing.reservation_system_desc" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="how-it-works-btn">
      <button
        (click)="onInstructions()"
        type="button"
        class="btn btn-gray create-btn btn-font-blue"
      >
        {{ "landing.how_it_works" | translate }}
      </button>
    </div>
    <div class="btns-container">
      <button
        (click)="onLogin()"
        type="button"
        class="btn btn-gray create-btn btn-font-gray btn-border-blue"
      >
        {{ "landing.login" | translate }}
      </button>

      <button
        (click)="onRegister()"
        type="button"
        class="btn btn-blue create-btn btn-font-gray btn-border-blue"
      >
        {{ "landing.register" | translate }}
      </button>
    </div>
  </section>

  <div class="partner-container">
    <section class="partner-form">
      <h2>{{ "landing.partner_with_us_title" | translate }}</h2>
      <p class="partner-text">
        {{ "landing.partner_with_us_text" | translate }}
      </p>
      <form [formGroup]="form" class="">
        <div class="input-field">
          <label for="name" class="required">{{
            "landing.form.labels.name" | translate
          }}</label>

          <input
            formControlName="name"
            type="text"
            [placeholder]="'landing.form.placeholders.name' | translate"
            required
          />
        </div>
        <div class="input-field">
          <label for="email" class="required">{{
            "landing.form.labels.email" | translate
          }}</label>

          <input
            formControlName="email"
            type="email"
            [placeholder]="'landing.form.placeholders.email' | translate"
            required
          />
        </div>
        <div class="input-field">
          <label for="phoneNumber" class="required">{{
            "landing.form.labels.phone_number" | translate
          }}</label>

          <input
            formControlName="phoneNumber"
            type="text"
            [placeholder]="'landing.form.placeholders.phone_number' | translate"
            required
          />
        </div>
        <div class="input-field">
          <label for="message" class="required">{{
            "landing.form.labels.message" | translate
          }}</label>

          <textarea
            formControlName="message"
            [placeholder]="'landing.form.placeholders.message' | translate"
            id="message"
            formControlName="message"
          ></textarea>
        </div>
        <div *ngIf="getFirstErrorMessage()" class="errors">
          {{ getFirstErrorMessage() }}
        </div>
        <button
          [disabled]="this.form.invalid"
          (click)="this.onSubmit()"
          [ngClass]="{
            'btn-border-green': this.form.valid,
            'btn-font-green': this.form.valid,
            'btn-border-red': this.form.invalid,
            'btn-font-red': this.form.invalid
          }"
          type="button"
          class="submit btn btn-gray create-btn btn-font-gray btn-border-blue"
        >
          {{ "landing.form.send_btn" | translate }}
        </button>
      </form>
    </section>
  </div>
</div>

<div class="landing-big-screen big-screen">
  <header class="header">
    <div class="logo">
      <img
        src="shared/assets/images/dicehub_logo_1.png"
        alt="DiceHub logo"
        class="logo-icon"
      />
      <span>DiceHub</span>
    </div>
    <div class="auth-buttons">
      <div class="language-switch-big-screen">
        <button (click)="changeLang('EN')">EN</button>
        <button (click)="changeLang('BG')">BG</button>
      </div>
      <button class="btn" (click)="onLogin()">
        {{ "landing.login" | translate }}
      </button>
      <button class="btn" (click)="onRegister()">
        {{ "landing.register" | translate }}
      </button>
      <button class="btn instruction" (click)="onInstructions()">
        {{ "landing.how_it_works" | translate }}
      </button>
    </div>
  </header>

  <section class="headline">
    <h1>
      {{ "landing.revolutionizing" | translate }} <br />{{
        "landing.game_driven_entertainment" | translate
      }}
    </h1>
    <br />
    <h3>
      {{ "landing.info" | translate }}
    </h3>
  </section>

  <section class="dashboard-mockup">
    <img src="shared/assets/images/dashboard.png" alt="Dashboard mockup" />
  </section>

  <section class="features">
    <div class="feature">
      <img
        src="shared/assets/images/landing_item_1.png"
        [alt]="'landing.club_game_management_title' | translate"
      />
      <span>{{ "landing.club_game_management_title" | translate }}</span>
    </div>
    <div class="feature">
      <img
        src="shared/assets/images/landing_item_2.png"
        [alt]="'challenge_rewards_title' | translate"
      />
      <span>{{ "landing.challenge_rewards_title" | translate }}</span>
    </div>
    <div class="feature">
      <img
        src="shared/assets/images/landing_item_3.png"
        [alt]="'landing.qr_code_game_tracking_title' | translate"
      />
      <span>{{ "landing.qr_code_game_tracking_title" | translate }}</span>
    </div>
    <div class="feature">
      <img
        src="shared/assets/images/landing_item_4.png"
        [alt]="'landing.event_management_title' | translate"
      />
      <span>{{ "landing.event_management_title" | translate }}</span>
    </div>
    <div class="feature">
      <img
        src="shared/assets/images/landing_item_5.png"
        [alt]="'landing.reservation_system_title' | translate"
      />
      <span>{{ "landing.reservation_system_title" | translate }}</span>
    </div>
  </section>
  <section class="partner-form">
    <h2>{{ "landing.partner_with_us_title" | translate }}</h2>
    <p class="partner-text">
      {{ "landing.partner_with_us_text" | translate }}
    </p>
    <form [formGroup]="form" class="partner-form">
      <div class="input-field">
        <label for="name" class="required">{{
          "landing.form.labels.name" | translate
        }}</label>

        <input
          formControlName="name"
          type="text"
          [placeholder]="'landing.form.placeholders.name' | translate"
          required
        />
      </div>
      <div class="input-field">
        <label for="email" class="required">{{
          "landing.form.labels.email" | translate
        }}</label>

        <input
          formControlName="email"
          type="email"
          [placeholder]="'landing.form.placeholders.email' | translate"
          required
        />
      </div>
      <div class="input-field">
        <label for="phoneNumber" class="required">{{
          "landing.form.labels.phone_number" | translate
        }}</label>

        <input
          formControlName="phoneNumber"
          type="text"
          [placeholder]="'landing.form.placeholders.phone_number' | translate"
          required
        />
      </div>
      <div class="input-field">
        <label for="message" class="required">{{
          "landing.form.labels.message" | translate
        }}</label>

        <textarea
          formControlName="message"
          [placeholder]="'landing.form.placeholders.message' | translate"
          id="message"
          formControlName="message"
        ></textarea>
      </div>

      <div *ngIf="getFirstErrorMessage()" class="errors">
        {{ getFirstErrorMessage() }}
      </div>

      <button
        [disabled]="this.form.invalid"
        (click)="this.onSubmit()"
        [ngClass]="{
          'btn-border-green': this.form.valid,
          'btn-font-green': this.form.valid,
          'btn-border-red': this.form.invalid,
          'btn-font-red': this.form.invalid
        }"
        type="submit"
      >
        {{ "landing.form.send_btn" | translate }}
      </button>
    </form>
  </section>
</div>
