@use "../../../shared/assets/styles/palette";

.landing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  .header {
    font-size: 2rem;
    font-weight: 700;
  }
  img {
    position: absolute;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }
  .img-left {
    left: 0;
  }
  .img-right {
    right: 0;
    transform: scaleX(-1);
  }
}

.wrapper_library {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;

  .sub-header {
    margin: 1rem;
    color: palette.$main-font-gray-color;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;

    .item-icon {
      width: 6rem;
      height: 6rem;
      margin-right: 1rem;
      background-color: #1c1c1e;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      img {
        margin: 0 auto;
        width: 6rem;
        object-fit: cover;
      }
    }
    .item-info {
      width: 12.5rem;
    }
    .item-header {
      text-align: left;
    }
    .item-sub-header {
      color: palette.$main-font-gray-color;
      margin-top: 0.5rem;
    }
  }
}

.how-it-works-btn {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.btns-container {
  display: flex;
  justify-content: space-evenly;
  .btn {
    margin: 0.5rem;
  }
}
.partner-section {
  text-align: center;
  padding: 2rem;
  background-color: #1c1c1e;
  border-radius: 1rem;
  margin: 2rem;
  color: #efefef;

  .partner-text {
    color: palette.$main-font-gray-color;
    margin-bottom: 1rem;
  }
}

.partner-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.partner-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
