<div class="dialog-container">
  <h3 class="dialog-container__header m-4">
    {{ "single_player_confirm_dialog.dialog_header_solo_game" | translate }}
  </h3>
  <mat-dialog-actions>
    <button class="btn btn__small btn-blue" mat-dialog-close>
      {{ "single_player_confirm_dialog.button_no" | translate }}
    </button>
    <button
      class="btn btn__small btn-red btn-border-red"
      (click)="onSinglePlayer()"
    >
      {{ "single_player_confirm_dialog.button_yes" | translate }}
    </button>
  </mat-dialog-actions>
</div>
