@use "../../.././shared/assets/styles/palette";

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.markup {
  color: palette.$main-blue-color;
}
.forgot-password{
display: flex;
justify-content: end;
}
.interactive-option {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .icon_wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    background: palette.$main-blue-color;
    box-shadow: 0 0 0 12px var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
}

.header {
  margin: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-bottom: 8rem;
  font-size: palette.$main-font-color;
}

.input-checkbox {
  margin-left: 0.5rem;
  display: flex;
  input[type="checkbox"] {
    accent-color: palette.$main-blue-color;
  }

  .remember-label {
    display: flex;
    width: 95%;
    justify-content: space-between;
    label {
      margin-left: 1rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;

  button {
    width: 60%;
  }
}

.additional-link {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.errors {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  flex-wrap: wrap;
}

.redirect-message {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  color: palette.$main-green-color;
}

.resend {
  font-weight: 600;
  border-bottom: 0.15rem solid palette.$main-red-color;
}
