<!-- app-menu.component.html -->
<div class="wrapper_settings" [ngClass]="{ active: isVisible }">
  <!-- Overlay div to blur the background when menu is visible -->
  <div class="blur-overlay" (click)="closeMenu()"></div>

  <!-- Menu content -->
  <div *ngIf="isVisible && isInfo" class="menu">
    <ul class="menu_ul">
      <li class="menu_li info" [innerHTML]="infoDescriptionWithBreaks"></li>
    </ul>
    <ul class="last_menu_ul last_menu_item">
      <li class="last_menu_li" (click)="closeMenu()">Close</li>
    </ul>
  </div>

  <div *ngIf="isVisible && !isInfo" class="menu">
    <ul class="menu_ul" *ngIf="menuItems | async as menu">
      <ng-container *ngFor="let item of menu">
        <li
          class="menu_li"
          *ngIf="
            item.isVisible === undefined || item.isVisible === null
              ? true
              : item.isVisible
          "
          [ngClass]="{
            'red-text': item.isRedTextOn
          }"
          (click)="onMenuItemClick(item.key, $event)"
        >
          {{ item.label }}
        </li>
      </ng-container>
    </ul>
    <ul class="last_menu_ul last_menu_item">
      <li class="last_menu_li" (click)="closeMenu()">Cancel</li>
    </ul>
  </div>
</div>
