@use "../../.././../../shared/assets/styles/palette";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    font-size: palette.$main-font-color;
}

.upload-section {
    padding: 1.3rem;
    padding-top: 0;
    border-radius: 10px;
    text-align: center;

    .upload-icon {
        background-color: palette.$main-nav-color;
        border-radius: 10px;
        margin: 1rem auto;
        width: 80%;
        aspect-ratio: 1 / 1;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        input[type="file"] {
            display: none;
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18rem;
            height:18rem;
            cursor: pointer;

            img {
                width: 17rem;
                height: 17rem;
                object-fit: contain;
                border-radius: 0.7rem;
            }
        }
    }

    .statistics {
        margin: 1.5rem;

        span {
            background-color: palette.$main-nav-color;
            color: palette.$main-green-color;
            border: none;
            border-radius: 20px;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}

.arrow {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: relative;
    border: 0.1rem solid palette.$main-icon-color;
    border-radius: 2.5rem;

    &::before {
        content: '';
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        top: 65%;
        left: 63%;
        border-style: solid;
        border-color: palette.$main-icon-color;
        border-width: 0.2rem 0.2rem 0 0;
        position: absolute;
        transform-origin: 50% 50%;
    }

    &.left::before {
        transform: rotate(-135deg);
        margin: -0.9rem 0 0 -0.6rem;
    }
}

.wrapper_icons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;

    .games-select {
        margin-top: 1rem;
    }

    .info-container {
        position: relative;

        .info {
            font-variation-settings: 'FILL' 1;
            font-size: 3rem;
            color: palette.$main-red-color;
        }

        .qr-code-info {
            position: absolute;
            right: 0.5rem;
            top: 2.25rem;
            background-color: palette.$main-gray-color;
            padding: 0.5rem;
            z-index: 1000;
            width: 10rem;
            text-align: center;
        }

        .qr-code-info span {
            width: 9rem;
            text-align: center;
            line-height: 2rem;
            font-size: 1.2rem;
        }
    }

    .wrapper_qrCode {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 0.5rem;
        border-radius: 50%;
        margin: 0 0.2rem;

        img {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
        }
    }
}

input[disabled], textarea[disabled], select[disabled] {
    opacity: 0.6; /* Adjust opacity to your liking */
    cursor: not-allowed; /* Change cursor to indicate non-interaction */
  }