<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>

  <div class="games-select" *ngIf="addExistingGame">
    <ng-select
      [items]="gameList"
      bindLabel="name"
      placeholder="Select Game"
      [searchable]="true"
      [(ngModel)]="selectedGame"
      (change)="handleAddExistingGame()"
      class="app-select"
    >
    </ng-select>
  </div>

  <div *ngIf="addExistingGame" class="info-container">
    <svg class="info" (click)="showMenu()" viewBox="0 -960 960 960">
      <path
        d="M448-284h66v-236h-66v236Zm31.82-308.92q14.64 0 24.72-9.9 10.08-9.91 10.08-24.54 0-14.64-9.91-24.72-9.9-10.07-24.53-10.07-14.64 0-24.72 9.9-10.08 9.9-10.08 24.54 0 14.63 9.91 24.71 9.9 10.08 24.53 10.08ZM480.13-88q-81.31 0-152.89-30.86-71.57-30.86-124.52-83.76-52.95-52.9-83.83-124.42Q88-398.55 88-479.87q0-81.56 30.92-153.37 30.92-71.8 83.92-124.91 53-53.12 124.42-83.48Q398.67-872 479.87-872q81.55 0 153.35 30.34 71.79 30.34 124.92 83.42 53.13 53.08 83.49 124.84Q872-561.64 872-480.05q0 81.59-30.34 152.83-30.34 71.23-83.41 124.28-53.07 53.05-124.81 84Q561.7-88 480.13-88Zm-.13-66q136.51 0 231.26-94.74Q806-343.49 806-480t-94.74-231.26Q616.51-806 480-806t-231.26 94.74Q154-616.51 154-480t94.74 231.26Q343.49-154 480-154Zm0-326Z"
      />
    </svg>
    <div class="qr-code-info" *ngIf="isMenuVisible">
      <span> QR Code Exist for the current game </span>
    </div>
  </div>
  <a *ngIf="editGameId" (click)="openQrCodeDialog()" class="wrapper_qrCode">
    <img src="/shared/assets/images/qr-code.png" alt="" />
  </a>
</div>

<form [formGroup]="form" class="container">
  <div class="upload-section">
    <div class="upload-icon">
      <input
        type="file"
        id="file-upload"
        accept="image/*"
        (change)="onFileSelected($event)"
        [disabled]="addExistingGame"
      />
      <label for="file-upload">
        <div class="image-preview">
          <img
            [src]="imagePreview || '/shared/assets/images/upload_img.svg'"
            alt="Selected Image"
          />
        </div>
      </label>
    </div>

    <div class="statistics">
      <span>Statistics</span>
    </div>

    <div class="input-field">
      <label for="category" class="required">Category</label>
      <select id="category" formControlName="categoryId">
        <option [value]="null" disabled selected>Choose category</option>
        <option *ngFor="let item of categories | async" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>

    <div class="input-group">
      <div class="input-field">
        <label for="min-age" class="required">Min age</label>
        <input
          placeholder="kids or adults"
          type="number"
          id="min-age"
          formControlName="minAge"
        />
      </div>
      <div class="input-field">
        <label for="approx-time" class="required">Approx Time</label>

        <ng-select
          id="approx-time"
          [items]="gamAveragePlaytimeValues"
          bindValue="id"
          bindLabel="name"
          placeholder="avg play time"
          [searchable]="true"
          formControlName="averagePlaytime"
          class="app-select-long"
        >
        </ng-select>
      </div>
    </div>

    <div class="input-group">
      <div class="input-field">
        <label for="min-players" class="required">Min Players</label>
        <input
          placeholder="min players"
          type="number"
          id="min-players"
          formControlName="minPlayers"
        />
      </div>
      <div class="input-field">
        <label for="max-players" class="required">Max Players</label>
        <input
          placeholder="max players"
          type="number"
          id="max-players"
          formControlName="maxPlayers"
        />
      </div>
    </div>

    <div class="input-field">
      <label for="name" class="required">Name</label>
      <input
        placeholder="name of the game ?"
        type="text"
        id="name"
        formControlName="name"
        [readonly]="addExistingGame"
      />
    </div>

    <div class="input-field">
      <label for="description" class="required">Description</label>
      <textarea
        placeholder="what happen in this game"
        id="description"
        formControlName="description"
        #descArea
        (input)="adjustTextareaHeight(descArea)"
        class="expand-textarea-mobile"
      ></textarea>
    </div>

    <div *ngIf="getFirstErrorMessage()" class="errors">
      {{ getFirstErrorMessage() }}
    </div>

    <button
      *ngIf="!this.editGameId && !this.addExistingGame"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onAdd()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Create
    </button>

    <button
      *ngIf="this.editGameId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onUpdate()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-yellow': this.form.valid,
        'btn-font-yellow': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Update
    </button>

    <button
      *ngIf="this.addExistingGame"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onCopy()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Add Copy
    </button>
  </div>
</form>
