<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>

  <div class="games-select" *ngIf="addExistingGame">
    <ng-select
      [items]="gameList"
      bindLabel="name"
      placeholder="Select Game"
      [searchable]="true"
      [(ngModel)]="selectedGame"
      (change)="handleAddExistingGame()"
      class="app-select"
    >
    </ng-select>
  </div>

  <div *ngIf="addExistingGame" class="info-container">
    <span class="material-symbols-outlined info" (click)="showMenu()">
      info
    </span>
    <div class="qr-code-info" *ngIf="isMenuVisible">
      <span> QR Code Exist for the current game </span>
    </div>
  </div>
  <a *ngIf="editGameId" (click)="openQrCodeDialog()" class="wrapper_qrCode">
    <img src="../../../../../shared/assets/images/qr-code.png" alt="" />
  </a>
</div>

<form [formGroup]="form" class="container">
  <div class="upload-section">
    <div class="upload-icon">
      <input
        type="file"
        id="file-upload"
        accept="image/*"
        (change)="onFileSelected($event)"
        [disabled]="addExistingGame"
      />
      <label for="file-upload">
        <div class="image-preview">
          <img
            [src]="
              imagePreview ||
              '../../../../../shared/assets/images/upload_img.svg'
            "
            alt="Selected Image"
          />
        </div>
      </label>
    </div>

    <div class="statistics">
      <span>Statistics</span>
    </div>

    <div class="input-field">
      <label for="category" class="required">Category</label>
      <select id="category" formControlName="categoryId">
        <option [value]="null" disabled selected>Choose category</option>
        <option *ngFor="let item of categories | async" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>

    <div class="input-group">
      <div class="input-field">
        <label for="min-age" class="required">Min age</label>
        <input
          placeholder="kids or adults"
          type="number"
          id="min-age"
          formControlName="minAge"
        />
      </div>
      <div class="input-field">
        <label for="approx-time" class="required">Approx Time</label>
        <input
          placeholder="average play time"
          type="number"
          id="approx-time"
          formControlName="averagePlaytime"
        />
      </div>
    </div>

    <div class="input-group">
      <div class="input-field">
        <label for="min-players" class="required">Min Players</label>
        <input
          placeholder="min players"
          type="number"
          id="min-players"
          formControlName="minPlayers"
        />
      </div>
      <div class="input-field">
        <label for="max-players" class="required">Max Players</label>
        <input
          placeholder="max players"
          type="number"
          id="max-players"
          formControlName="maxPlayers"
        />
      </div>
    </div>

    <div class="input-field">
      <label for="name" class="required">Name</label>
      <input
        placeholder="name of the game ?"
        type="text"
        id="name"
        formControlName="name"
        [readonly]="addExistingGame"
      />
    </div>

    <div class="input-field">
      <label for="description" class="required">Description</label>
      <textarea
        placeholder="what happend in this game"
        id="description"
        formControlName="description"
      ></textarea>
  
    </div>

    <div *ngIf="getFirstErrorMessage()" class="errors">
      {{ getFirstErrorMessage() }}
    </div>

    <button
      *ngIf="!this.editGameId && !this.addExistingGame"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onAdd()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Create
    </button>

    <button
      *ngIf="this.editGameId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onUpdate()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-yellow': this.form.valid,
        'btn-font-yellow': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Update
    </button>

    <button
    *ngIf="this.addExistingGame"
    [disabled]="this.form.invalid"
    type="button"
    (click)="this.onCopy()"
    class="btn btn-gray"
    [ngClass]="{
      'btn-border-green': this.form.valid,
      'btn-font-green': this.form.valid,
      'btn-border-red': this.form.invalid,
      'btn-font-red': this.form.invalid
    }"
  >
    Add Copy
  </button>
  </div>
</form>
