.rewards-collected-card {
  width: min(28rem, 100%);
  margin: 0 auto;
  padding: 1.125rem;
}

.rewards-collected-card__canvas {
  position: relative;
  width: 100%;
  height: 20rem;
}

@media (min-width: 900px) {
  .rewards-collected-card {
    width: min(60rem, 100%);
  }

  .rewards-collected-card__canvas {
    height: 26rem;
  }
}
