@use "../../.././shared/assets/styles/palette";

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interactive-option {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .icon_wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    background: palette.$main-blue-color;
    box-shadow: 0 0 0 12px var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 3rem;
    height: 3rem;
    fill: palette.$main-font-color;
  }
}

.header {
  margin: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.club-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 10rem;

  .club-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.25rem solid palette.$main-nav-color;
    border-radius: 1.25rem;
    transition: all 0.2s;
    padding: 0.4rem;

    &.selected {
      background: palette.$main-blue-color;
      color: palette.$main-font-color;
    }

    .club-image {
      width: 5rem;
      height: 5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .club-name {
      flex: 1;
      margin-left: 1rem;
      font-weight: bold;
      font-size: 1rem;
    }

    .club-tick {
      display: flex;
      margin-right: 1.5rem;
      align-items: center;
    }
  }
}

.arrow-circle {
  z-index: 10000;
  position: fixed;
  bottom: 2rem;
  right: 1.25rem;
  width: 3.5rem;
  opacity: 0; /* Fade in */
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3));
}

.arrow-circle.show {
  opacity: 1; /* Fade in */
  transform: translateX(0); /* Slide in from the left */
}

.arrow-circle.hide {
  opacity: 0; /* Fade out */
  transform: translateX(100%); /* Slide out to the right */
}
