<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
</div>

<form [formGroup]="form" class="container">
  <div class="upload-section">
    <div class="upload-icon">
      <input
        type="file"
        id="file-upload"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      <label for="file-upload">
        <div class="image-preview">
          <img
            [src]="
              imagePreview ||
              '../../../../../shared/assets/images/upload_img.svg'
            "
          />
        </div>
      </label>
    </div>

    <div class="statistics">
      <span>{{ "events.add_update.event_info" | translate }}</span>
    </div>

    <div class="input-field">
      <label for="is-custom-image">{{
        "events.add_update.labels.use_custom_image" | translate
      }}</label>
      <input
        type="checkbox"
        id="is-custom-image"
        formControlName="isCustomImage"
      />
    </div>

    <div class="input-field">
      <label for="game" class="required">{{
        "events.add_update.labels.game" | translate
      }}</label>
      <ng-select
        [items]="gameList"
        bindLabel="name"
        bindValue="id"
        [placeholder]="'events.add_update.placeholders.select_game' | translate"
        [searchable]="true"
        class="app-select-long"
        [closeOnSelect]="true"
        formControlName="gameId"
      >
      </ng-select>
    </div>

    <div class="input-group">
      <div class="input-field">
        <label for="start-date" class="required">{{
          "events.add_update.labels.start_date" | translate
        }}</label>
        <input
          [placeholder]="
            'events.add_update.placeholders.start_date' | translate
          "
          type="date"
          id="start-date"
          formControlName="startDate"
        />
      </div>
      <div class="input-field">
        <label for="start-time" class="required">{{
          "events.add_update.labels.start_time" | translate
        }}</label>
        <input
          [placeholder]="
            'events.add_update.placeholders.start_time' | translate
          "
          type="time"
          id="start-time"
          formControlName="startTime"
        />
      </div>
    </div>
    <div class="input-group">
      <div class="input-field">
        <label for="name" class="required">{{
          "events.add_update.labels.name" | translate
        }}</label>
        <input
          [placeholder]="'events.add_update.placeholders.name' | translate"
          type="text"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="input-field">
        <label for="max-people" class="required">{{
          "events.add_update.labels.max_people" | translate
        }}</label>
        <input
          [placeholder]="
            'events.add_update.placeholders.max_people' | translate
          "
          type="number"
          id="max-people"
          formControlName="maxPeople"
        />
      </div>
    </div>
    <div class="input-field">
      <div class="label-row">
        <label for="description" class="required">{{
          "events.add_update.labels.description" | translate
        }}</label>
        <div class="lang-buttons">
          <button
            type="button"
            [class.active]="currentLang === 'EN'"
            (click)="setLang('EN')"
            [class.missing]="!form.get('description_en')?.value"
          >
            <svg
              viewBox="0 0 24 16"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
            >
              <rect width="24" height="16" fill="#012169" />
              <path d="M0 0L24 16M24 0L0 16" stroke="#FFF" stroke-width="2" />
              <path
                d="M0 0L24 16M24 0L0 16"
                stroke="#C8102E"
                stroke-width="1"
              />
              <rect x="10" width="4" height="16" fill="#FFF" />
              <rect y="6" width="24" height="4" fill="#FFF" />
              <rect x="11" width="2" height="16" fill="#C8102E" />
              <rect y="7" width="24" height="2" fill="#C8102E" />
            </svg>
          </button>
          <button
            type="button"
            [class.active]="currentLang === 'BG'"
            (click)="setLang('BG')"
            [class.missing]="!form.get('description_bg')?.value"
          >
            <svg
              viewBox="0 0 24 16"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
            >
              <rect width="24" height="5.33" fill="#fff" />
              <rect y="5.33" width="24" height="5.33" fill="#00966e" />
              <rect y="10.66" width="24" height="5.34" fill="#d62612" />
            </svg>
          </button>
        </div>
      </div>
      <textarea
        *ngIf="currentLang === 'EN'"
        [placeholder]="
          'events.add_update.placeholders.description_en' | translate
        "
        formControlName="description_en"
        #descAreaEn
        (input)="adjustTextareaHeight(descAreaEn)"
        class="expand-textarea-mobile"
      ></textarea>

      <!-- BG Textarea -->
      <textarea
        *ngIf="currentLang === 'BG'"
        [placeholder]="
          'events.add_update.placeholders.description_bg' | translate
        "
        formControlName="description_bg"
        #descAreaBg
        (input)="adjustTextareaHeight(descAreaBg)"
        class="expand-textarea-mobile"
      ></textarea>
    </div>

    <div
      *ngIf="
        getFirstErrorMessage()"
      class="errors"
    >
      {{ getFirstErrorMessage() }}
    </div>

    <button
      *ngIf="!this.editEventId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onAdd()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      {{ "events.add_update.buttons.create" | translate }}
    </button>

    <button
      *ngIf="this.editEventId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onUpdate()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-yellow': this.form.valid,
        'btn-font-yellow': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      {{ "events.add_update.buttons.update" | translate }}
    </button>
  </div>
</form>
