<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
</div>

<form [formGroup]="form" class="container">
  <div class="upload-section">
    <div class="upload-icon">
      <input
        type="file"
        id="file-upload"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      <label for="file-upload">
        <div class="image-preview">
          <img
            [src]="
              imagePreview ||
              '../../../../../shared/assets/images/upload_img.svg'
            "
            alt="Selected Image"
          />
        </div>
      </label>
    </div>

    <div class="input-field">
      <label for="is-custom-image">Use Custom Image</label>
      <input
        type="checkbox"
        id="is-custom-image"
        formControlName="isCustomImage"
      />
    </div>

    <div class="input-field">
      <label for="game" class="required">Game</label>
      <ng-select
        [items]="gameList"
        bindLabel="name"
        bindValue="id"
        placeholder="Choose Game"
        [searchable]="true"
        class="app-select-long"
        [closeOnSelect]="true"
        formControlName="gameId"
      >
      </ng-select>
    </div>

    <div class="input-group">
      <div class="input-field">
        <label for="start-date" class="required">Start Date</label>
        <input
          placeholder="start date"
          type="date"
          id="start-date"
          formControlName="startDate"
        />
      </div>
      <div class="input-field">
        <label for="start-time" class="required">Start Time</label>
        <input
          placeholder="start time"
          type="time"
          id="start-time"
          formControlName="startTime"
        />
      </div>
    </div>
    <div class="input-group">
      <div class="input-field">
        <label for="name" class="required">Name</label>
        <input
          placeholder="name of the game ?"
          type="text"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="input-field">
        <label for="max-people" class="required">Max People</label>
        <input
          placeholder="max people"
          type="number"
          id="max-people"
          formControlName="maxPeople"
        />
      </div>
    </div>
    <div class="input-field">
      <label for="description" class="required">Description</label>
      <textarea
        placeholder="what happen in this game"
        id="description"
        formControlName="description"
      ></textarea>
    </div>

    <div *ngIf="getFirstErrorMessage()" class="errors">
      {{ getFirstErrorMessage() }}
    </div>

    <button
      *ngIf="!this.editEventId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onAdd()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Create
    </button>

    <button
      *ngIf="this.editEventId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onUpdate()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-yellow': this.form.valid,
        'btn-font-yellow': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Update
    </button>
  </div>
</form>
