<!-- Challenge Completion Overlay -->
<div
  class="overlay"
  *ngIf="showChallengeCompletion"
  (click)="closeChallengeCompletion()"
>
  <div class="badge" [@popIn] (click)="$event.stopPropagation()">
    <div class="emoji">
      <img
        src="/shared/assets/images/target.gif"
        alt="target"
        width="90"
        height="90"
      />
    </div>
    <h3 [innerHTML]="challengeCompletionMessage"></h3>
    <p class="reward">{{ challengeCompletionReward }}</p>

    <!-- Close button at bottom center -->
    <button class="close-btn-bottom" (click)="closeChallengeCompletion()">
      {{ "close" | translate }}
    </button>
  </div>
</div>

<!-- Challenge Progress Mini-Overlay -->
<div
  class="overlay-mini"
  *ngIf="showChallengeProgress"
  (click)="closeChallengeProgress()"
>
  <div class="badge-mini" [@popIn] (click)="$event.stopPropagation()">
    <div class="emoji">
      <img
        src="/shared/assets/images/loading.gif"
        alt="loading"
        width="90"
        height="90"
      />
    </div>
    <h3 [innerHTML]="challengeProgressMessage"></h3>

    <!-- Close button at bottom center -->
    <button class="close-btn-bottom-mini" (click)="closeChallengeProgress()">
      {{ "close" | translate }}
    </button>
  </div>
</div>

<div class="overlay" *ngIf="showRewardGranted" (click)="closeRewardGranted()">
  <div class="badge" [@popIn] (click)="$event.stopPropagation()">
    <div class="emoji">
      <img
        src="/shared/assets/images/reward.gif"
        alt="reward"
        width="90"
        height="90"
      />
    </div>
    <h3 [innerHTML]="rewardGrantedMessage"></h3>

    <!-- Close button at bottom center -->
    <button class="close-btn-bottom" (click)="closeRewardGranted()">
      {{ "close" | translate }}
    </button>
  </div>
</div>
