@use "../../../shared/assets/styles/palette";

.wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  .wrapper_item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid palette.$main-gray-color;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;

    .wrapper_title {
      padding-left: 1rem;
      font-size: large;
      padding-top: 0.2rem;
      align-self: baseline;
    }
  }
  .arrow {
    width: 2rem;
    height: 2rem;
  }
}


.wrapper_icons {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 1rem;
  align-items: center;

  .header_name {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    word-wrap: break-word;
    width: 70%;
    text-align: center;
  }

  .info-container {
    position: relative;

    .info {
      width: 3rem;
      height: 3rem;
      fill: palette.$main-blue-color;

      &__text {
        position: absolute;
        right: 0.5rem;
        top: 2.25rem;
        background-color: palette.$main-gray-color;
        padding: 0.5rem;
        z-index: 1000;
        width: 10rem;
        text-align: center;
      }

      &__text span {
        width: 9rem;
        text-align: center;
        line-height: 2rem;
        font-size: 1.2rem;
      }
    }
  }

  .arrow {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: relative;
    border: 0.1rem solid palette.$main-icon-color;
    border-radius: 2.5rem;

    &::before {
      content: "";
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      top: 65%;
      left: 63%;
      border-style: solid;
      border-color: palette.$main-icon-color;
      border-width: 0.2rem 0.2rem 0 0;
      position: absolute;
      transform-origin: 50% 50%;
    }

    &.left::before {
      transform: rotate(-135deg);
      margin: -0.9rem 0 0 -0.6rem;
    }
  }
}
