<app-game-layout *ngIf="game$ | async as game" [game]="game" [backNavigateBtn]="navigateBackToGameList.bind(this)">
  <div class="header">
    <p>Secure Your Sport for Epic Gameplay !</p>
    <span class="header__information"
      >Click for more information -
      <span class="material-symbols-outlined"> info </span>
    </span>
  </div>

  <!-- class info__unavailable for UNAVAILABLE-->
  <div class="info info__available"> 
    <p class="info__status">AVAILABLE</p>
    <!-- <p class="info__status">UNAVAILABLE</p> -->
    <p>units 1 / 3</p>
  </div>

  <div class="wrapper">
    <span class="material-symbols-outlined left"> play_arrow </span>
    <p class="circle">
      <span class="timer">15</span>
    </p>
    <span class="material-symbols-outlined"> play_arrow </span>
  </div>

  <div class="wrapper_btn">
    <a href="#">Save game for <strong>15</strong> mins</a>
  </div>
</app-game-layout>
