<div class="wrapper">
  <div class="container" style="width: 100%; height: 35rem">
    <canvas #rewardsStatsChartCanvas></canvas>
  </div>
  
  <div class="container" style="width: 100%; height: 35rem">
    <canvas #eventAttendanceChartCanvas></canvas>
  </div>

  <div class="container" style="width: 100%; height: 35rem">
    <canvas #rewardsChartCanvas></canvas>
  </div>

  <div class="container" style="width: 100%; height: 250px">
    <canvas #reservationChartCanvas></canvas>
  </div>

  <div class="container" style="width: 100%; height: 250px">
    <canvas #visitorMonthActivityChartCanvas></canvas>
  </div>

  <div class="container" style="width: 100%; height: 250px">
    <canvas #visitorWeekActivityChartCanvas></canvas>
  </div>
</div>
