<div class="dialog-container">
  <h3 *ngIf="this.data" class="dialog-container__header m-4">
    {{ this.data.Name }}
  </h3>

  <div class="qrcodeImage" *ngIf="this.data">
    <qrcode
      [qrdata]="this.serializeData()"
      [width]="200"
      [margin]="4"
      [scale]="128"
      class="demoBorderRadius"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>

  <div class="btn_wrapper">
    <button
      mat-dialog-close
      class="btn btn__small btn-gray btn-border-blue btn-font-blue"
    >
      {{ "close" | translate }}
    </button>
  </div>
</div>
