<div class="qr-ticket">
  <div class="qr-ticket__close" mat-dialog-close>
    <svg viewBox="0 0 24 24"><path d="M6 6l12 12M18 6l-12 12"/></svg>
  </div>

  <span class="qr-ticket__badge">{{ typeLabel | uppercase }}</span>

  <span *ngIf="this.data" class="qr-ticket__title">{{ this.data.Name }}</span>

  <div class="qr-ticket__code" *ngIf="qrData">
    <qrcode
      [qrdata]="qrData"
      [width]="240"
      [margin]="2"
      [errorCorrectionLevel]="'L'"
    ></qrcode>
  </div>
  <span *ngIf="qrError" class="qr-ticket__title">
    {{ "qr_scanner.qr_generate_failed" | translate }}
  </span>

  <button class="qr-ticket__btn" mat-dialog-close>
    {{ "close" | translate }}
  </button>
</div>
