<app-header
  header="Room"
  [withSearch]="true"
  (searchExpressionResult)="handleSearchExpression($event)"
  [withBackBtn]="true"
  [withBottomLine]="true"
  (backClicked)="backToSpaceHome()"
></app-header>

<ng-container *ngIf="this.userActiveTable as info">
  <div class="wrapper_helper">
    <div class="info" *ngIf="this.detailsSpaceTable as details">
      <span> <strong>Name:</strong> {{ details.name }}</span>
      <span> <strong>Game:</strong> {{ details.gameName }}</span>
      <span> <strong>Max People:</strong> {{ details.maxPeople }} </span>
      <span *ngIf="isUserCreatorOfTable">
        <strong>Password:</strong> {{ detailsSpaceTable.password }}
      </span>
    </div>
    <a class="wrapper_menu">
      <span
        id="search-btn"
        class="material-symbols-outlined"
        (click)="menu.toggleMenu()"
      >
        settings
      </span>

      <app-controls-menu
        #menu
        [menuItems]="menuItems.asObservable()"
        (menuItemClick)="handleMenuItemClick($event.value)"
      ></app-controls-menu>
    </a>
  </div>
  <section
    class="wrapper_library"
    *ngIf="this.spaceTableParticipantList$ | async as list"
  >
    <div class="item" *ngFor="let item of list">
      <div class="wrapper_library__item">
        <div class="wrapper_image">
          <img src="" alt="usr Image" />
        </div>
        <div class="wrapper_info">
          <div class="wrapper_title">
            {{ item.userName }}
            <div class="wrapper_description">
              joined before: {{ item.joinedBefore }} mins
            </div>
          </div>
        </div>
        <div
          class="wrapper_library__item-actions"
          *ngIf="info.isPlayerHaveActiveTable"
        >
          <span
            class="material-symbols-outlined"
            (click)="
              onRemoveUserFromTable(
                item.userId,
                item.IsVirtualParticipant,
                item.participantId
              )
            "
          >
            delete
          </span>
        </div>
      </div>
    </div>
  </section>
</ng-container>
