<app-header
  Recommended="Room Name"
  [withSearch]="true"
  (searchExpressionResult)="handleSearchExpression($event)"
  [withBackBtn]="true"
  [withBottomLine]="true"
  (backClicked)="backToSpaceHome()"
></app-header>

<ng-container *ngIf="this.userActiveTable$ | async as info">
  <div class="wrapper_btn" *ngIf="info.isPlayerHaveActiveTable">
    <button class="btn btn__small btn-red btn-border-red" (click)="onClose()">
      Close the Room
    </button>
  </div>
  <!-- TODO: On leave and on close in the BE. I need to check the job if it's still not executed i need to cancel it
  I have canceJobMethod in the queue 
  Show them warning message -->
  <div class="wrapper_btn" *ngIf="info.isPlayerParticipateInTable">
    <button class="btn btn__small btn-red btn-border-red" (click)="onLeave()">
      Leave the Room
    </button>
  </div>
  <section
    class="wrapper_library"
    *ngIf="this.spaceTableParticipantList$ | async as list"
  >
    <div class="item" *ngFor="let item of list">
      <div class="wrapper_library__item">
        <div class="wrapper_image">
          <img src="" alt="usr Image" />
        </div>
        <div class="wrapper_info">
          <div class="wrapper_title">
            {{ item.userName }}
            <div class="wrapper_description">
              joined before: {{ item.joinedBefore }} mins
            </div>
          </div>
        </div>
        <div
          class="wrapper_library__item-actions"
          *ngIf="info.isPlayerHaveActiveTable"
        >
          <span
            class="material-symbols-outlined"
            (click)="onRemoveUserFromTable(item.userId)"
          >
            delete
          </span>
        </div>
      </div>
    </div>
  </section>
</ng-container>
