@use "../../../../shared/assets/styles/palette";

.wrapper_btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.wrapper_library {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-bottom: 7rem;
  margin: 0 auto;
  padding-top: 1rem;
  overflow-y: visible;

  &__item-actions {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.3rem;
  }

  &__item {
    position: relative;
    display: flex;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    border-bottom: 0.2rem solid palette.$main-gray-color;

    .wrapper_info {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wrapper_title {
        padding-left: 1rem;
        font-size: large;
        padding-top: 0.2rem;
        align-self: baseline;
        word-break: break-all;
        width: 80%;

        .wrapper_description {
          padding-top: 0.5rem;
          width: 100%;
          font-size: 0.6rem;
          color: palette.$main-font-gray-color;
          word-break: break-all;
        }

        @media (min-width: 568px) {
          .wrapper_description {
            width: 85%;
          }
        }
      }
    }

    .wrapper_image img {
      width: 4rem;
      height: 4rem;
      min-width: 4rem;
      min-height: 4rem;
      object-fit: cover;
      border-radius: 10rem;
      border: 0.1rem solid black;
    }
  }
}

.wrapper_helper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;

  .info {
    display: flex;
    flex-direction: column;
    width: 65%;
    word-break: break-all;
    color: palette.$main-font-gray-color;
  }
  .wrapper_menu {
    background: palette.$main-icon-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
  }
}

// .menu {
//   width: 90%;
//   // border-radius: 0.5rem;
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   flex-direction: column;
//   position: fixed;
//   bottom: 5rem;
//   // background-color: palette.$main-nav-color;
//   padding: 1rem;
//   z-index: 1000;
//   /* Start the menu off-screen and invisible */
//   transform: translateY(20px);
//   opacity: 0;
//   /* Add animation */
//   animation: slideUp 0.5s ease-out forwards;
// }

// /* Keyframes for slide-up animation */
// @keyframes slideUp {
//   from {
//     transform: translateY(20px);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// .menu .menu_ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   border-radius: 0.5rem;
//   background-color: palette.$main-nav-color;
// }

// .menu .menu_ul .menu_li {
//   padding: 0.6rem 1rem;
//   cursor: pointer;
// }

// .last_menu_ul {
//   list-style: none;
//   border-radius: 0.5rem;
//   background-color: palette.$main-nav-color;
//   margin: 0.5rem 0;
//   padding: 0.3rem;
// }
// .last_menu_li {
//   padding: 0.6rem 1rem;
//   cursor: pointer;
// }

// .menu .menu_ul .menu_li:hover {
//   background-color: #f0f0f0;
// }

// .blur-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(255, 255, 255, 0.6);
//   transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
//   z-index: 900;
// }
// .wrapper_menu.active .blur-overlay {
//   opacity: 0.5;
//   backdrop-filter: blur(8px);
//   pointer-events: all;
// }
