@use "../../../../shared/assets/styles/palette";

.wrapper_btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.wrapper_library {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-bottom: 7rem;
  margin: 0 auto;
  padding-top: 1rem;
  overflow-y: visible;

  &__item-actions {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.3rem;
    align-items: center;
  }

  &__item {
    position: relative;
    display: flex;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    border-bottom: 0.2rem solid palette.$main-gray-color;

    .wrapper_info {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wrapper_title {
        padding-left: 1rem;
        font-size: large;
        padding-top: 0.2rem;
        align-self: baseline;
        word-break: break-all;
        width: 80%;

        .wrapper_description {
          padding-top: 0.5rem;
          width: 100%;
          font-size: 0.6rem;
          color: palette.$main-font-gray-color;
          word-break: break-all;
        }

        @media (min-width: 568px) {
          .wrapper_description {
            width: 85%;
          }
        }
      }
    }
  }
}

.wrapper_helper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;

  .info {
    display: flex;
    flex-direction: column;
    width: 65%;
    word-break: break-all;
    color: palette.$main-font-gray-color;
  }
  .wrapper_menu {
    background: palette.$main-icon-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
  }
}
