<app-header
  header="Event Management"
  [withBottomLine]="true"
  [withSearch]="true"
  [withAdd]="true"
  [menuItems]="headerMenuItems"
  [menuItemClickFunction]="handleHeaderMenuItemClick"
  (searchExpressionResult)="handleSeachExpression($event)"
>
</app-header>

<section class="wrapper_library">
  <div
    class="wrapper_library__item"
    *ngFor="let event of events"
    (click)="navigateToDetails(event.id)"
  >
    <div class="wrapper_image">
      <img [src]="getImage(event)" alt="event Image" />
    </div>
    <div class="wrapper_info">
      <div class="wrapper_title">
        {{ event.name }}
        <div class="wrapper_chips">
          <app-chip
            [color]="'orange'"
            text="{{ event.peopleJoined }} joined"
            [size]="'small'"
          ></app-chip>
          <app-chip
            [color]="'red'"
            text="{{ event.maxPeople }} max"
            [size]="'small'"
          ></app-chip>
        </div>
        <div class="wrapper_chips">
          <app-chip
            [color]="'blue'"
            [text]="(event.startDate | date : 'dd/MM/yyyy')?.toString() ?? ''"
            [size]="'small'"
          ></app-chip>
          <app-chip
            [color]="'yellow'"
            [text]="event.startDate | calculateRemainingDays"
            [size]="'small'"
          ></app-chip>
        </div>
      </div>
      <div class="wrapper_right">
        <span
          class="material-symbols-outlined menu-container"
          (click)="showEventMenu(event.id, $event)"
        >
          lists
        </span>
        <div
          *ngIf="visibleMenuId === event.id"
          [ngTemplateOutlet]="menuTemplate"
        ></div>
      </div>
    </div>
  </div>
</section>

<ng-template #menuTemplate>
  <div class="menu">
    <ul>
      <li
        *ngFor="let item of eventMenuItems"
        (click)="handleEventMenuItemClick(item.key, $event)"
      >
        {{ item.label }}
      </li>
    </ul>
  </div>
</ng-template>
