<div
  class="assistive_btn"
  onclick="this.classList.toggle('open')"
  (mousedown)="startDragging($event)"
  (mouseup)="stopDragging()"
  (touchstart)="startDragging($event)"
  (touchend)="stopDragging()"
  [ngStyle]="{ top: positionY + 'px', left: positionX + 'px' }"
>
  <div
    class="assistive_option"
    [ngStyle]="{
      left: button1Left !== 0 ? button1Left + 'px' : 'auto',
      right: button1Left === 0 ? button1Right + 'px' : 'auto',
      top: button1Top + 'px'
    }"
  ></div>
  <div
    class="assistive_option"
    [ngStyle]="{
      left: button2Left !== 0 ? button2Left + 'px' : 'auto',
      right: button2Left === 0 ? button2Right + 'px' : 'auto',
      bottom: button2Top + 'px'
    }"
  ></div>
  <div
    class="assistive_option"
    [ngStyle]="{
      left: button3Left !== 0 ? button3Left + 'px' : 'auto',
      right: button3Left === 0 ? button3Right + 'px' : 'auto',
      bottom: button3Bottom + 'px'
    }"
  ></div>
</div>
