<div class="wrapper_icons">
  <span (click)="backNavigateBtn()" class="arrow left"></span>
  <span class="header_name">Booking</span>

  <span class="material-symbols-outlined info" (click)="showMenu()">
    info
  </span>
  <div class="qr-code-info" *ngIf="isMenuVisible">
    <span> QR Code Exist for the current game </span>
  </div>
</div>

<form [formGroup]="form" class="wrapper">
  <app-dice-roller
    #singleDice
    *ngIf="!isSplit"
    [@mergeItems]="isSplit ? 'reverse' : 'start'"
    (faceChange)="updateGuests($event)"
    (directionChange)="onDirectionChange($event)"
    [currentFace]="guestsFirstSection"
  ></app-dice-roller>

  <div class="item-wrapper" *ngIf="isSplit">
    <app-dice-roller
      #firstDice
      [currentFace]="guestsFirstSection"
      [isActive]="false"
      [@flowLeft]="isSplit ? 'start' : 'reverse'"
    ></app-dice-roller>

    <app-dice-roller
      #secondDice
      [@flowRight]="isSplit ? 'start' : 'reverse'"
      (faceChange)="updateGuests($event)"
      (directionChange)="onDirectionChange($event)"
    ></app-dice-roller>
  </div>

  <div class="people_container">
    <div class="input-field">
      <label for="numberOfGuests" class="required">Number Of Guests</label>
      <div class="input-container">
        <input
          class="people_input"
          type="number"
          id="numberOfGuests"
          [value]="guestsFirstSection + guestsSecondSection"
        />

        <div
          class="plus_container"
          [ngClass]="{ btn_disabled: isAddButtonActive }"
        >
          <span
            class="material-symbols-outlined"
            (click)="getActiveDiceRoller()?.changeFace('right')"
          >
            add
          </span>
        </div>

        <div
          class="minus_container"
          [ngClass]="{ btn_disabled: isMinusButtonActive }"
        >
          <span
            class="material-symbols-outlined"
            (click)="getActiveDiceRoller()?.changeFace('left')"
          >
            remove
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="input-field date">
    <label for="reservationDate" class="required">Reservation Date</label>
    <input
      class="people_input"
      type="date"
      id="reservationDate"
      formControlName="reservationDate"
    />
  </div>

  <div class="input-field">
    <label for="min-age" class="required">Available Time Slots</label>
    <div class="slots scroller">
      <div
        *ngFor="let slot of timeSlots; let i = index"
        class="slot"
        [ngClass]="{ 'slot-active': i === activeSlotIndex }"
        l
        (click)="onSlotClick(i)"
      >
        {{ slot }}
      </div>
    </div>
  </div>

  <div class="btn_container">
    <button
      class="btn btn-gray create-btn"
      (click)="this.bookTable()"
      [ngClass]="{
        'btn-border-green': this.form.valid,
        'btn-font-green': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Book a Table
    </button>
  </div>
</form>
