<div class="wrapper">
  <div class="interactive-option">
    <div class="icon_wrapper">
      <img
        class="dicehub-logo"
        src="shared/assets/images/dicehub_logo_1.png"
        alt="DiceHub"
      />
    </div>
  </div>
  <span class="header">{{ this.clubName ?? ("club" | translate) }}</span>

  <div class="confirmation-container">
    <div *ngIf="message === confirming" class="spinner-wrapper">
      <p>{{ "confirm_email.confirming_email_please_wait" | translate }}</p>
    </div>

    <div
      *ngIf="message !== confirming"
      [ngClass]="{ success: isSuccess, error: !isSuccess }"
    >
      <h2 [innerHTML]="message"></h2>
      <a
        *ngIf="!this.isSuccess"
        class="resend-link"
        (click)="resendConfirmationEmail()"
        >{{ "confirm_email.resend_email" | translate }}</a
      >
      <button
        *ngIf="isSuccess"
        class="fallback-btn"
        (click)="navigateToLogin()"
      >
        {{ "confirm_email.click_if_not_redirected" | translate }}
      </button>
    </div>
  </div>
</div>
