<ng-container *ngIf="isCurrentUserParticipateInRoom">
  <div class="menu_container">
    <span
      class="material-symbols-outlined icon"
      (click)="showMenu($event, controls)"
    >
      menu
    </span>
  </div>
</ng-container>
<ng-container *ngIf="!isCurrentUserParticipateInRoom">
  <span
    class="material-symbols-outlined icon"
    (click)="navigateToGameDetails()"
  >
    info
  </span>
</ng-container>

<app-controls-menu
  #controls
  [menuItems]="menuItems.asObservable()"
  (menuItemClick)="onMenuOption($event.value, $event.event)"
></app-controls-menu>
