<ng-container *ngIf="isCurrentUserParticipateInRoom">
  <div class="menu_container">
    <span class="material-symbols-outlined icon" (click)="showMenu()">
      menu
    </span>
    <div *ngIf="isMenuVisible" class="menu">
      <ul>
        <ng-container *ngFor="let item of menuItems">
          <li
            *ngIf="item.isVisible"
            (click)="handleMenuItemClick(item.key)"
            [ngClass]="{
              'red-text': item.key === 'leave-room' || item.key === 'delete-room'
            }"
          >
            {{ item.label }}
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isCurrentUserParticipateInRoom">
  <span
    class="material-symbols-outlined icon"
    (click)="navigateToGameDetails()"
  >
    info
  </span>
</ng-container>
