<app-game-layout
  class="wrapper"
  *ngIf="game"
  [game]="game"
  [backNavigateBtn]="navigateBack.bind(this)"
>
  <div class="wrapper_info">
    <span *ngIf="gameReviews">{{ gameReviews.length }} reviews</span>

    <span
      (click)="toggleReviewTextarea(true)"
      *ngIf="!(showCommentInput | async)"
      class="wrapper_info__write-review"
      >write review
      <span class="material-symbols-outlined"> edit </span>
    </span>

    <div *ngIf="showCommentInput | async" class="wrapper_info__write-review">
      <span (click)="toggleReviewTextarea(false, true)">
        {{
          this.currentReviewState === ReviewState.update ? "update" : "create"
        }}
        <span class="material-symbols-outlined"> add_comment </span>
      </span>
      <span
        (click)="toggleReviewTextarea(false)"
        class="material-symbols-outlined"
      >
        cancel
      </span>
    </div>
  </div>

  <form
    class="form__group"
    *ngIf="showCommentInput | async"
    [formGroup]="reviewForm"
  >
    <textarea
      formControlName="review"
      type="input"
      class="form__field"
      rows="4"
      cols="4"
      placeholder="review"
      name="review"
    ></textarea>
    <label for="review" class="form__label"> Write Your Review</label>
    <div
      *ngIf="
        reviewForm.controls['review'].invalid &&
        (reviewForm.controls['review'].dirty ||
          reviewForm.controls['review'].touched)
      "
      class="form__field__errors"
    >
      <div *ngIf="reviewForm.controls['review'].errors?.['required']">
        Review is required.
      </div>
      <div *ngIf="reviewForm.controls['review'].errors?.['maxlength'] ">
        Review cannot exceed 100 characters.
      </div>
      <div *ngIf="reviewForm.controls['review'].errors?.['minlength']">
        Review must be at least 10 characters long.
      </div>
    </div>
  </form>
  <div class="wrapper_reviews">
    <div *ngFor="let gameReview of gameReviews" class="wrapper_reviews__item">
      <div class="wrapper_image">
        <img src="../../../../../shared/assets/images/mpavlov.png" alt="" />
      </div>
      <div class="wrapper_reviews__item__info">
        <div class="details">
          <span>Keney West</span>
          <div>
            <span>
              {{ gameReview.updatedDate | date : DATE_FORMAT }}
              <span
                *ngIf="this.userInfo?.id === gameReview.userId"
                (click)="startUpdatingComment(gameReview.id, gameReview.review)"
                class="material-symbols-outlined my-review"
              >
                edit
              </span>
              <span
                *ngIf="canDeleteReview(gameReview.userId)"
                (click)="openDeleteDialog(gameReview.id)"
                class="material-symbols-outlined my-review"
              >
                cancel
              </span>
            </span>
          </div>
        </div>
        <span class="review">{{ gameReview.review }}</span>
      </div>
    </div>
  </div>
</app-game-layout>
