<app-header
  header="Instructions"
  [withBackBtn]="true"
  (backClicked)="navigateBack()"
></app-header>

<div class="wrapper_info">
  <div class="header blue">
    {{ selectedInstruction?.header }}
  </div>
</div>

<div class="wrapper_image">
  <img
    src="../../../../shared/assets/images/instructions/big_first_try.png"
    alt="Image"
  />
</div>

<div class="wrapper_link">
  <div class="name">
    {{ selectedLink?.name }}
  </div>

  <div class="description">
    {{ selectedLink?.description }}
  </div>
</div>
