 <button (click)="login()">Login</button> 
 <button (click)="register()">Regsiter</button> 
 <button (click)="logout()">logout</button> 
 <button (click)="userInfo()">user</button> 
 <button (click)="game()">game</button> 


<app-header header="Recomended" [withSearch]="true">
    <app-nav-bar
        [columns]="[{name:'Popular',link:'/popular', isActive: true},{name:'Categories',link:'', isActive: false},{name:'News',link:'', isActive: false }]"></app-nav-bar>
</app-header>
<section class="wrapper_library">
    <div class="wrapper_library__item" (click)="navigateToGameDetails()">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
    <div class="wrapper_library__item">
        <div class="wrapper_image">
            <img src="https://cf.geekdo-images.com/fvhkcw4s6Q4-nMwwok1J6A__opengraph/img/bbHffM-AIBac7jMM8sgOM1sC0zk=/0x274:1314x964/fit-in/1200x630/filters:strip_icc()/pic6569894.png"
                alt="">
        </div>
        <div class="wrapper_info">
            <div class="wrapper_title">
                Dungeon
                <div class="wrapper_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quo voluptate sit ab architecto
                    autem dignissimos repellendus quos libero molestias?...
                </div>
            </div>
            <div class="wrapper_likes">
                <span class="material-symbols-outlined like-icon">
                    favorite
                </span> 34213

            </div>
        </div>
    </div>
</section>