<div class="wrapper">
  <div
    *ngFor="let item of categories"
    (click)="navigateToGameLibrary(item.id)"
    class="wrapper_category"
  >
    <div class="wrapper_category-img">
      <svg
        class="icon"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
      >
        <path
          d="M242-200h122.69v-248.38h230.62V-200H718v-358L480-737.54 242-558v358Zm-66 66v-457l304-228.54L784-591v457H529.31v-248.38h-98.62V-134H176Zm304-334.77Z"
        />
      </svg>
    </div>
    <div class="wrapper_category-text">
      <span>{{ item.name }}</span>
    </div>
  </div>
</div>
