@use "../../../../../shared/assets/styles/palette";

.wrapper {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 7rem;

  &_category {
    flex: 1 1 calc(50% - 1rem);
    margin-bottom: 1rem;
    max-width: calc(50% - 1rem);
    min-height: 8rem;
    max-height: 8rem;
    margin: 0.5rem;
    background-color: palette.$main-nav-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-img {
      margin: 0.75rem;
      display: flex;
      justify-content: center;

      span {
        font-size: 2.5rem;
      }
    }

    &-text {
      white-space: wrap;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
      word-break: break-all;
    }
  }
}
