<app-header
  Recommended="Challenges Manager"
  [withMenu]="true"
  [menuItems]="menuItems"
  [menuItemClickFunction]="handleMenuItemClick"
>
<!--TODO: Update the word weekly based on the settings.
 Weekly rewards could be monthly -->
  <app-nav-bar
  
    [columns]="[
      {
        name: 'Weekly Rewards',
        link: 'admin-challenges/rewards',
        isActive: isActiveLink('/admin-challenges/rewards')
      },
      {
        name: 'Challenges',
        link: 'admin-challenges/list',
        isActive: isActiveLink('/admin-challenges/list')
      },
      {
        name: 'History Log',
        link: 'admin-challenges/history-log',
        isActive: isActiveLink('/admin-challenges/history-log')
      }
    ]"
  ></app-nav-bar
></app-header>

<router-outlet (activate)="onActivate($event)"></router-outlet>
