@use "../../../shared/assets/styles/palette";


.chip {
    display: inline-block;
    padding: 0.125rem 0.5rem;
    border-radius: 10rem;
    color: palette.$main-font-color;
    font-weight: 600;
}

.small {
    font-size: 12px;
    padding: 0.3em 0.6em;
    margin-bottom: 0.2rem;
}

.extraSmall {
    font-size: 8px;
    padding: 0.1em 0.3em;
}

.big {
    font-size: 16px;
    padding: 0.7em 1.2em;
}

.chipBlueColor{
    background-color: palette.$chip-blue-color;
}

.chipYellowColor{
    background-color: palette.$chip-yellow-color;
}

.chipOrangeColor{
    background-color: palette.$chip-orange-color;
}

.chipRedColor{
    background-color: palette.$chip-red-color;
}

.chipGreenColor{
    background-color: palette.$chip-green-color;
}