<app-header [header]="getHeader" [withBackBtn]="true" (backClicked)="backNavigateBtn()" [withQRcode]="true">
</app-header>

<form [formGroup]="form" class="container">
  <div class="input-field qr-code-field">
    <label for="gameName" class="required">Scanned Game</label>
    <input
      type="text"
      placeholder="scanned game"
      name="gameName"
      id="gameName"
      formControlName="gameName"
      readonly="readonly"
    />
    <a class="qr-code">
      <img src="../../../../shared/assets/images/qr-code.png" alt="" />
    </a>
  </div>

  <div class="wrapper_image" (click)="showInfoForGame()">
    <img
      [src]="
        imagePreview || '../../../../../shared/assets/images/upload_img.svg'
      "
      alt=""
    />
  </div>
  <div class="input-field">
    <label for="tableName" class="required">Table Name</label>
    <input
      placeholder="table Name"
      type="text"
      id="tableName"
      formControlName="tableName"
    />
  </div>
  <div class="input-group">
    <div class="input-field">
      <label for="max-people" class="required">Max People</label>
      <input
        placeholder="max people"
        type="number"
        id="max-people"
        formControlName="maxPeople"
      />
    </div>
    <div class="input-field password-field">
      <label for="password">Password</label>
      <input
        placeholder="password"
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        formControlName="password"
      />
      <div (click)="togglePasswordVisibility()" class="toggle-password">
        <span *ngIf="showPassword" class="material-symbols-outlined">
          visibility_off
        </span>
        <span *ngIf="!showPassword" class="material-symbols-outlined">
          visibility
        </span>
      </div>
    </div>
  </div>

  <span class="info-message"
    >If no password is set, anyone can join the session until the maximum
    participant limit is reached.</span
  >
  <div *ngIf="getFirstErrorMessage()" class="errors">
    {{ getFirstErrorMessage() }}
  </div>
  <div class="wrapper_btn">
    <button
      *ngIf="!this.editTableId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onAdd()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-blue': this.form.valid,
        'btn-font-blue': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Create
    </button>
    <button
      *ngIf="this.editTableId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onUpdate()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-yellow': this.form.valid,
        'btn-font-yellow': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      Update
    </button>
  </div>
</form>
