<app-header
  [header]="getHeader"
  [withBackBtn]="true"
  (backClicked)="backNavigateBtn()"
  [withQRcode]="true"
>
</app-header>

<form [formGroup]="form" class="container">
  <div class="input-field qr-code-field">
    <label for="gameName" class="required">{{
      "space_management.add_update.labels.scanned_game" | translate
    }}</label>
    <input
      type="text"
      [placeholder]="
        'space_management.add_update.placeholders.scanned_game' | translate
      "
      name="gameName"
      id="gameName"
      formControlName="gameName"
      readonly="readonly"
    />
    <a class="qr-code">
      <img src="/shared/assets/images/qr-code.png" alt="" />
    </a>
  </div>

  <div class="wrapper_image" (click)="showInfoForGame()">
    <img
      [src]="imagePreview || '/shared/assets/images/upload_img.svg'"
      alt=""
    />
  </div>
  <div class="input-field">
    <label for="tableName" class="required">{{
      "space_management.add_update.labels.table_name" | translate
    }}</label>
    <input
      [placeholder]="
        'space_management.add_update.placeholders.table_name' | translate
      "
      type="text"
      id="tableName"
      formControlName="tableName"
    />
  </div>
  <div class="input-group">
    <div class="input-field">
      <label for="max-people" class="required">{{
        "space_management.add_update.labels.max_people" | translate
      }}</label>
      <input
        [placeholder]="
          'space_management.add_update.placeholders.max_people' | translate
        "
        type="number"
        id="max-people"
        formControlName="maxPeople"
      />
    </div>
    <div class="input-field password-field">
      <label for="password">{{
        "space_management.add_update.labels.password" | translate
      }}</label>
      <input
        [placeholder]="
          'space_management.add_update.placeholders.password' | translate
        "
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        formControlName="password"
      />
      <app-password-visibility-toggle
        [(isVisible)]="showPassword"
      ></app-password-visibility-toggle>
    </div>
  </div>

  <span class="info-message">{{
    "space_management.add_update.password_info_message" | translate
  }}</span>

  <div *ngIf="getFirstErrorMessage()" class="errors">
    {{ getFirstErrorMessage() }}
  </div>
  <div class="wrapper_btn">
    <button
      *ngIf="!this.editTableId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onAdd()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-blue': this.form.valid,
        'btn-font-blue': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      {{ "space_management.add_update.create_btn" | translate }}
    </button>
    <button
      *ngIf="this.editTableId"
      [disabled]="this.form.invalid"
      type="button"
      (click)="this.onUpdate()"
      class="btn btn-gray"
      [ngClass]="{
        'btn-border-yellow': this.form.valid,
        'btn-font-yellow': this.form.valid,
        'btn-border-red': this.form.invalid,
        'btn-font-red': this.form.invalid
      }"
    >
      {{ "space_management.add_update.update_btn" | translate }}
    </button>
  </div>
</form>
