@use "../../../../shared/assets/styles/palette";

.wrapper_image {
  text-align: center;
  margin: 1rem 0;
  display: block;

  img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 20px;
    border: 0.15rem solid black;
  }
}

.container {
  font-size: palette.$main-font-color;
  text-align: center;
  padding: 1.3rem;
  padding-top: 1rem;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 8rem;
  .info-message {
    display: block;
    color: palette.$main-font-gray-color;
    margin-bottom: 1rem;
  }
  .qr-code-field {
    position: relative;

    .qr-code {
      position: absolute;
      right: 1rem;
      top: 1.7rem;
      img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
      }
    }
  }

  .password-field {
    position: relative;

    input {
      padding-right: 2.5rem;
    }
    .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
    }
  }
}
