<div class="container">
  <div class="buttons">
    <div class="btn-container" (click)="toggleRewardForm()">
      <ng-container *ngIf="!editRewardId">
        <span>{{ "admin_rewards.add_reward" | translate }}</span>
        <!-- add icon -->
        <svg
          class="wrapper_add"
          *ngIf="!showRewardForm"
          viewBox="0 -960 960 960"
        >
          <path d="M447-448H208v-66h239v-239h66v239h239v66H513v239h-66v-239Z" />
        </svg>
      </ng-container>
      <ng-container *ngIf="editRewardId">
        <span>{{ "admin_rewards.update_reward" | translate }}</span>
      </ng-container>
      <!-- close icon -->
      <svg class="wrapper_add" viewBox="0 -960 960 960" *ngIf="showRewardForm">
        <path
          d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
        />
      </svg>
    </div>

    <div class="btn-container">
      <span
        >{{
          "admin_rewards.total_rewards"
            | translate : { totalRewards: rewardList.length }
        }}
      </span>
    </div>
  </div>

  <div class="buttons">
    <div class="btn-container" (click)="toggleSearch()">
      <span>{{ "admin_rewards.search_btn" | translate }}</span>

      <!-- search icon -->

      <svg *ngIf="!showSearch" class="wrapper_filter" viewBox="0 -960 960 960">
        <path
          d="M788.38-127.85 535.92-380.31q-30 24.54-73.5 38.04t-83.88 13.5q-106.1 0-179.67-73.53-73.56-73.53-73.56-179.57 0-106.05 73.53-179.71 73.53-73.65 179.57-73.65 106.05 0 179.71 73.56Q631.77-688.1 631.77-582q0 42.69-13.27 83.69t-37.27 70.69l253.46 253.47-46.31 46.3ZM378.54-394.77q79.61 0 133.42-53.81 53.81-53.8 53.81-133.42 0-79.62-53.81-133.42-53.81-53.81-133.42-53.81-79.62 0-133.42 53.81-53.81 53.8-53.81 133.42 0 79.62 53.81 133.42 53.8 53.81 133.42 53.81Z"
        />
      </svg>
      <!-- close -->
      <svg class="wrapper_filter" *ngIf="showSearch" viewBox="0 -960 960 960">
        <path
          d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
        />
      </svg>
    </div>
  </div>
  <div class="input-field" *ngIf="showSearch">
    <form [formGroup]="searchForm" class="form__group" id="searchForm">
      <input
        type="input"
        class="form__field"
        [placeholder]="'admin_rewards.placeholders.search' | translate"
        name="search"
        formControlName="search"
        id="search"
      />
      <label for="search" class="form__label">
        <svg class="search-icon" viewBox="0 -960 960 960">
          <path
            d="M788.38-127.85 535.92-380.31q-30 24.54-73.5 38.04t-83.88 13.5q-106.1 0-179.67-73.53-73.56-73.53-73.56-179.57 0-106.05 73.53-179.71 73.53-73.65 179.57-73.65 106.05 0 179.71 73.56Q631.77-688.1 631.77-582q0 42.69-13.27 83.69t-37.27 70.69l253.46 253.47-46.31 46.3ZM378.54-394.77q79.61 0 133.42-53.81 53.81-53.8 53.81-133.42 0-79.62-53.81-133.42-53.81-53.81-133.42-53.81-79.62 0-133.42 53.81-53.81 53.8-53.81 133.42 0 79.62 53.81 133.42 53.8 53.81 133.42 53.81Z"
          />
        </svg>
        {{ "admin_rewards.labels.search" | translate }}</label
      >
    </form>
  </div>

  <form [formGroup]="form" *ngIf="showRewardForm">
    <div class="reward-container surface-elevated">
      <div class="close-container">
        <!-- close icon -->
        <svg
          class="input-remove"
          (click)="toggleRewardForm()"
          viewBox="0 -960 960 960"
          *ngIf="showRewardForm"
        >
          <path
            d="M252-203.69 205.69-252l227-228-227-230L252-758.31l229 230 227-230L754.31-710l-227 230 227 228L708-203.69l-227-230-229 230Z"
          />
        </svg>
      </div>
      <div class="wrapper">
        <div class="inputs">
          <div class="upload-icon surface-elevated">
            <input
              type="file"
              id="file-upload"
              accept="image/*"
              (change)="onFileSelected($event)"
              class="surface-elevated"
            />
            <label for="file-upload">
              <div class="image-preview">
                <img
                  [src]="imagePreview || '/shared/assets/images/upload_img.svg'"
                  alt="Selected Image"
                />
              </div>
            </label>
          </div>
          <div class="input-field">
            <label for="level" class="required">
              {{ "admin_rewards.labels.select_level" | translate }}</label
            >

            <ng-select
              [items]="rewardLevels"
              bindValue="id"
              bindLabel="name"
              [placeholder]="
                'admin_rewards.placeholders.select_level' | translate
              "
              [searchable]="true"
              formControlName="selectedLevel"
              class="app-select-long surface-elevated"
            >
            </ng-select>
          </div>
          <div class="input-group">
            <div class="input-field">
              <label for="requiredPoints input-label" class="required">
                {{ "admin_rewards.labels.required_points" | translate }}
                <!-- lock icon -->
                <svg
                  *ngIf="form.controls.requiredPoints.disabled"
                  class="locked"
                  viewBox="0 -960 960 960"
                >
                  <path
                    d="M260.62-76q-38.85 0-64.74-25.88Q170-127.77 170-166.62v-358.76q0-38.85 25.88-64.74Q221.77-616 260.62-616H292v-80q0-79.85 54.77-134.92Q401.53-886 480-886t133.23 55.08Q668-775.85 668-696v80h31.38q38.85 0 64.74 25.88Q790-564.23 790-525.38v358.76q0 38.85-25.88 64.74Q738.23-76 699.38-76H260.62Zm0-66h438.76q10.77 0 17.7-6.92 6.92-6.93 6.92-17.7v-358.76q0-10.77-6.92-17.7-6.93-6.92-17.7-6.92H260.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.7v358.76q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92Zm219.54-128q31.15 0 52.49-21.51Q554-313.01 554-344.16t-21.51-52.49Q510.99-418 479.84-418t-52.49 21.51Q406-374.99 406-343.84t21.51 52.49Q449.01-270 480.16-270ZM358-616h244v-80q0-51-35.62-87.5t-86.5-36.5q-50.88 0-86.38 36.5Q358-747 358-696v80ZM236-142v-408 408Z"
                  />
                </svg>
              </label>

              <ng-select
                [items]="rewardRequiredPointList"
                bindValue="id"
                bindLabel="name"
                [placeholder]="
                  'admin_rewards.placeholders.required_points' | translate
                "
                [searchable]="true"
                formControlName="requiredPoints"
                [disabled]="form.controls.requiredPoints.disabled"
                class="app-select-long surface-elevated"
              >
              </ng-select>
            </div>
            <div class="input-field input-with-symbol">
              <label for="cashEquivalent" class="required">{{
                "admin_rewards.labels.cash_equivalent" | translate
              }}</label>
              <input
                name="cashEquivalent"
                [placeholder]="
                  'admin_rewards.placeholders.cash_equivalent' | translate
                "
                type="number"
                id="cashEquivalent"
                formControlName="cashEquivalent"
                class="surface-elevated"
              />
              <span class="symbol">$</span>
            </div>
          </div>

          <div class="input-field">
            <div class="label-row">
              <label for="description" class="required">{{
                "admin_rewards.labels.name" | translate
              }}</label>
              <div class="lang-buttons">
                <button
                  type="button"
                  [class.active]="currentLangName === 'EN'"
                  (click)="setLangName('EN')"
                  [class.missing]="!form.get('name_en')?.value"
                >
                  <svg
                    viewBox="0 0 24 16"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                  >
                    <rect width="24" height="16" fill="#012169" />
                    <path
                      d="M0 0L24 16M24 0L0 16"
                      stroke="#FFF"
                      stroke-width="2"
                    />
                    <path
                      d="M0 0L24 16M24 0L0 16"
                      stroke="#C8102E"
                      stroke-width="1"
                    />
                    <rect x="10" width="4" height="16" fill="#FFF" />
                    <rect y="6" width="24" height="4" fill="#FFF" />
                    <rect x="11" width="2" height="16" fill="#C8102E" />
                    <rect y="7" width="24" height="2" fill="#C8102E" />
                  </svg>
                </button>
                <button
                  type="button"
                  [class.active]="currentLangName === 'BG'"
                  (click)="setLangName('BG')"
                  [class.missing]="!form.get('name_bg')?.value"
                >
                  <svg
                    viewBox="0 0 24 16"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                  >
                    <rect width="24" height="5.33" fill="#fff" />
                    <rect y="5.33" width="24" height="5.33" fill="#00966e" />
                    <rect y="10.66" width="24" height="5.34" fill="#d62612" />
                  </svg>
                </button>
              </div>
            </div>

            <input
              *ngIf="currentLangName === 'EN'"
              name="name"
              [placeholder]="'admin_rewards.placeholders.name_en' | translate"
              type="text"
              id="name"
              class="surface-elevated"
              formControlName="name_en"
            />
            <input
              *ngIf="currentLangName === 'BG'"
              name="name"
              [placeholder]="'admin_rewards.placeholders.name_bg' | translate"
              type="text"
              id="name"
              class="surface-elevated"
              formControlName="name_bg"
            />
          </div>

          <div class="input-field">
            <div class="label-row">
              <label for="description" class="required">{{
                "admin_rewards.labels.description" | translate
              }}</label>
              <div class="lang-buttons">
                <button
                  type="button"
                  [class.active]="currentLangDescription === 'EN'"
                  (click)="setLangDescription('EN')"
                  [class.missing]="!form.get('description_en')?.value"
                >
                  <svg
                    viewBox="0 0 24 16"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                  >
                    <rect width="24" height="16" fill="#012169" />
                    <path
                      d="M0 0L24 16M24 0L0 16"
                      stroke="#FFF"
                      stroke-width="2"
                    />
                    <path
                      d="M0 0L24 16M24 0L0 16"
                      stroke="#C8102E"
                      stroke-width="1"
                    />
                    <rect x="10" width="4" height="16" fill="#FFF" />
                    <rect y="6" width="24" height="4" fill="#FFF" />
                    <rect x="11" width="2" height="16" fill="#C8102E" />
                    <rect y="7" width="24" height="2" fill="#C8102E" />
                  </svg>
                </button>
                <button
                  type="button"
                  [class.active]="currentLangDescription === 'BG'"
                  (click)="setLangDescription('BG')"
                  [class.missing]="!form.get('description_bg')?.value"
                >
                  <svg
                    viewBox="0 0 24 16"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                  >
                    <rect width="24" height="5.33" fill="#fff" />
                    <rect y="5.33" width="24" height="5.33" fill="#00966e" />
                    <rect y="10.66" width="24" height="5.34" fill="#d62612" />
                  </svg>
                </button>
              </div>
            </div>
            <textarea
              *ngIf="currentLangDescription === 'EN'"
              [placeholder]="
                'admin_rewards.placeholders.description_en' | translate
              "
              formControlName="description_en"
              #descAreaEn
              class="expand-textarea-mobile surface-elevated"
            ></textarea>

            <!-- BG Textarea -->
            <textarea
              *ngIf="currentLangDescription === 'BG'"
              [placeholder]="
                'admin_rewards.placeholders.description_bg' | translate
              "
              formControlName="description_bg"
              #descAreaBg
              class="expand-textarea-mobile surface-elevated"
            ></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="getFirstErrorMessage()" class="errors">
        {{ getFirstErrorMessage() }}
      </div>

      <button
        [disabled]="this.form.invalid"
        type="button"
        class="btn btn-gray create-btn"
        *ngIf="!this.editRewardId"
        (click)="onAddReward()"
        [ngClass]="{
          'btn-border-green': this.form.valid,
          'btn-font-green': this.form.valid,
          'btn-border-red': this.form.invalid,
          'btn-font-red': this.form.invalid
        }"
      >
        {{ "admin_rewards.create_btn" | translate }}
      </button>

      <button
        [disabled]="this.form.invalid"
        type="button"
        class="btn btn-gray create-btn"
        *ngIf="this.editRewardId"
        (click)="onUpdateReward()"
        [ngClass]="{
          'btn-border-yellow': this.form.valid,
          'btn-font-yellow': this.form.valid,
          'btn-border-red': this.form.invalid,
          'btn-font-red': this.form.invalid
        }"
      >
        {{ "admin_rewards.update_btn" | translate }}
      </button>
    </div>
  </form>
</div>

<ng-container *ngIf="rewardList.length === 0">
  <span class="reward-list-empty">
    {{ "admin_rewards.no_rewards" | translate }}<br />
    <strong>{{ "admin_rewards.no_rewards_desc_1" | translate }}</strong
    >{{ "admin_rewards.no_rewards_desc_2" | translate }}
  </span>
</ng-container>

<section class="wrapper_library">
  <div
    *ngFor="let reward of rewardList"
    class="wrapper_library__item surface-elevated"
    [ngClass]="{ 'wrapper_library__item-active': reward.id === editRewardId }"
  >
    <div class="wrapper_image">
      <img
        [src]="reward.imageUrl"
        alt="Reward Image"
      />
    </div>
    <div class="wrapper_info">
      <div class="wrapper_title">
        {{
          currentLanguage === SupportLanguages.EN
            ? reward.name_EN
            : reward.name_BG
        }}
        <div class="wrapper_description">
          {{
            currentLanguage === SupportLanguages.EN
              ? reward.description_EN
              : reward.description_BG
          }}
        </div>
        <div class="wrapper_description">
          {{
            reward.cashEquivalent
              | currency : ("admin_rewards.currency" | translate)
          }}
        </div>
      </div>
      <div class="wrapper_right">
        <!-- edit icon -->
        <svg
          class="icon"
          (click)="fillEditRewardForm(reward.id)"
          viewBox="0 -960 960 960"
        >
          <path
            d="M194-194h43.92l407.93-407.92-43.93-42.93L194-236.92V-194Zm-66 66v-136.77l557.23-558.77q5.15-5.48 11.57-6.97 6.43-1.49 12.49-1.49 6.06 0 11.12.54 5.05.54 11.44 6.15l92.69 91.93q5.61 6.38 6.54 12 .92 5.63.92 12.25 0 6.13-1.74 12.06-1.74 5.92-6.72 11.07L264.77-128H128Zm626.77-581.31-45.46-44.46 45.46 44.46ZM624.5-623.5l-22.58-21.35 43.93 42.93-21.35-21.58Z"
          />
        </svg>
        <!-- delete icon -->
        <svg
          class="icon"
          (click)="openDeleteDialog(reward.id)"
          viewBox="0 -960 960 960"
        >
          <path
            d="M300.62-128q-38.85 0-64.74-25.88Q210-179.77 210-218.62V-724h-40v-66h188v-38.77h246V-790h188v66h-40v505.38q0 38.35-26.14 64.48Q699.73-128 661.38-128H300.62ZM686-724H276v505.38q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92h360.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93V-724ZM371.31-275h66v-368h-66v368Zm153.38 0h66v-368h-66v368ZM276-724v530-530Z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
