@use "../../../../shared/assets/styles/palette";

.input-field {
  .ng-touched.ng-invalid {
    border: none;
  }
  position: relative;
}
.input-label {
  position: relative;
}
.wrapper_search {
  background: palette.$main-blue-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.2rem;
  margin-bottom: 0.5rem;

  #search-btn {
    width: 1.5rem;
    height: 1.5rem;
    fill: palette.$main-font-color;
  }
}

.form__group {
  position: relative;

  margin: 0 auto;
  width: 90%;
  padding: 15px 0 0;

  .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid palette.$main-blue-color;
    outline: 0;
    font-size: small;
    color: palette.$main-font-color;
    padding: 0.6rem 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: palette.$main-blue-color;

    .search-icon {
      height: 1.3rem;
      width: 1.3rem;
      fill: palette.$main-blue-color;
      position: relative;
      top: 0.2rem;
      padding-right: 0.2rem;
      margin-top: 0.2rem;
    }
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: palette.$main-blue-color;
      font-weight: 700;
    }

    padding-bottom: 0.6rem;
    font-weight: 700;
    border-width: 3px;
    border-bottom: 2px solid palette.$main-blue-color;
  }
}
.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;

  .buttons {
    display: flex;
    justify-content: space-between;

    .btn-container {
      display: flex;
      align-items: center;
      margin: 0.75rem 0;

      .wrapper_filter {
        background: palette.$main-blue-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin: 0 0.2rem;
        padding: 0.1rem;
        fill: palette.$main-font-color;
      }
    }
  }
}
.reward-list-empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;
  width: 80%;
}

.locked {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 7.5rem;
  fill: palette.$main-icon-color;
}

.errors {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;

  .buttons {
    display: flex;
    justify-content: space-between;

    .btn-container {
      display: flex;
      align-items: center;
      margin: 0.75rem 0;

      .wrapper_add {
        background: palette.$main-red-color;
        fill: palette.$main-font-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin: 0 0.2rem;
      }
    }
  }

  .reward-container {
    border: 0.2rem dashed palette.$main-nav-color;
    border-radius: 1rem;
    padding: 0rem 1rem;
    padding-top: 0.7rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .inputs {
    display: flex;
    flex-direction: column;

    .upload-icon {
      background-color: #31313b;
      border-radius: 10px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      input[type="file"] {
        display: none;
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18rem;
        height: 18rem;
        cursor: pointer;

        img {
          width: 17rem;
          height: 17rem;
          object-fit: contain;
          border-radius: 0.7rem;
        }
      }
    }

    .input-group {
      .input-field input {
        padding: 0.6rem;
      }
    }
  }

  .create-btn {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .close-container {
    display: flex;
    justify-content: end;

    .input-remove {
      width: 1.5rem;
      height: 1.5rem;
      fill: palette.$main-font-color;
    }
  }
}

.wrapper_library {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-bottom: 7rem;
  margin: 0 auto;
  overflow-y: visible;

  &__item {
    position: relative;
    display: flex;
    border: 0.2rem dashed palette.$main-nav-color;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;

    .wrapper_info {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wrapper_title {
        padding-left: 1rem;
        font-size: large;
        padding-top: 0.2rem;
        align-self: baseline;
        word-break: break-word;

        .wrapper_description {
          padding-top: 0.5rem;
          width: 100%;
          font-size: 0.8rem;
          color: palette.$main-font-gray-color;
          word-break: break-word;
        }

        @media (min-width: 568px) {
          .wrapper_description {
            width: 85%;
          }
        }
      }

      .wrapper_right {
        display: flex;
        display: flex;
        align-items: center;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
          fill: palette.$main-font-color;
          margin-left: 1rem;
        }
      }
    }

    .wrapper_image {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        min-width: 3rem;
        min-height: 3rem;
        object-fit: contain;
      }
    }
  }

  &__item-active {
    border: 0.2rem dashed palette.$main-blue-color;
  }
}

.input-field {
  .label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;

    .lang-buttons {
      display: flex;
      gap: 0.4rem;

      button {
        background-color: palette.$main-nav-color;
        color: palette.$main-font-color;
        border: 0.1rem solid palette.$main-blue-color;
        border-radius: 0.3rem;
        padding: 0.2rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;

        svg {
          display: flex;
          width: 2rem;
          height: 1.25rem;
        }
        &.active {
          background-color: palette.$main-blue-color;
          color: white;
        }

        &.missing {
          border-color: palette.$main-red-color;
          color: palette.$main-red-color;
        }
      }
    }
  }
}
