@use "../../../../shared/assets/styles/palette";

.challenges-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 15px;
  margin-bottom: 10rem;
}

.challenge-card {
  border: 0.2rem dashed #31313b;
  border-radius: 1rem;
  color: palette.$main-font-color;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  }
}

.challenge-body {
  width: 100%;
  text-align: left;

  .name-content {
    text-align: center;
    margin: 1rem;
    word-break: break-word;
  }

  .description-content {
    text-align: center;
    margin: 1rem;
    word-break: break-word;
  }

  .input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    input {
      width: 20%;
      text-align: center;
      padding: 0.3rem;
    }
  }
}

.challenge-action {
  margin-top: 8px;
  padding: 5px 10px;
  width: 100%;
}
