<app-header
  [header]="'challenge_management.challenges_header' | translate"
  [withQRcode]="true"
>
  <app-nav-bar
    [columns]="[
      {
        name: ('challenge_management.columns.weekly' | translate),
        link: 'challenges/home',
        isActive: false
      },
      {
        name: ('challenge_management.columns.rewards' | translate),
        link: 'challenges/rewards',
        isActive: false
      },
      {
        name: ('challenge_management.columns.streaks' | translate),
        link: 'challenges/streaks',
        isActive: true
      }
    ]"
  ></app-nav-bar
></app-header>

<div class="streak-toggle">
  <div class="toggle-track">
    <div
      class="toggle-thumb"
      [class.right]="activeTab === StreakPageType.Leaderboard"
    ></div>
    <button
      class="toggle-button"
      [class.active]="activeTab === StreakPageType.Streak"
      (click)="switchTab(StreakPageType.Streak)"
    >
      Streak
    </button>
    <button
      class="toggle-button"
      [class.active]="activeTab === StreakPageType.Leaderboard"
      (click)="switchTab(StreakPageType.Leaderboard)"
    >
      Leaderboard
    </button>
  </div>
</div>

<!-- Show streak milestones when on Streak tab -->
<div *ngIf="activeTab === StreakPageType.Streak">
  <!-- Your streak milestones component / content -->
  <app-streak-milestones></app-streak-milestones>
</div>

<!-- Show leaderboard when on Leaderboard tab -->
<div *ngIf="activeTab === StreakPageType.Leaderboard">
  <app-leaderboard-streak></app-leaderboard-streak>
</div>