@use "../../../../shared/assets/styles/palette";

.streak-toggle {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  .toggle-track {
    position: relative;
    display: flex;
    width: 16rem; // smaller width
    border-radius: 2rem;
    background: palette.$main-gray-color;
    padding: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }

  .toggle-thumb {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 7.5rem;
    height: 1.75rem;
    background: palette.$main-blue-color;
    border-radius: 2rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 12px rgba(117, 160, 255, 0.6);

    &.right {
      left: calc(100% - 8.25rem);
    }
  }

  .toggle-button {
    flex: 1;
    background: transparent;
    border: none;
    color: palette.$main-font-gray-color;
    font-weight: 600;
    font-size: 14px;
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;

    &.active {
      color: palette.$main-font-color;
      transform: scale(1.05);
    }
  }
}
