@use "../../../../shared/assets/styles/palette";

.dialog-container {
  color: palette.$main-font-color;
  background-color: palette.$main-nav-color;
  // height: 25rem;

  .header {
    margin: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid palette.$main-icon-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  }
  &__header {
    font-size: 1.5rem;
  }

  &__close {
  }

  mat-dialog-actions {
    display: flex;
    justify-content: end;
  }

  button {
    margin: 0.4rem;
  }
  .no-items {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .items {
    overflow: auto;
    height: 25rem;
  }

  .links {
    display: flex;
    justify-content: space-around;
    .link {
      border-bottom: 0.2rem solid palette.$main-blue-color;
      text-decoration: none;
    }

    .disable {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }
  .item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #505061;
    padding: 1rem;
    border-radius: 1rem;

    .text {
      word-wrap: break-word;
    }
  }

  .item-viewed {
    opacity: 0.5;
  }
}
