<div class="dialog-container" @dialogAnimation>
  <div class="header">
    <span class="dialog-container__header">Notifications</span>
    <span
      class="material-symbols-outlined dialog-container__close"
      mat-dialog-close
    >
      close
    </span>
  </div>
  <div class="items">
    <div class="no-items" *ngIf="this.userNotifications.length === 0">
      <p>🎉 "You’re all caught up, Champion! 🎉</p>
      No new notifications for now — stay sharp, the next challenge could be
      just around the corner!" 🏆✨
    </div>
    <ng-container *ngIf="this.userNotifications.length !== 0">
      <div
        class="item"
        [ngClass]="
        item.hasBeenViewed ? 'item-viewed' : ''"
        (click)="markedAsViewed(item.id, item.hasBeenViewed)"
        *ngFor="let item of userNotifications"
      >
        <p class="type">{{item.messageTitle}}</p>

        <span class="date">{{item.createdDate| date: DATE_TIME_FORMAT }}</span>
        <span class="text">{{item.messageBody}}</span>
      </div>
    </ng-container>
  </div>
</div>
