<div class="dialog-container" @dialogAnimation>
  <div class="header">
    <span class="dialog-container__header">Notifications</span>
    <span
      class="material-symbols-outlined dialog-container__close"
      mat-dialog-close
    >
      close
    </span>
  </div>
  <div class="items">
    <div class="item">
      <p class="type">Welcome Register Message</p>

      <span class="date">23/03/2023 12:33:33</span>
      <span class="text">Hey Rap4obg welcome on the table.</span>
    </div>

    <div class="item">
      <p class="type">Welcome Register Message</p>

      <span class="date">23/03/2023 12:33:33</span>
      <span class="text">Hey Rap4obg welcome on the table.</span>
    </div>

    <div class="item">
      <p class="type">Welcome Register Message</p>

      <span class="date">23/03/2023 12:33:33</span>
      <span class="text">Hey Rap4obg welcome on the table.</span>
    </div>

    <div class="item">
      <p class="type">Welcome Register Message</p>

      <span class="date">23/03/2023 12:33:33</span>
      <span class="text">Hey Rap4obg welcome on the table.</span>
    </div>
<!-- 
    <div class="item">
      <p class="type">Welcome Register Message</p>

      <span class="date">23/03/2023 12:33:33</span>
      <span class="text">Hey Rap4obg welcome on the table.</span>
    </div>

    <div class="item">
      <p class="type">Welcome Register Message</p>

      <span class="date">23/03/2023 12:33:33</span>
      <span class="text">Hey Rap4obg welcome on the table.</span>
    </div>

    <div class="item">
      <p class="type">Welcome Register Message</p>

      <span class="date">23/03/2023 12:33:33</span>
      <span class="text">Hey Rap4obg welcome on the table.</span>
    </div> -->
  </div>
</div>
