<app-reservation-history-filters
  (expandedReservationIdReset)="expandedReservationIdReset()"
  (updateHistory)="updateHistory($event)"
></app-reservation-history-filters>

<app-reservation-history-actions
  [historyList]="reservedTables$"
  [expandedReservationId]="this.expandedReservationId"
  (updateReservationHistoryById)="updateReservation($event)"
  (deleteReservationHistoryById)="deleteReservation($event)"
  (approveReservationHistory)="approveReservation($event)"
  (declineReservationHistory)="declineReservation($event)"
  [selectedFilter]="this.selectedFilter.value"
>
  <ng-template let-reservation>
    <div class="wrapper_info">
      <div class="wrapper_title">
        <div class="wrapper_description">
          <p>
            Created At:
            {{ reservation.createdDate | date : DATE_TIME_FORMAT }}
          </p>
        </div>
        <span class="blue">{{ reservation.username }}</span> has booked a table
        <p>
          <span class="blue">{{ reservation.numberOfGuests }}</span>
          {{ reservation.numberOfGuests === 1 ? "person" : "people" }}
        </p>
        <div class="wrapper_description">
          <p>
            Reservation Date:
            <strong class="blue">{{
              reservation.reservationDate | date : DATE_TIME_FORMAT
            }}</strong>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</app-reservation-history-actions>
