<app-reservation-history-filters
  (expandedReservationIdReset)="expandedReservationIdReset()"
  (updateHistory)="updateHistory($event)"
></app-reservation-history-filters>

<app-reservation-history-actions
  [historyList]="reservedTables$"
  [expandedReservationId]="this.expandedReservationId"
  (updateReservationHistoryById)="updateReservation($event)"
  (deleteReservationHistoryById)="deleteReservation($event)"
  (approveReservationHistory)="approveReservation($event)"
  (declineReservationHistory)="declineReservation($event)"
  [selectedFilter]="this.selectedFilter.value"
>
  <ng-template let-reservation>
    <div class="wrapper_info">
      <div class="wrapper_title">
        <div class="wrapper_description">
          <p>
            {{
              "reservation_management.history.created_date"
                | translate
                  : {
                      createdDate:
                        reservation.createdDate
                        | date
                          : DATE_TIME_FORMAT
                          : undefined
                          : getCurrentLanguage
                    }
            }}
          </p>
        </div>
        <span class="blue">{{ reservation.username }}</span>
        {{ "reservation_management.history.has_booked_table" | translate }}
        <span class="blue">{{ reservation.numberOfGuests }}</span>
        {{
          reservation.numberOfGuests === 1
            ? ("reservation_management.history.person" | translate)
            : ("reservation_management.history.people" | translate)
        }}
        <div class="wrapper_description">
          <p>
            {{ "reservation_management.history.reservation_date" | translate }}
            <strong class="blue">{{
              reservation.reservationDate
                | date : DATE_TIME_FORMAT : undefined : getCurrentLanguage
            }}</strong>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</app-reservation-history-actions>
