<app-header
  Recommended="Recommended"
  [withSearch]="true"
  [withMenu]="(isAdmin$ | async) ?? false"
  [menuItems]="menuItems"
  [menuItemClickFunction]="handleMenuItemClick"
  (searchExpressionResult)="handleSearchExpression($event)"
>
  <app-nav-bar
    [columns]="[
      {
        name: 'Popular',
        link: 'games/library',
        isActive: isActiveLink('/games/library')
      },
      {
        name: 'Categories',
        link: 'games/categories',
        isActive: isActiveLink('/games/categories')
      },
      { name: 'New', link: 'games/new', isActive: isActiveLink('/games/new') }
    ]"
  ></app-nav-bar>
</app-header>

<app-controls-menu
  #menu
  [menuItems]="menuItems.asObservable()"
  (menuItemClick)="handleMenuItemClick($event.value)"
></app-controls-menu>

<router-outlet (activate)="onActivate($event)"></router-outlet>
