@use "../../../../shared/assets/styles/palette";

.wrapper_container {
    overflow: auto;
    margin-bottom: 2.5rem;

    .wrapper_image {
        text-align: center;
        margin: 1rem 0;

        img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .wrapper_header {
        text-align: center;
        font-size: 1.5rem;
        max-width: 100%;
        margin: 1rem;
    }

    .wrapper_chips {
        background-color: palette.$main-nav-color;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__detail {
            margin: 0.5rem;
            display: flex;
            justify-content: center;
            width: 45%;

            span {
                margin: 0 0.5rem;
            }
        }
    }

    .wrapper_btn {
        margin: 6rem 0;
        text-align: center;
    }

    .wrapper_lobby {
        text-align: center;
        margin: 1rem;
        overflow: auto;
        margin-bottom: 5rem;
        width: 90%;
        height: 100%;


        .form__group {
            position: relative;
            display: flex;
            margin: 0 auto;
            width: 90%;
            padding: 10px 0 0;
            align-items: center;

            .form__field {
                background-color: palette.$main-nav-color;
                width: 100%;
                border: 0;
                outline: 0;
                font-size: small;
                color: palette.$main-font-color;
                padding: 0.7rem 1rem;
                border-radius: 3rem;
                transition: border-color 0.2s;


                &::placeholder {
                    color: transparent;
                }

                &:placeholder-shown~.form__label {
                    font-size: 1rem;
                    cursor: text;
                    top: 20px;
                }
            }

            .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 1rem;
                color: palette.$main-font-gray-color;
                padding-left: 1rem;

            }

            .form__field:focus {
                ~.form__label {
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.2s;
                    font-size: 0.8rem;
                    color: palette.$main-font-gray-color;
                    font-weight: 700;
                }

                padding-bottom: 0.6rem;
                font-weight: 700;
                border-width: 3px;
            }
        }


        &__header {
            font-size: 1.25rem;
        }

        &__left-chat {
            margin: 1rem 0;

            .item {
                margin: 1rem 0;

                display: flex;
                align-items: start;

                span {
                    border-radius: 0.5rem;
                    padding: 0.5rem 0.4rem;
                    display: inline;
                    background-color: palette.$main-nav-color;
                    max-width: 70%;
                    text-align: start;
                }

                &__image {
                    text-align: center;
                    margin: 0.2rem;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        object-fit: cover;
                        border-radius: 5rem;
                    }
                }
            }
        }

        &__right-chat {
            margin: 1rem 0;

            .item {
                margin: 1rem 0;
                display: flex;
                justify-content: end;

                span {
                    border-radius: 0.5rem;
                    padding: 0.5rem 0.4rem;
                    display: inline;
                    background-color: palette.$main-nav-color;
                    max-width: 70%;
                    text-align: end;

                    direction: rtl;
                }

                &__image {
                    text-align: center;
                    margin: 0.2rem;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        object-fit: cover;
                        border-radius: 5rem;
                    }
                }
            }
        }
    }
}