<div class="wrapper_container" *ngIf="room">
  <div class="wrapper_icons">
    <span (click)="backNavigateBtn()" class="arrow left"></span>
    <span class="header_name">{{ room.name }}</span>
    <!-- TOOD: Add menu based on the isCurrentUserParticipateInRoom and room.CreatedBy 
     different option will be visible on the menu

     for owner of the group: Group Members, Delete Group
     for participant of the group: Group Members Leave Group
      -->
    <span
      *ngIf="isCurrentUserParticipateInRoom && room.createdBy !== currentUserId()"
      class="material-symbols-outlined exit"
      (click)="onLeaveRoom()"
    >
      exit_to_app
    </span>
    <span
      *ngIf="!isCurrentUserParticipateInRoom"
      class="material-symbols-outlined details"
      (click)="navigateToGameDetails(room.gameId)"
    >
      info
    </span>
    <span
      *ngIf="room.createdBy === currentUserId() && isCurrentUserParticipateInRoom"
      class="material-symbols-outlined details"
      (click)="onDeleteRoom()"
    >
      delete_forever
    </span>
  </div>

  <div class="wrapper_image">
    <img [src]="room.gameImageId | gameImage" alt="" />
  </div>

  <div class="wrapper_header">from: {{ room.username }}</div>

  <div class="wrapper_chips">
    <div class="wrapper_chips__detail">
      <span>joined</span>
      <app-chip
        size="small"
        color="orange"
        [text]="room.joinedParticipants.toString()"
      ></app-chip>
    </div>
    <div class="wrapper_chips__detail">
      <app-chip
        size="small"
        color="blue"
        text="{{ room.startDate | date : 'dd/MM/yyyy' }}"
      ></app-chip>
      <span>date</span>
    </div>
    <div class="wrapper_chips__detail">
      <span>max</span>
      <app-chip
        size="small"
        color="red"
        [text]="room.maxParticipants.toString()"
      ></app-chip>
    </div>
    <div class="wrapper_chips__detail">
      <app-chip
        size="small"
        color="yellow"
        text="{{ room.startDate | date : 'H:mm' }}"
      ></app-chip>
      <span>time</span>
    </div>
  </div>

  <ng-container *ngIf="isCurrentUserParticipateInRoom">
    <div class="wrapper_tabs">
      <div class="wrapper_tabs__tab" (click)="navigateToChat(room.id)">
        <div class="info">
          <span class="material-symbols-outlined"> chat </span>
        </div>
        <span class="wrapper_tabs__tab-header">Open Chat</span>
      </div>
      <div
        class="wrapper_tabs__tab"
        (click)="navigateToGameDetails(room.gameId)"
      >
        <div class="info">
          <span class="material-symbols-outlined"> info </span>
        </div>
        <span class="wrapper_tabs__tab-header">See Game Details</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isCurrentUserParticipateInRoom">
    <div class="wrapper_btn">
      <button class="btn btn-green" (click)="onJoinRoom()">Join the Room</button>
    </div>
  </ng-container>
</div>
