@use "../../../../shared/assets/styles/palette";

.input-field {
  .ng-touched.ng-invalid {
    border: none;
  }
}

.errors {
  display: flex;
  justify-content: center;
}

.challenge-list-empty{
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;

  .buttons {
    display: flex;
    justify-content: space-between;

    .btn-container {
      display: flex;
      align-items: center;
      margin: 0.75rem 0;

      .wrapper_add {
        background: palette.$main-red-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin: 0 0.2rem;
        fill: palette.$main-font-color;
      }

      .wrapper_filter {
        background: palette.$main-blue-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin: 0 0.2rem;
        fill: palette.$main-font-color;
      }
    }
  }

  .reward-container {
    border: 0.2rem dashed palette.$main-nav-color;
    border-radius: 1rem;
    padding: 0rem 1rem;
    padding-top: 0.7rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .inputs {
    display: flex;
    flex-direction: column;

    .input-group {
      .input-field input {
        padding: 0.6rem;
      }

      .input-field label {
        // font-size: 0.7rem;
        color: palette.$main-font-gray-color;
      }
    }
  }

  .create-btn {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .close-container {
    display: flex;
    justify-content: end;

    .input-remove {
      font-weight: bold;
      width: 1.5rem;
      height: 1.5rem;
      fill: palette.$main-font-color;
    }
  }
}

.wrapper_library {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-bottom: 7rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  overflow-y: visible;

  &__item {
    position: relative;
    display: flex;
    border: 0.2rem dashed palette.$main-nav-color;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;

    .wrapper_info {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wrapper_title {
        padding-left: 1rem;
        font-size: large;
        padding-top: 0.2rem;
        align-self: baseline;
        word-break: break-word;

        .wrapper_description {
          padding-top: 0.5rem;
          width: 100%;
          font-size: 0.8rem;
          color: palette.$main-font-gray-color;
        word-break: break-word;
        }

        @media (min-width: 568px) {
          .wrapper_description {
            width: 85%;
          }
        }
      }

      .wrapper_right {
        display: flex;
        display: flex;
        align-items: center;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
          fill: palette.$main-font-color;
          margin-left: 1rem;
        }
      }
    }

    .wrapper_image {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        min-width: 3rem;
        min-height: 3rem;
        object-fit: contain;
      }
    }
  }

  &__item-active {
    border: 0.2rem dashed palette.$main-blue-color;
  }
}
