<div class="container">
  <div class="buttons">
    <div class="btn-container" (click)="toggleChallengeForm()">
      <ng-container *ngIf="!editChallengeId">
        <span>Add Challenge</span>
        <span
          *ngIf="!showChallengeForm"
          class="material-symbols-outlined wrapper_add"
        >
          add
        </span>
      </ng-container>
      <ng-container *ngIf="editChallengeId">
        <span>Update Challenge</span>
        <span
          *ngIf="!showChallengeForm"
          class="material-symbols-outlined wrapper_add"
        >
          edit
        </span>
      </ng-container>
      <span
        *ngIf="showChallengeForm"
        class="material-symbols-outlined wrapper_add"
      >
        close
      </span>
    </div>

    <div class="btn-container">
      <span>Total: {{ challengeList.length }}</span>
    </div>
  </div>
  <div class="buttons">
    <div class="btn-container" (click)="toggleFilter()">
      <span *ngIf="filterGameIds.length !== 0"
        >Selected Games: {{ filterGameIds.length }}</span
      >
      <span *ngIf="filterGameIds.length === 0">Filter By Game</span>
      <span
        *ngIf="!showFilter"
        class="material-symbols-outlined wrapper_filter"
      >
        filter_alt
      </span>
      <span *ngIf="showFilter" class="material-symbols-outlined wrapper_filter">
        close
      </span>
    </div>
  </div>
  <div class="input-field" *ngIf="showFilter">
    <ng-select
      [items]="gameList"
      bindLabel="name"
      placeholder="Select Game"
      [searchable]="true"
      class="app-select-long"
      [multiple]="true"
      [closeOnSelect]="false"
      [(ngModel)]="this.filterGameIds"
      (change)="fetchChallengeList()"
    >
    </ng-select>
  </div>

  <form [formGroup]="form" *ngIf="showChallengeForm">
    <div class="reward-container">
      <div class="close-container">
        <span
          class="material-symbols-outlined input-remove"
          (click)="toggleChallengeForm()"
        >
          close
        </span>
      </div>
      <div class="wrapper">
        <div class="inputs">
          <div class="input-group">
            <div class="input-field">
              <label for="game" class="required">Choose Game</label>

              <ng-select
                [items]="gameList"
                bindLabel="name"
                bindValue="id"
                placeholder="Select Game"
                [searchable]="true"
                formControlName="selectedGame"
                class="app-select"
              >
              </ng-select>
            </div>

            <div class="input-field">
              <label for="rewardPoints" class="required">Points</label>
              <ng-select
                [items]="challengeRewardPointList"
                bindLabel="name"
                bindValue="id"
                placeholder="..."
                [searchable]="true"
                formControlName="rewardPoints"
                class="app-select-long"
              >
              </ng-select>
            </div>
          </div>

          <div class="input-group">
            <div class="input-field">
              <label for="attempts" class="required">Attempts</label>
              <input
                name="attempts"
                placeholder="..."
                type="number"
                formControlName="attempts"
              />
            </div>

            <div class="input-field">
              <label for="type" class="required">Type</label>

              <ng-select
                [items]="challengeTypeList"
                bindValue="id"
                bindLabel="name"
                placeholder="Type"
                [searchable]="true"
                formControlName="type"
                class="app-select"
              >
              </ng-select>
            </div>
          </div>

          <div class="input-field">
            <label for="description" class="required">Description</label>
            <input
              name="description"
              placeholder="description"
              type="text"
              formControlName="description"
            />
          </div>
        </div>
      </div>

      <div *ngIf="getFirstErrorMessage()" class="errors">
        {{ getFirstErrorMessage() }}
      </div>

      <button
        *ngIf="!this.editChallengeId"
        [disabled]="this.form.invalid"
        type="button"
        class="btn btn-gray create-btn"
        (click)="onAddChallenge()"
        [ngClass]="{
          'btn-border-green': this.form.valid,
          'btn-font-green': this.form.valid,
          'btn-border-red': this.form.invalid,
          'btn-font-red': this.form.invalid
        }"
      >
        Create
      </button>

      <button
        *ngIf="this.editChallengeId"
        [disabled]="this.form.invalid"
        type="button"
        class="btn btn-gray create-btn"
        (click)="onUpdateChallenge()"
        [ngClass]="{
          'btn-border-yellow': this.form.valid,
          'btn-font-yellow': this.form.valid,
          'btn-border-red': this.form.invalid,
          'btn-font-red': this.form.invalid
        }"
      >
        Update
      </button>
    </div>
  </form>
</div>

<section class="wrapper_library">
  <div *ngFor="let challenge of challengeList" class="wrapper_library__item">
    <div class="wrapper_image">
      <img [src]="ImageEntityType.Games | entityImage : challenge.gameImageId | async" alt="Game Image" />
    </div>
    <div class="wrapper_info">
      <div class="wrapper_title">
        {{ challenge.type }}

        <div class="wrapper_description">
          Attempts: {{ challenge.attempts }}
        </div>
        <div class="wrapper_description">
          Reward: {{ challenge.rewardPoints }}
        </div>
        <div class="wrapper_description">
          {{ challenge.description }}
        </div>
      </div>
      <div class="wrapper_right">
        <span
          class="material-symbols-outlined icon"
          (click)="fillEditChallengeForm(challenge.id)"
        >
          edit
        </span>
        <span
          class="material-symbols-outlined icon"
          (click)="openDeleteDialog(challenge.id)"
        >
          delete
        </span>
      </div>
    </div>
  </div>
</section>
