@use "../../.././../../shared/assets/styles/palette";

.wrapper_filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      font-size: 0.65rem;
    }
  }
  .all {
    fill: palette.$main-blue-color;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
  }
  .accept {
    fill: palette.$main-green-color;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
  }

  .expired {
    fill: palette.$main-icon-color;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
  }

  .pending {
    fill: palette.$chip-yellow-color;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
  }

  .decline {
    fill: palette.$main-red-color;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
  }

  .active {
    .accept,
    .pending,
    .decline,
    .expired,
    .all {
      opacity: 1;
    }
    .text {
      color: palette.$main-blue-color;
    }
  }
}
